﻿<!DOCTYPE html>
<html lang="@Culture" ng-app="ndtApp">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/BackendStyle")
    @Scripts.Render("~/Scripts/BackendScripts")

    <script type="text/javascript">
        $(document).on('change', '.btn-file :file', function () {
            if ($(this)[0].files.length > 1) {
                $(this).parents('.input-group').find(':text').val($(this)[0].files.length + ' files');
            } else {
                $(this).parents('.input-group').find(':text').val($(this).val().replace(/\\/g, '/').replace(/.*\//, ''));
            }
        });
    </script>

</head>
<body class="admin">
    @{
        var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Admin";
        var currentAction = ViewContext.RouteData.Values["action"] as string ?? "managecategory";
    }
    <header class="admin-header-ctn">
        <nav class="admin-nav">
            <div class="nav-drawer-icon">
                <div class="line"></div>
            </div>

            <!-- #region Header Info -->

            <ul class="header-info">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="page-title"></li>
                    <li class="dropdown" style="float:right;">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="bootstrap-elements.html" data-target="#">
                            <span class="hidden-xs">@ViewBag.UserInfo.DisplayName</span>
                        </a>
                        <ul class="dropdown-menu">
                            @if (User.IsInRole("Host") || User.IsInRole("Admin"))
                            {
                                <li>
                                    @Html.ActionLink("Create User", "createuser", "account")
                                </li>
                                <li>
                                    @Html.ActionLink("Manage User", "manageuser", "account", null, null, null, new { type = "users" }, null)
                                </li>
                            }

                            @if (User.IsInRole("Host"))
                            {
                                
                                <li>
                                    @Html.ActionLink("Sql Script", "sqlscript", "admin")
                                </li>
                            }

                            <li>
                                @Html.ActionLink("Change password", "change-password", "account")
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                }
                            </li>
                        </ul>

                    </li>
                }
            </ul>

            <!-- #endregion -->

            <div style="clear:both;"></div>

            <!-- #region Drawer -->

            <div class="nav-drawer-ctn">
                <ul>
                    <li class="root-item">@Html.ActionLink("Home", "index", "home", null, new { @class = "item root" })</li>

                    <li class="sep"></li>

                    <li class="root-item">@Html.ActionLink("Thông tin website", "sitesettings", "admin", null, new { @class = "item site-settings" }) </li>

                    <li class="sep"></li>

                    @*<li class="root-item">@Html.ActionLink("Danh mục sản phẩm", "managecategory", "admin", null, null, null, new { type = "product" }, new { @class = "item product-category" }) </li>
                    <li class="root-item">@Html.ActionLink("Sản phẩm", "manageproduct", "admin", null, null, null, new { type = "product" }, new { @class = "item manage-product" }) </li>

                    <li class="sep"></li>*@

                    <li class="root-item">@Html.ActionLink("Banner", "managebanner", "admin", null, new { @class = "item manage-banner" }) </li>

                    <li class="sep"></li>

                    <li class="root-item">@Html.ActionLink("Dịch vụ", "managecontent", "admin", null, null, null, new { type = ContentTypesConst.Service }, new { @class = "item" }) </li>

                    <li class="sep"></li>

                    @*<li class="root-item">@Html.ActionLink("Danh mục dự án", "managecategory", "admin", null, null, null, new { type = ContentTypesConst.Project }, new { @class = "item" }) </li>*@
                    <li class="root-item">@Html.ActionLink("Dự án", "managecontent", "admin", null, null, null, new { type = ContentTypesConst.Project }, new { @class = "item" }) </li>

                    @*<li class="sep"></li>

                    <li class="root-item">@Html.ActionLink("Danh mục tin tức", "managecategory", "admin", null, null, null, new { type = "news" }, new { @class = "item news-category" }) </li>
                    <li class="root-item">@Html.ActionLink("Tin tức", "managecontent", "admin", null, null, null, new { type = ContentTypesConst.News }, new { @class = "item manage-news" }) </li>*@

                    <li class="sep"></li>

                    <li class="root-item">@Html.ActionLink("Giới thiệu", "singlecontent", "admin", null, null, null, new { type = ContentTypesConst.AboutUs }, new { @class = "item single-content" }) </li>

                    @*<li class="sep"></li>

                    <li class="root-item">@Html.ActionLink("Đơn hàng", "manageorders", "admin", null, null, null, new { type = "orders" }, new { @class = "item manage-orders" }) </li>*@

                    <li class="sep"></li>

                    <li class="root-item">@Html.ActionLink("Đội ngũ", "multicontentsimple", "admin", null, null, null, new { type = ContentTypesConst.Team }, new { @class = "item multi-content-simple" }) </li>

                    @*<li class="root-item">@Html.ActionLink("Youtube", "multicontentsimple", "admin", null, null, null, new { type = ContentTypesConst.Youtube }, new { @class = "item multi-content-simple" }) </li>
                    <li class="root-item">@Html.ActionLink("Link liên kết", "multicontentsimple", "admin", null, null, null, new { type = ContentTypesConst.ExternalLink }, new { @class = "item multi-content-simple" }) </li>
                    <li class="root-item">@Html.ActionLink("Banner quảng cáo", "multicontentsimple", "admin", null, null, null, new { type = ContentTypesConst.AdvertiseBanner }, new { @class = "item multi-content-simple" }) </li>*@

                    @*<li class="sep"></li>

                    <li class="root-item">@Html.ActionLink("Single 2 (Test)", "singlecontent", "admin", null, null, null, new { type = "test-single" }, new { @class = "item single-content" }) </li>*@

                    @if (User.IsInRole("Host"))
                    {
                        <li class="sep"></li>

                        <li class="root-item">@Html.ActionLink("Advanced Settings", "advancedsettings", "admin", null, null, null, null, new { @class = "item advanced-settings" }) </li>

                        <li class="sep"></li>

                        <li class="root-item">@Html.ActionLink("Logs", "managelog", "admin", null, null, null, null, new { @class = "item manage-log" }) </li>
                    }
                </ul>
            </div>

            <!-- #endregion -->
        </nav>
    </header>

    <div class="gb-page-width" style="padding:60px 0 40px;">
        @RenderBody()
    </div>

    <!-- #region Back Top -->

    <div id="back_top" class="back-top"></div>
    <script type="text/javascript">
        jQuery(function () {
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() > 300) {
                    jQuery('#back_top').fadeIn();
                } else {
                    jQuery('#back_top').fadeOut();
                }
            });

            jQuery('#back_top').click(function () {
                jQuery('body,html').animate({ scrollTop: 0 }, 100);
            });
        });
    </script>

    <!-- #endregion -->
</body>
</html>
