﻿<!DOCTYPE html>
<html lang="@Culture" ng-app="ndtApp">
<head>
    <title>@ViewBag.Title | @Html.Raw(Helpers.SiteSettings.Title)</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta name="description" content="@Html.Raw(Helpers.SiteSettings.Description)" />
    <meta name="keywords" content="@Html.Raw(Helpers.SiteSettings.Keywords)" />
    <meta name="copyright" content="@Html.Raw(Helpers.SiteSettings.Copyright)">

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=vietnamese" rel="stylesheet">

    @if (Helpers.SiteSettings.GoogleAnalytics.Length > 10)
    {
        <script>@Html.Raw(Helpers.SiteSettings.GoogleAnalytics)</script>
    }


    @Styles.Render("~/Content/SiteStyle")
    @Scripts.Render("~/Scripts/SiteScripts")

    <script>
        var EGMobile = window.innerWidth < 755 ? true : false;
    </script>


    @{
        string currentAction = ViewContext.RouteData.Values["action"].ToString() ?? "index";
        string Displayname = ViewBag.UserInfo.DisplayName;

        string IndexClass = "item index";
        if (currentAction == "Index")
        {
            IndexClass = "item index current";
        }
    }

</head>

<body ng-controller="shopCtrl" class="font-end">

    <!-- #region Header -->

    <header class="header-ctn">
        <div class="top-ctn">
            <div class="gb-page-width">

                <!-- #region Mobile Drawer -->

                <div class="nav-drawer-icon mobile-block">
                    <div class="line"></div>
                </div>

                <div class="nav-drawer-ctn mobile-block">
                    <ul class="root">
                        <li class="root">@Html.ActionLink("Trang chủ", "index", "home", null, new { @class = currentAction == "Index" ? "item about current" : "item about" })</li>
                        <li class="root">@Html.ActionLink("Giới thiệu", "gioi-thieu", "home", null, new { @class = currentAction == "GioiThieu" ? "item about current" : "item about" })</li>
                        <li class="root">
                            @Html.ActionLink("Dịch vụ", "dich-vu", "home", null, new { @class = currentAction == "DichVu" ? "item product current" : "item product" })
                            @Html.Action("_ListCategory", "Home", new { categoryType = ContentTypesConst.Service })
                        </li>
                        <li class="root">@Html.ActionLink("Dự án", "du-an", "home", null, new { @class = currentAction == "DuAn" ? "item news current" : "item news" })</li>
                        <li class="root">@Html.ActionLink("Liên hệ", "lien-he", "home", null, new { @class = currentAction == "LienHe" ? "item contact current" : "item contact" })</li>
                    </ul>

                    <div style="clear:both;height:50px;"></div>
                </div>

                <!-- #endregion -->

                <div class="logo-ctn"><a href="@Helpers.Domain"><img src="/s-media/@Helpers.SiteSettings.Logo" class="logo" /></a></div>

                <div style="clear:both;"></div>
            </div>
        </div>

        <div class="bottom-ctn desktop-block">
            <div class="gb-page-width">

                <!-- #region Desktop Nav -->

                <nav class="main-nav-ctn">
                    <ul>
                        <li class="root">@Html.ActionLink("Trang chủ", "index", "home", null, new { @class = currentAction == "Index" ? "item about current" : "item about" })</li>
                        <li class="root sep"></li>
                        <li class="root">@Html.ActionLink("Giới thiệu", "gioi-thieu", "home", null, new { @class = currentAction == "GioiThieu" ? "item about current" : "item about" })</li>
                        <li class="root sep"></li>
                        <li class="root">
                            @Html.ActionLink("Dịch vụ", "dich-vu", "home", null, new { @class = currentAction == "DichVu" ? "item product current" : "item product" })
                            @Html.Action("_ListCategory", "Home", new { categoryType = ContentTypesConst.Service })
                        </li>
                        <li class="root sep"></li>
                        <li class="root">@Html.ActionLink("Dự án", "du-an", "home", null, new { @class = currentAction == "DuAn" ? "item news current" : "item news" })</li>
                        <li class="root sep"></li>
                        <li class="root">@Html.ActionLink("Liên hệ", "lien-he", "home", null, new { @class = currentAction == "LienHe" ? "item contact current" : "item contact" })</li>
                    </ul>
                </nav>

                <!-- #endregion -->

                <div style="clear:both;"></div>

            </div>
        </div>
    </header>

    <!-- #endregion -->

    <!-- #region Body -->

    <div class="body-ctn">
        <div class="gb-breadcrumbs-ctn hidden-xs">
            <h1 class="gb-page-title">@ViewBag.PageName</h1>
            <div class="gb-page-title-underline"></div>
            <a href="/" class="gb-breadcrumbs has-link">Trang chủ</a><span class="gb-breadcrumbs has-sep">@ViewBag.PageName</span>
        </div>
        <script>
            $('.gb-page-title-underline').width($('.gb-page-title').width());
        </script>

        @RenderSection("banner", required: false)

        @RenderBody()
    </div>

    <!-- #endregion -->

    <!-- #region Bottom -->

    <div class="bottom-info-ctn">
        <div class="gb-page-width">
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="title">Thông Tin Liên Hệ</h2>
                    <p class="info-item">@Helpers.SiteSettings.CompanyName</p>
                    <p class="info-item">@Helpers.SiteSettings.Address</p>
                    <p class="info-item"><a href="tel:@Helpers.GetRawPhoneNumber(@Helpers.SiteSettings.Phone)">@Helpers.SiteSettings.Phone</a></p>
                    <p class="info-item"><a href="mailto:@Helpers.SiteSettings.Email">@Helpers.SiteSettings.Email</a></p>
                </div>
                <div class="col-sm-4">
                    <h4 class="title">Bản tin</h4>
                    <p class="info-item">Nhập Email để gia nhập danh sách gửi thư của chúng tôi</p>
                    <p class="info-item"><input type="text" class="gb-textbox radius txt-subscribe" placeholder="Email" /></p>
                    <p class="info-item text-right">
                        <span class="btn-subscribe">Gửi</span>
                    </p>
                </div>
                <div class="col-sm-4 social-column">
                    <h5 class="title">Mạng xã hội</h5>
                    <p class="info-item"><a href="@Helpers.SiteSettings.FaceBook" target="_blank" class="social-icon facebook">Facebook</a></p>
                    <p class="info-item"><a href="@Helpers.SiteSettings.Youtube" target="_blank" class="social-icon youtube">Youtube</a></p>
                    <p class="info-item"><a href="@Helpers.SiteSettings.GooglePlus" target="_blank" class="social-icon google">Google +</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- #endregion -->

    <!-- #region Footer -->

    <footer class="footer-ctn">
        <div class="gb-page-width">
            <ul class="foot-nav hidden-xs">
                <li class="root">@Html.ActionLink("Trang chủ", "index", "home", null, new { @class = currentAction == "Index" ? "item about current" : "item about" })</li>
                <li class="root sep"></li>
                <li class="root">@Html.ActionLink("Giới thiệu", "gioi-thieu", "home", null, new { @class = currentAction == "GioiThieu" ? "item about current" : "item about" })</li>
                <li class="root sep"></li>
                <li class="root">@Html.ActionLink("Dịch vụ", "dich-vu", "home", null, new { @class = currentAction == "DichVu" ? "item product current" : "item product" })</li>
                <li class="root sep"></li>
                <li class="root">@Html.ActionLink("Dự án", "du-an", "home", null, new { @class = currentAction == "DuAn" ? "item news current" : "item news" })</li>
                <li class="root sep"></li>
                <li class="root">@Html.ActionLink("Liên hệ", "lien-he", "home", null, new { @class = currentAction == "LienHe" ? "item contact current" : "item contact" })</li>
            </ul>

            <h3 class="copyright">@Html.Raw(Helpers.SiteSettings.Copyright)</h3>

            <div class="signin-ctn">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                    
                    if (User.IsInRole("Host") || User.IsInRole("Admin"))
                    {
                        <text>&nbsp;|&nbsp;</text><a class="item" href="/admin/managebanner">Quản trị</a>
                    }
                }
                else
                {
                    @Html.ActionLink("Đăng nhập", "login", "account", null, new { @class = currentAction == "DangNhap" ? "item login current" : "item login" })
                }
            </div>
        </div>
    </footer>

    <!-- #endregion -->

    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }

    <!-- #region Back Top -->

    <div id="back_top" class="back-top"></div>
    <script type="text/javascript">
        jQuery(function () {
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() > 300) {
                    jQuery('#back_top').fadeIn();
                } else {
                    jQuery('#back_top').fadeOut();
                }
            });

            jQuery('#back_top').click(function () {
                jQuery('body,html').animate({ scrollTop: 0 }, 100);
            });
        });
    </script>

    <!-- #endregion -->

</body>
</html>
