﻿@model shop.com.Models.ChangePasswordViewModel
@{
    ViewBag.Title = ResGlobal.ChangePasswordTitle;
    ViewBag.PageName = "Đổi mật khẩu";
}

<div class="gb-account-ctn change-password-ctn">
    <div class="gb-box cp-form">
        @using (Html.BeginForm("changepassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "cpForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label class="control-label">@ResGlobal.OldPassword</label>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "gb-textbox" })
            </div>

            <div class="form-group">
                <label class="control-label">@ResGlobal.NewPassword</label>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "gb-textbox" })
            </div>

            <div class="form-group">
                <label class="control-label">@ResGlobal.RetypeNewPassword</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "gb-textbox" })
            </div>

            <input type="submit" class="gb-button" value="@ResGlobal.BtnChangePassword" />

            <div class="control-ctn">
                @Html.ValidationSummary()

                @ViewBag.StatusMessage
            </div>
        }

    </div>
</div>


