﻿@model shop.com.Models.RegisterViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = ResGlobal.CreateUserTitle;
}

<section class="gb-account-ctn add-user well bs-component">
    @using (Html.BeginForm("createuser", "Account", FormMethod.Post, new { @class = "form-horizontal" })) { 
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>@ResGlobal.CreateUserTitle</legend>

            <div class="form-group">
                <label for="UserName" class="left-col control-label">@ResGlobal.EmailOrUsername</label>
                <div class="right-col">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <div style="clear:both;"></div>
            </div>

            <div class="form-group">
                <label for="UserName" class="left-col control-label">@ResGlobal.DisplayName</label>
                <div class="right-col">
                    @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
                </div>
                <div style="clear:both;"></div>
            </div>

            <div class="form-group">
                <label for="Password" class="left-col control-label">@ResGlobal.Password</label>
                <div class="right-col">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div style="clear:both;"></div>
            </div>

            <div class="form-group">
                <label for="ConfirmPassword" class="left-col control-label">@ResGlobal.RetypePassword</label>
                <div class="right-col">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <div style="clear:both;"></div>
            </div>

            <div class="form-group">
                <div style="text-align:right;">
                    <input type="submit" class="btn btn-primary" value="@ResGlobal.BtnCreateUser"  />
                </div>
            </div>

            <div class="form-group" style="min-height:30px;">
                @Html.ValidationSummary()
                @ViewBag.StatusMessage
            </div>
        </fieldset>
    }
</section>