﻿@{
    ViewBag.Title = "Quên mật khẩu";
    if (ViewBag.ResetResult == "success")
    {
        <script>alert('Your password has been reset successfully! Your new password has been sent to your email address')</script>
    }
    else if (ViewBag.ResetResult == "invalidtoken")
    {
        <script>alert('Invalid token')</script>
    }
}



@section breadcrumbs{
    <span class="sep"></span>
    <span class="child">@ResGlobal.ForgotPasswordTitle</span>
}

<div class="forgot-password-ctn">
    <div class="gb-page-width">
        <h1 class="gb-title-border">@ResGlobal.ForgotPasswordEmailTitle</h1>

        <div class="gb-box">
            @using (Html.BeginForm("forgot-password", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "forgotForm" }))
            {
                @Html.AntiForgeryToken()


                <div class="label"></div>
                <div class="control-ctn"><input type="text" name="Email" class="gb-textbox" /></div>

                <div class="control-ctn" style="margin-top:30px;">
                    <div class="gb-button" onclick="javascript: document.getElementById('forgotForm').submit()">@ResGlobal.BtnResetPassword</div>
                    <input type="submit" style="display:none;" />
                </div>

                <div class="control-ctn" style="text-align:center;margin-top:30px;">
                    @ViewBag.Message
                </div>
            }
        </div>
    </div>
</div>