﻿@model shop.com.Models.LoginViewModel
@{
    ViewBag.Title = ResGlobal.LoginTitle;
    ViewBag.PageName = ResGlobal.LoginTitle;

    ViewBag.ReturnUrl = "/";

    if (Request.QueryString["ReturnUrl"] != null)
    {
        ViewBag.ReturnUrl = Request.QueryString["ReturnUrl"].ToString();
    }
}

<div class="login-ctn">
    <div class="gb-box login-form">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label class="control-label">@ResGlobal.EmailOrUsername</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "gb-textbox" })
            </div>

            <div class="form-group">
                <label class="control-label">@ResGlobal.Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "gb-textbox" })
            </div>
            
            <div class="control-ctn" style="margin-top:15px;">
                @Html.CheckBoxFor(m => m.RememberMe)
                @ResGlobal.LoginRememberPassword
            </div>
            
            @*<div class="control-ctn" style="margin-top:15px;">
                <a href="/account/register/">@ResGlobal.LoginLinkToRegister</a>
            </div>

            <div class="control-ctn" style="margin-top:15px;">
                <a href="/account/forgot-password/">@ResGlobal.ForgotPassword</a>
            </div>*@

            <div class="control-ctn" style="margin-top:30px;">
                <div class="gb-button" onclick="javascript:document.getElementById('loginForm').submit()">@ResGlobal.BtnLogin</div>
                <input type="submit" style="display:none;" />
            </div>
            
            <div class="control-ctn">
                @Html.ValidationSummary()
            </div>
        }
    </div>
</div>