﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Manage User";
    @Scripts.Render("~/Scripts/manageUser.min.js");
}

<div class="manage-user-ctn" ng-controller="userCtrl">

    <!-- #region Search -->

    <div class="row search-ctn">
        <div class="col-sm-4 ddl-ctn">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon addon-primary">{{ i18n.searchBy }}</span>
                    <select class="form-control" style="border-top-right-radius:0;border-bottom-right-radius:0;" ng-model="objFilter.colName">
                        <option value="Email">Email</option>
                        <option value="DisplayName">Name</option>
                        <option value="Phone">Phone</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-4 txt-ctn">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control txt-keyword" ng-keypress="checkKeywordEnter($event)" style="border-top-left-radius:0;border-bottom-left-radius:0;" ng-model="objFilter.keyword" placeholder="{{ i18n.keywordPlaceHolder }}" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="getListUser('search', 1)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <!-- #endregion -->

    <!-- #region List -->

    <h3 style="text-align:center;" ng-if="lstUser.length == 0">{{ i18n.noUser }}</h3>

    <ul class="list-group">
        <li class="list-group-item" ng-if="lstUser.length > 0">
            <div style="text-align:right;font-weight:bold;" class="text-warning">
                Total: {{ totalRow }} record(s), page: {{ objFilter.pageIndex }} / {{ totalPage }}
            </div>
        </li>

        <li class="list-group-item active desktop-block">
            <div class="row">
                <div class="col-sm-1"><h4 class="list-group-item-heading" style="text-align:center;">#</h4></div>
                <div class="col-sm-8"><h4 class="list-group-item-heading">{{ i18n.headerTitle }}</h4></div>
                <div class="col-sm-3"></div>
            </div>
        </li>

        <li class="list-group-item" ng-repeat="objUser in lstUser" data-id="{{ objUser.Id }}">
            <div class="row">
                <div class="col-xs-1" style="text-align:center;"><strong>{{ $index + 1 + (objFilter.pageSize * (objFilter.pageIndex - 1)) }}</strong></div>
                <div class="col-sm-8">
                    <h4 class="list-group-item-heading">{{ objUser.DisplayName }} - {{ objUser.Email }}</h4>

                    <div class="form-group">
                        <div ng-repeat="objRole in lstRole" class="role-item" ng-if="objRole.Name != 'Host'">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="ndt-gb-checkbox" value="{{ objRole.Id }}" ng-checked="roleCheck(objRole.Id, objUser.Id)" />
                                    &nbsp;{{ objRole.Name }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control txt-newpassword" placeholder="{{ i18n.resetPassPlaceholder }}" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="btn btn-sm btn-danger" ng-click="deleteUser(objUser.Id)">{{ i18n.btnDelete }}</div>
                    <div class="btn btn-sm btn-primary" ng-click="updateUser(objUser.Id)">{{ i18n.btnUpdate }}</div>
                </div>
            </div>
        </li>
    </ul>

    <!-- #endregion -->

    <ul class="pagination" ng-if="totalPage > 1">
        <li ng-repeat="i in getPageArray() track by $index" class="{{ $index == (objFilter.pageIndex - 1) ? 'active' : '' }}"><a ng-click="getListUser(null, $index + 1)" >{{ $index + 1 }}</a></li>
    </ul>
</div>