﻿@model shop.com.Models.RegisterViewModel
@{
    ViewBag.Title = ResGlobal.RegisterTitle;
    ViewBag.ReturnUrl = "/";
}


<div class="login-ctn">
    <h1 class="gb-title-border">@ResGlobal.RegisterTitle</h1>

    <div class="gb-box login-form">
        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "registerForm" }))
        {
            @Html.AntiForgeryToken()


            <div class="form-group">
                <label class="control-label">@ResGlobal.EmailOrUsername</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "gb-textbox" })
            </div>

            <div class="form-group">
                <label class="control-label">@ResGlobal.DisplayName</label>
                @Html.TextBoxFor(m => m.DisplayName, new { @class = "gb-textbox" })
            </div>

            <div class="form-group">
                <label class="control-label">@ResGlobal.Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "gb-textbox" })
            </div>

            <div class="form-group">
                <label class="control-label">@ResGlobal.RetypePassword</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "gb-textbox" })
            </div>

            <div class="control-ctn" style="margin-top:30px;">
                <div class="gb-button" onclick="javascript:document.getElementById('registerForm').submit()">@ResGlobal.BtnRegister</div>
            </div>

            <div class="control-ctn">
                @Html.ValidationSummary()
            </div>
        }
    </div>
</div>