﻿@{
    ViewBag.Title = ResGlobal.ProfileTitle;
}

@section breadcrumbs{
    <span class="child">Profile</span>
}


<div class="user-profile-ctn">
    <h1 class="gb-title-border">@ResGlobal.ProfileTitle</h1>

    <div class="gb-box profile-form" style="width:50%;">
        <div class="form-group">
            <label class="control-label">@ResGlobal.EmailOrUsername</label>
            <input type="text" readonly="readonly" class="textbox gb-textbox" value="@ViewBag.UserInfo.UserName" />
        </div>

        <div class="form-group">
            <label class="control-label">@ResGlobal.DisplayName</label>
            <input type="text" class="textbox gb-textbox txt-display-name" data-msg="@ResGlobal.RequireDisplayName" min-length="1" value="@ViewBag.UserInfo.DisplayName" />
        </div>

        <div class="form-group">
            <label class="control-label">@ResGlobal.Phone</label>
            <input type="text" class="textbox gb-textbox txt-cellphone" value="@ViewBag.UserInfo.CellPhone" />
        </div>

        <div class="form-group">
            <label class="control-label">@ResGlobal.Address</label>
            <input type="text" class="textbox gb-textbox txt-address" value="@ViewBag.UserInfo.Address" />
        </div>

        <div style="clear:both;height:15px;"></div>

        <div class="button-send gb-button">@ResGlobal.btnSave</div>

        <div class="validate-msg"></div>
    </div>
</div>


