﻿<ul class="category-ctn @ViewBag.ClassName">
    @foreach (S_CategoryModel Category in Model)
    {
        string DetailsLink = "/dich-vu/" + Category.CategoryID + "/" + Category.UrlKey;
        //switch (Category.CategoryType)
        //{
        //    case "news":
        //        DetailsLink = "/news/catid/" + Category.CategoryID + "/1/" + Category.UrlKey;
        //        break;
        //    case "service":
        //        DetailsLink = "/service/catid/" + Category.CategoryID + "/1/" + Category.UrlKey;
        //        break;
        //    case "about":
        //        DetailsLink = "/about/catid/" + Category.CategoryID + "/1/" + Category.UrlKey;
        //        break;
        //    case "project":
        //        DetailsLink = "/project/projectid/" + Category.CategoryID + "/1/" + Category.UrlKey;
        //        break;
        //    case "shareholder":
        //        DetailsLink = "/shareholder/catid/" + Category.CategoryID + "/1/" + Category.UrlKey;
        //        break;
        //    default:
        //        break;
        //}

        <li class="@Category.ClassName">
            <a class="@Category.ClassName" href="@DetailsLink">@Category.Name</a>
        </li>
    }
</ul>