﻿@{
    PartialListProductModel ListProductModel = Model;
}

@{
    if (ListProductModel.PType == "catid")
    {
        <!-- #region List Product -->

        <div class="list-product-ctn">

            @if (ListProductModel.ListProduct.Count > 0)
            {
                string DetailsLink = "";

                foreach (S_ProductModel Product in ListProductModel.ListProduct)
                {
                    DetailsLink = "/product/proid/" + Product.ProductID + "/1/" + Product.UrlKey;

                    <div class="product-item">
                        <div class="img-ctn">
                            <a href="@DetailsLink">
                                <img src="/s-media/thumbs-@Product.PrimaryImage" alt="@Product.Name" />
                            </a>
                        </div>
                        @if (@Product.Label != "")
                        {
                            <div class="label @Product.Label"></div>
                        }
                        <div class="price-ctn">
                            <span class="current-price">@Helpers.ConvertToVND(@Product.CurrentPrice) đ</span>
                            @if (Product.OldPrice > 0)
                            {
                                <span class="old-price">@Helpers.ConvertToVND(Product.CurrentPrice) đ</span>
                            }
                        </div>

                        <a class="name" href="@DetailsLink">@Product.Name</a>

                        <span class="btn-cart" ng-click="addToCart('@Product.ProductID', '1')">Mua</span>
                    </div>
                }
            }
            else
            {
                <h2 class="gb-title-border" style="text-align:center;border-bottom:none;">Chưa có sản phẩm</h2>
            }
            <div style="clear:both;"></div>

            @if (ListProductModel.TotalPage > 1)
            {
                <div class="paging-ctn">
                    @for (int i = 1; i <= ListProductModel.TotalPage; i++)
                    {
                        if (i == ListProductModel.PageIndex)
                        {
                            <span class="item current">@i</span>
                        }
                        else
                        {
                            <a href="/product/catid/@ListProductModel.CurrentID/@i/@ListProductModel.CategoryUrlKey" class="item">@i</a>
                        }
                    }
                </div>
            }
        </div>

        <!-- #endregion -->
    }
    else if (ListProductModel.PType == "proid")
    {
        <!-- #region Details Product -->

        @Styles.Render("~/Scripts/jquery-colorbox/colorbox.css");
        @Scripts.Render("~/Scripts/other/imgLiquid-min.js");
        @Scripts.Render("~/Scripts/jquery-colorbox/jquery.colorbox-min.js");

        if (ListProductModel.ObjProduct != null)
        {
            S_ProductModel Product = ListProductModel.ObjProduct;

            <div class="details-product-ctn">
                <div class="info-ctn">
                    <h1 class="name">@Product.Name</h1>

                    <p class="current-price">@Helpers.ConvertToVND(Product.CurrentPrice) đ</p>

                    @if (Product.OldPrice > 0)
                    {
                        <p class="old-price">@Helpers.ConvertToVND(Product.OldPrice) đ</p>
                    }

                    <div class="quantity-label">Số lượng</div>
                    <div class="quantity-ctn">
                        <input type="text" class="txt-quantity" ng-model="addQty" />
                        <span class="btn-qty btn-minus" ng-click="changeQty('minus')"></span>
                        <span class="btn-qty btn-plus" ng-click="changeQty('plus')"></span>
                    </div>
                    <div class="btn-cart" ng-click="addToCart('@Product.ProductID', addQty)">Mua</div>
                </div>

                <div class="img-ctn">
                    <div class="primary-img">
                        <a href="/s-media/@Product.PrimaryImage" class="color-box">
                            <img src="/s-media/@Product.PrimaryImage" alt="@Product.Name" />
                        </a>
                    </div>
                    @if (Product.Label != "")
                    {
                        <span class="label @Product.Label"></span>
                    }
                    <div style="clear:both;"></div>
                    @if (Product.ListImage.Count > 0)
                    {
                        <div class="extend-img-ctn">
                            @foreach (S_ContentModel item in Product.ListImage)
                            {

                                <div class="item">
                                    <a href="/s-media/@item.PrimaryImage" class="color-box">
                                        <div class="inner">
                                            <img src="/s-media/@item.PrimaryImage" alt="@Product.Name" />
                                        </div>
                                    </a>
                                </div>

                            }
                            <div style="clear:both;"></div>
                        </div>

                        <script>
                            $(document).ready(function () {
                                $('.extend-img-ctn .item .inner').imgLiquid();
                            });
                        </script>
                    }

                    <script>
                        $(document).ready(function () {
                            var maxWidth = EGMobile ? '100%' : '80%';
                            var maxHeight = EGMobile ? '100%' : '80%';

                            $('.details-product-ctn .color-box').each(function () {
                                $(this).colorbox({
                                    maxWidth: maxWidth,
                                    maxHeight: maxHeight,
                                    opacity: 0.8,
                                    rel: 'group1',
                                    transition: 'elastic'
                                });
                            });
                        });
                    </script>
                </div>

                <div style="clear:both;"></div>

                <div class="details">@Html.Raw(Product.Details)</div>

                <div style="clear:both;height:40px;"></div>
            </div>
        }

        <!-- #endregion -->

        <!-- #region Related Product -->

        if (ListProductModel.ListProduct.Count > 0)
        {
            string DetailsLink = "";

            <div class="related-product-ctn">
                <h2 class="title">Sản phẩm cùng danh mục</h2>
                <div class="list-ctn">
                    @foreach (S_ProductModel ProductRelated in ListProductModel.ListProduct)
                    {
                        DetailsLink = "/product/proid/" + ProductRelated.ProductID + "/1/" + ProductRelated.UrlKey;

                        <div class="product-item">
                            <div class="img-ctn">
                                <a href="@DetailsLink">
                                    <img src="/s-media/thumbs-@ProductRelated.PrimaryImage" alt="@ProductRelated.Name" />
                                </a>
                            </div>
                            @if (@ProductRelated.Label != "")
                            {
                                <div class="label @ProductRelated.Label"></div>
                            }
                            <div class="price-ctn">
                                <span class="current-price">@Helpers.ConvertToVND(@ProductRelated.CurrentPrice) đ</span>
                                @if (ProductRelated.OldPrice > 0)
                                {
                                    <span class="old-price">@Helpers.ConvertToVND(ProductRelated.CurrentPrice) đ</span>
                                }
                            </div>

                            <a class="name" href="@DetailsLink">@ProductRelated.Name</a>

                            <span class="btn-cart" ng-click="addToCart('@ProductRelated.ProductID', '1')">Mua</span>
                        </div>
                    }
                </div>
            </div>
        }

        <!-- #endregion -->
    }
}