﻿@{
    ViewBag.Title = "Thanh Toán";
}

@Styles.Render("~/Scripts/confirm-dialog/jquery.cxdialog.css")
@Scripts.Render("~/Scripts/confirm-dialog/jquery.cxdialog.min.js")
<script>
    $.cxDialog.defaults.background = '#000';
</script>

@section breadcrumbs{
    <span class="child">Thanh Toán</span>
}

<div class="check-out-ctn">
    <h2 class="gb-title-border" ng-if="lstCart.length == 0">Giỏ hàng của bạn rỗng</h2>

    <div ng-if="lstCart.length > 0">
        <h2 class="gb-title-border">Checkout</h2>

        <table class="gb-table">
            <tr>
                <th>Hình ảnh</th>
                <th>Tên sản phẩm</th>
                <th class="desktop-block">Đơn giá</th>
                <th class="desktop-block">Số lượng</th>
                <th class="desktop-block">Thành tiền</th>
                <th class="desktop-block">&nbsp;</th>
            </tr>

            <tr ng-repeat="cart in lstCart">
                <td class="img-ctn"><img ng-src="/s-media/{{ cart.PrimaryImage }}" /> </td>
                <td class="product-name">
                    <div class="pad-medium">{{ cart.ProductName }}</div>
                    <div class="mobile-block">
                        <div class="pad-medium"><strong>Giá: </strong>{{ cart.CurrentPrice | formatVND }}</div>
                        <div class="pad-medium"><strong>Số lượng: </strong><input type="text" style="width:70px;" class="gb-textbox" ng-model="cart.Quantity" /></div>
                        <div class="pad-medium"><strong>Thành tiền: </strong>{{ (cart.CurrentPrice * cart.Quantity) | formatVND }}</div>
                        <div class="pad-medium" style="text-align:right;"><div class="btn-delete" ng-click="removeCart(cart.CartTempID)"></div></div>
                    </div>
                </td>
                <td class="price desktop-block">{{ cart.CurrentPrice | formatVND }}</td>
                <td class="quantity desktop-block"><input type="text" class="gb-textbox" ng-model="cart.Quantity" /></td>
                <td class="subtotal desktop-block">{{ (cart.CurrentPrice * cart.Quantity) | formatVND }}</td>
                <td class="action desktop-block">
                    <div class="btn-delete" ng-click="removeCart(cart.CartTempID)"></div>
                </td>
            </tr>

            <tr class="desktop-block">
                <td colspan="3" style="text-align:right;" class="total">Tổng cộng:</td>
                <td style="text-align:center;" class="total">{{ lstCart | cartQuantity }}</td>
                <td style="text-align:right;" class="total">{{ lstCart | cartTotalPrice | formatVND }}</td>
                <td class="total"></td>
            </tr>

            <tr class="visible-xs">
                <td style="text-align:center;" class="total">Tổng</td>
                <td style="text-align:center;" class="total">
                    {{ lstCart | cartTotalPrice | formatVND }}
                </td>
                <td class="desktop-block" colspan="4"></td>
            </tr>

            <tr>
                <td colspan="6" style="text-align:right;" class="total">
                    <div class="gb-button" ng-click="updateCart()">Update Giỏ Hàng</div>
                </td>
            </tr>
        </table>

        <div class="gb-box checkout-form">
            <h2 class="title">Điền thông tin và gửi yêu cầu mua hàng</h2>
            <div class="left">
                <div class="label">Tên *</div>
                <div class="control-ctn"><input type="text" class="textbox gb-textbox txt-name" ng-model="checkoutForm.Name" min-length="1" data-msg="Bạn chưa nhập tên" /> </div>
                <div class="label">Email *</div>
                <div class="control-ctn"><input type="text" class="textbox gb-textbox txt-email" ng-model="checkoutForm.Email" email="true" data-msg="Email không hợp lệ" /> </div>
                <div class="label">Điện thoại *</div>
                <div class="control-ctn"><input type="text" class="textbox gb-textbox txt-phone" ng-model="checkoutForm.CellPhone" min-length="1" data-msg="Bạn chưa nhập số điện thoại" /> </div>
            </div>
            <div class="right">
                <div class="label">Ghi chú cho đơn hàng</div>
                <div class="control-ctn"><textarea class="textbox gb-textbox txt-content" ng-model="checkoutForm.Overview" style="height:152px;"></textarea></div>
            </div>
            <div style="clear:both;height:15px;"></div>

            <div class="gb-button" ng-click="completeCart()">Gửi đơn hàng</div>

            <div class="validate-msg"></div>
        </div>
    </div>
</div>