﻿
@{
    ViewBag.PageName = "Dịch vụ";

    string CurType = ViewBag.CurType;
    int TotalPage = ViewBag.TotalPage;
    int PageIndex = ViewBag.PageIndex;

    List<S_ContentModel> ListContent;
    S_ContentModel ObjContent = new S_ContentModel();

    if (CurType == "list")
    {
        ViewBag.Title = "Dịch vụ";
    }
    else if (CurType == "details")
    {
        ObjContent = ViewBag.ObjContent;
        ViewBag.Title = ObjContent.Name;
        ViewBag.PageName = ObjContent.Name;
    }

    ListContent = ViewBag.ListContent;
}

<div class="service-ctn">
    <div class="gb-page-width">
        @{
            if (CurType == "list")
            {
                <!-- #region List Services -->

                @Scripts.Render("~/Scripts/other/imgLiquid-min.js");

                string DetailsLink = "";

                <div class="list-service-ctn">

                    @foreach (S_ContentModel item in ListContent)
                    {
                        DetailsLink = "/dich-vu/" + item.ContentID + "/" + item.UrlKey;

                        <article class="item">
                            <a href="@DetailsLink" class="color-box">
                                <div class="img-ctn">
                                    <img src="/s-media/@item.PrimaryImage" alt="@item.Name" />
                                </div>
                            </a>

                            <a class="name" href="@DetailsLink">@item.Name</a>
                        </article>
                    }
                    <div style="clear:both;"></div>

                    @if (TotalPage > 1)
                    {
                        <div class="paging-ctn">
                            @for (int i = 1; i <= TotalPage; i++)
                            {
                                if (i == PageIndex)
                                {
                                    <span class="page-item current">@i</span>
                                }
                                else
                                {
                                    <a href="/dich-vu/@i" class="page-item">@i</a>
                                }
                            }
                        </div>
                    }
                </div>

                <script>
                $(document).ready(function () {
                    $('.list-service-ctn .item .img-ctn').imgLiquid();
                });
                </script>

            <!-- #endregion -->
            }
            else if (CurType == "details")
            {
                <!-- #region Details -->

                <div class="service-details-ctn">
                    <h2 class="title visible-xs">@ObjContent.Name</h2>
                    <img src="/s-media/@ObjContent.PrimaryImage" class="avatar" title="@ObjContent.Name" />
                    <div class="details-ctn">@Html.Raw(ObjContent.Details)</div>
                    <div style="clear:both;"></div>
                </div>


            if (ListContent.Count > 0)
            {
                string DetailsLink = "";

                    <div class="service-related-ctn">
                        <h2 class="title">Các dịch vụ khác</h2>

                        @foreach (S_ContentModel item in ListContent)
                    {
                        DetailsLink = "/dich-vu/" + item.ContentID + "/" + item.UrlKey;
                    <a href="@DetailsLink" class="name">@item.Name</a><br />
                    }
                    </div>
            }

            <!-- #endregion -->
            }
        }
    </div>
</div>

