﻿
@{
    ViewBag.PageName = "Dự Án";

    string CurType = ViewBag.CurType;
    int TotalPage = ViewBag.TotalPage;
    int PageIndex = ViewBag.PageIndex;

    List<S_ContentModel> ListContent;
    S_ContentModel ObjContent = new S_ContentModel();

    if (CurType == "list")
    {
        ViewBag.Title = "Dự Án";
    }
    else if (CurType == "details")
    {
        ObjContent = ViewBag.ObjContent;
        ViewBag.Title = ObjContent.Name;
        ViewBag.PageName = ObjContent.Name;
    }

    ListContent = ViewBag.ListContent;
}

<div class="project-ctn">
    <div class="gb-page-width">
        @{
            if (CurType == "list")
            {
                <!-- #region List Project -->

                @Scripts.Render("~/Scripts/other/imgLiquid-min.js");

                string DetailsLink = "";

                <div class="list-project-ctn">

                    @foreach (S_ContentModel item in ListContent)
                    {
                        DetailsLink = "/du-an/" + item.ContentID + "/" + item.UrlKey;

                        <article class="item">
                            <a href="@DetailsLink" class="color-box">
                                <div class="img-ctn">
                                    <img src="/s-media/@item.PrimaryImage" alt="@item.Name" />
                                </div>
                            </a>

                            <div class="content-padding">
                                <a class="name" href="@DetailsLink">@item.Name</a>

                                <p class="location"><strong>Địa điểm:</strong> @item.Overview</p>

                                <p class="year"><strong>Năm: </strong> @item.Description</p>

                                <div class="sep"></div>

                                <a href="@DetailsLink" class="details-link">xem chi tiết</a>
                            </div>
                        </article>
                    }
                    <div style="clear:both;"></div>

                    @if (TotalPage > 1)
                    {
                        <div class="paging-ctn">
                            @for (int i = 1; i <= TotalPage; i++)
                            {
                                if (i == PageIndex)
                                {
                                    <span class="page-item current">@i</span>
                                }
                                else
                                {
                                    <a href="/du-an/@i" class="page-item">@i</a>
                                }
                            }
                        </div>
                    }
                </div>

                <script>
                $(document).ready(function () {
                    $('.list-project-ctn .item .img-ctn').imgLiquid();
                });
                </script>

                <!-- #endregion -->
            }
            else if (CurType == "details")
            {
                <!-- #region Details -->

                <div class="project-details-ctn">
                    <div class="img-ctn">
                        <img src="/s-media/@ObjContent.PrimaryImage" class="avatar" title="@ObjContent.Name" />
                    </div>
                    <div class="info-ctn">
                        <h2 class="title">@ObjContent.Name</h2>

                        <table class="info-table">
                            <tr>
                                <td><strong>Địa điểm</strong></td>
                                <td>: @ObjContent.Overview</td>
                            </tr>
                            <tr>
                                <td><strong>Năm</strong></td>
                                <td>: @ObjContent.Description</td>
                            </tr>
                        </table>
                    </div>

                    <div style="clear:both;"></div>
                    
                    <div class="details-ctn">@Html.Raw(ObjContent.Details)</div>

                    <div style="clear:both;"></div>
                </div>


                @*if (ListContent.Count > 0)
                {
                    string DetailsLink = "";

                    <div class="project-related-ctn">
                        <h2 class="title">Các dự án khác</h2>

                        @foreach (S_ContentModel item in ListContent)
                    {
                        DetailsLink = "/du-an/" + item.ContentID + "/" + item.UrlKey;
                            <a href="@DetailsLink" class="name">@item.Name</a><br />
                        }
                    </div>
                }*@

            <!-- #endregion -->
            }
        }
    </div>
</div>