﻿@{
    ViewBag.Title = "Giới Thiệu";
    ViewBag.PageName = "Giới Thiệu";

    S_ContentModel ObjAbout = ViewBag.ObjAbout;
}

<div class="about-ctn">
    <div class="gb-page-width">
        @if (ObjAbout != null)
        {
            <div class="left">@Html.Raw(ObjAbout.Details)</div>
            <div class="right">
                <img src="/s-media/@ObjAbout.PrimaryImage" class="main-img" alt="@ObjAbout.Name" />
            </div>
            <div style="clear:both;"></div>
        }
    </div>
</div>