﻿@{
    ViewBag.Title = "Home Page";

    List<S_ContentModel> ListBanner = ViewBag.ListBanner;

    string BannerType = "Camera"; // Camera | Slick

    List<S_ContentModel> ListProject = ViewBag.ListProject;
    List<S_ContentModel> ListService = ViewBag.ListService;
    List<S_ContentModel> ListTeam = ViewBag.ListTeam;

    if (ListProject == null)
    {
        ListProject = new List<S_ContentModel>();
    }
    if (ListService == null)
    {
        ListService = new List<S_ContentModel>();
    }
    if (ListTeam == null)
    {
        ListTeam = new List<S_ContentModel>();
    }
}

@Scripts.Render("~/Scripts/other/imgLiquid-min.js")
@Styles.Render("~/Scripts/slick/slick.css")
@Scripts.Render("~/Scripts/slick/slick.min.js")

<style>
    .gb-breadcrumbs-ctn{display:none;}
    .body-ctn{padding-top:0;}
</style>

<!-- #region Banner Camera -->

@if (BannerType == "Camera")
{
    @Styles.Render("~/Scripts/camera-slide/camera.css")
    @Scripts.Render("~/Scripts/camera-slide/camera.min.js")
    @Scripts.Render("~/Scripts/camera-slide/jquery.easing.1.3.js")

    @section banner{

        <div class="home-banner-ctn">
            <div class="banner-ctn camera_wrap camera_azure_skin">
                @foreach (S_ContentModel Banner in ListBanner)
                {
                    <div data-src="/s-media/@Banner.PrimaryImage">
                        <div class="info-ctn">
                            <h2 class="gb-title-medium">@Banner.Name</h2>
                            <p class="summary">@Banner.Details</p>
                        </div>
                    </div>
                }
            </div>

            <script>
                if ($('.banner-ctn div').length > 0) {
                    jQuery(function () {
                        jQuery('.banner-ctn').camera({
                            time: 6000,
                            thumbnails: false,
                            loader: 'none',
                            width: '100%',
                            height: '450px',
                            barDirection: 'topToBottom',
                            navigation: true,
                            playPause: true,
                            pagination: false
                        });
                    });
                }
            </script>
        </div>
    }
}

<!-- #endregion -->

<!-- #region Banner Slick -->

@if (BannerType == "Slick")
{
    @section banner{
        <div class="slick-banner-ctn">
            @foreach (S_ContentModel Banner in ListBanner)
            {
                <img src="/s-media/@Banner.PrimaryImage" />
            }
        </div>

        <script>
            $(document).ready(function () {
                $('.slick-banner-ctn').slick({
                    arrows: false,
                    dots: true,
                    autoplay: true,
                    autoplaySpeed: 6000
                });
            });
        </script>
    }
}

<!-- #endregion -->


<div class="home-ctn">
    <!-- #region Project -->

    <div class="home-project-ctn">
        <div class="gb-page-width">
            <h2 class="gb-title-large text-center">Dự án mới</h2>

            <div class="slick-ctn">
                @foreach (S_ContentModel item in ListProject)
                {
                    string DetailsLink = "/du-an/" + item.ContentID + "/" + item.UrlKey;

                    <article class="item">
                        <a href="@DetailsLink" class="color-box">
                            <div class="img-ctn scaleable">
                                <img src="/s-media/@item.PrimaryImage" alt="@item.Name" />
                            </div>
                        </a>

                        <div class="content-padding">
                            <a class="name" href="@DetailsLink">@item.Name</a>

                            <p class="location"><strong>Địa điểm:</strong> @item.Overview</p>

                            <p class="year"><strong>Năm: </strong> @item.Description</p>

                            <div class="sep"></div>

                            <a href="@DetailsLink" class="details-link">xem chi tiết</a>
                        </div>
                    </article>
                }
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.slick-ctn').slick({
                autoplay: true,
                autoplaySpeed: 5000,
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                responsive: [
                {
                    breakpoint: 991,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }]
            });
        });
    </script>

    <!-- #endregion -->

    <!-- #region Service -->

    <div class="gb-page-width">
        <div class="home-service-ctn">
            @foreach (S_ContentModel item in ListService)
            {
                string DetailsLink = "/dich-vu/" + item.ContentID + "/" + item.UrlKey;

                <article class="item">
                    <a class="name" href="@DetailsLink">@item.Name</a>

                    <p class="summary">@item.Summary</p>

                    <div class="text-right">
                        <a href="@DetailsLink" class="gb-button-small">Xem thêm</a>
                    </div>
                </article>
            }
            <div style="clear:both;height:30px;"></div>

            <div class="text-center">
                <a href="/dich-vu" class="gb-button">Xem thêm</a>
            </div>
        </div>
    </div>

    <!-- #endregion -->

    <!-- #region Team -->

    <div class="gb-page-width">
        <div class="home-team-ctn">
            <h2 class="gb-title-large text-center">Về đội ngũ của chúng tôi</h2>

            @foreach (S_ContentModel item in ListTeam)
            {
                <article class="item">
                    <div class="img-ctn scaleable">
                        <img src="/s-media/@item.PrimaryImage" alt="@item.Name" />
                    </div>

                    <h4 class="position">@item.Link</h4>

                    <h3 class="name">@item.Name</h3>
                </article>
            }
            <div style="clear:both;height:30px;"></div>
        </div>
    </div>

    <script>
        calculateTeamHeight();

        $(window).resize(function () {
            calculateTeamHeight();
        });

        function calculateTeamHeight() {
            var tWidth = $('.home-team-ctn .img-ctn').width();
            $('.home-team-ctn .img-ctn').height(tWidth);
        }
    </script>

    <!-- #endregion -->
</div>

<script>
    $(document).ready(function () {
        $('.home-ctn .scaleable').imgLiquid();
    });
</script>