﻿@{
    ViewBag.Title = "Liên Hệ";
    ViewBag.PageName = "Liên Hệ";
}

<div class="contact-ctn">
    <div class="gb-page-width">
        @if (Helpers.SiteSettings.GooleMap.Length > 10)
        {
            <div class="map-ctn">
                <div class="mask" onclick="this.remove()"></div>
                @Html.Raw(Helpers.SiteSettings.GooleMap)
            </div>
        }

        <div class="form-ctn" style="margin-bottom:15px;">
            <div class="row">
                <div class="col-sm-5">
                    <h2 class="gb-title-large">Địa chỉ</h2>
                    <table class="info-table">
                        <tr>
                            <td><strong>Tên công ty :</strong></td>
                            <td>@Helpers.SiteSettings.CompanyName</td>
                        </tr>
                        <tr>
                            <td><strong>Địa chỉ :</strong></td>
                            <td>@Helpers.SiteSettings.Address</td>
                        </tr>
                        <tr>
                            <td><strong>Điện thoại :</strong></td>
                            <td><a href="tel:@Helpers.GetRawPhoneNumber(@Helpers.SiteSettings.Phone)">@Helpers.SiteSettings.Phone</a></td>
                        </tr>
                        <tr>
                            <td><strong>Email :</strong></td>
                            <td><a href="mailto:@Helpers.SiteSettings.Email">@Helpers.SiteSettings.Email</a></td>
                        </tr>
                        <tr>
                            <td><strong>Ms doanh nghiệp :</strong></td>
                            <td>0312891369</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-1" style="margin-bottom:30px;">

                </div>
                <div class="col-sm-6">
                    <h2 class="gb-title-large">Thông tin liên hệ</h2>
                    <div class="form-group">
                        <input type="text" name="Name" class="textbox gb-textbox txt-name border" placeholder="Tên *" value="@ViewBag.UserInfo.DisplayName" min-length="1" data-msg="Bạn chưa nhập tên" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="Email" class="textbox gb-textbox txt-email border" placeholder="Email *" value="@ViewBag.UserInfo.Email" email="true" data-msg="Email không hợp lệ" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="Phone" class="textbox gb-textbox txt-phone border" placeholder="Điện thoại" value="@ViewBag.UserInfo.CellPhone" />
                    </div>
                    <div class="form-group">
                        <textarea class="textbox gb-textbox txt-content border" name="Content" placeholder="Nội dung *" min-length="1" data-msg="Bạn chưa nhập nội dung" style="height:168px;"></textarea>
                    </div>

                    <div class="gb-button button-send">Gửi</div>

                    <div class="validate-msg"></div>
                </div>
            </div>
        </div>
    </div>
</div>


