﻿
@{
    string CurType = ViewBag.CurType;
    int TotalPage = ViewBag.TotalPage;
    int PageIndex = ViewBag.PageIndex;

    List<S_ContentModel> ListContent;
    S_ContentModel ObjContent = new S_ContentModel();

    if (CurType == "list")
    {
        ViewBag.Title = "Tin tức";
    }
    else if (CurType == "details")
    {
        ObjContent = ViewBag.ObjContent;
        ViewBag.Title = ObjContent.Name;
    }

    ListContent = ViewBag.ListContent;
}

<div class="news-ctn">
    @{
        if (CurType == "list")
        {
            <!-- #region List News -->

            string DetailsLink = "";

            <div class="list-news-ctn">

                @foreach (S_ContentModel item in ListContent)
                {
                    DetailsLink = "/news/" + item.ContentID + "/" + item.UrlKey;

                    <article class="item">
                        <a href="@DetailsLink" class="name">@item.Name</a>
                        <div class="img-ctn">
                            <a href="@DetailsLink"><img src="/s-media/thumbs-@item.PrimaryImage" alt="@item.Name" /></a>
                        </div>
                        <div class="info-ctn">
                            <p class="summary">@item.Summary</p>
                            <a href="@DetailsLink" class="gb-button">Chi tiết</a>
                        </div>
                    </article>
                }
                <div style="clear:both;"></div>

                @if (TotalPage > 1)
                {
                    <div class="paging-ctn">
                        @for (int i = 1; i <= TotalPage; i++)
                        {
                            if (i == PageIndex)
                            {
                                <span class="item current">@i</span>
                            }
                            else
                            {
                                <a href="/news/@i" class="item">@i</a>
                            }
                        }
                    </div>
                }
            </div>

            <!-- #endregion -->
        }
        else if (CurType == "details")
        {
            <!-- #region Details -->

            <div class="news-details-ctn">
                <h2 class="title">@ObjContent.Name</h2>
                <div class="details-ctn">@Html.Raw(ObjContent.Details)</div>
                <div style="clear:both;"></div>
            </div>


            if (ListContent.Count > 0)
            {
                string DetailsLink = "";

                <div class="news-related-ctn">
                    <h2 class="title">Các tin khác</h2>

                    @foreach (S_ContentModel item in ListContent)
                    {
                        DetailsLink = "/news/" + item.ContentID + "/" + item.UrlKey;
                        <a href="@DetailsLink" class="name">@item.Name</a><br />
                    }
                </div>
            }

            <!-- #endregion -->
        }
    }
</div>

