﻿@using shop.com.Models

@{
    PartialListProductModel ListProductModel = Model;
    ViewBag.Title = ListProductModel.CategoryName;
}

@section breadcrumbs{
    @{ 
        string CategoryID = "";
        string CategoryName = "";

        if (ListProductModel.PType == "catid")
        {
            CategoryID = ListProductModel.CurrentID;
            CategoryName = ListProductModel.CategoryName;
        }
        else if (ListProductModel.PType == "proid")
        {
            CategoryID = ListProductModel.ObjProduct.CategoryID;
            CategoryName = ListProductModel.ObjProduct.CategoryName;
        }
    }

    <a class="child" href="/product/">Sản phẩm</a>

    @if (ListProductModel.CurrentID != "all")
    {
        <a class="child" href="/product/catid/@CategoryID/1/@ListProductModel.CategoryUrlKey">@ListProductModel.CategoryName</a>
    }

    @if (ListProductModel.PType == "proid")
    {
        <span class="child product-name">@ListProductModel.ObjProduct.Name</span>
    }
}


@Html.Partial("_ListProduct", ListProductModel)