﻿@{
    ViewBag.Title = "Đơn hàng của bạn";
}

@section breadcrumbs{
    <span class="child">Đơn hàng</span>
}

<div class="list-user-order" ng-init="listOrderInit()">
    <h2 class="gb-title-border" ng-if="lstOrder.length == 0">Bạn chưa có đơn hàng nào</h2>
    <h2 class="gb-title-border" ng-if="lstOrder.length > 0">Danh sách đơn hàng của bạn</h2>

    <table class="gb-table">
        <tr>
            <th>#</th>
            <th>Thông tin đơn hàng</th>
            <th>Giá tiền</th>
            <th>Chi tiết</th>
        </tr>

        <tr ng-repeat="order in lstOrder track by $index">
            <td style="text-align:center;">{{ ($index + 1) }}</td>
            <td>
                <div class="pad-medium">Tên: {{ order.Name }}</div>
                <div class="pad-medium">Email: {{ order.Email }}</div>
                <div class="pad-medium">Điện thoại: {{ order.Phone }}</div>
                <div class="pad-medium">Ngày đặt hàng: {{ order.CreateDate | formatDateFromJson | date : 'dd-MM-yyyy' }}</div>
                <div class="pad-medium">Ghi chú: {{ order.Overview }}</div>
            </td>
            <td style="text-align:right;">{{ order.TotalPrice | formatVND }}</td>

            <td style="text-align:center;">
                <div class="btn-details" ng-click="viewOrderDetail(order.OrderID)"></div>
            </td>
        </tr>
    </table>

</div>
