<div style="padding:15px;">
    <table class="table table-striped table-hover">
        <tr>
            <th style="text-align:center;">Hình ảnh</th>
            <th>Tên sản phẩm</th>
            <th style="text-align:right;">Đơn giá</th>
            <th style="text-align:center;">Số lượng</th>
            <th style="text-align:right;">Thành tiền</th>
        </tr>

        <tr ng-repeat="details in curOrderDetails">
            <td class="img-ctn"><img ng-src="/s-media/{{ details.PrimaryImage }}" /> </td>
            <td class="product-name">{{ details.ProductName }}</td>
            <td class="price">{{ details.Price | formatVND }}</td>
            <td class="quantity">{{ details.Quantity }}</td>
            <td class="subtotal">{{ (details.Price * details.Quantity) | formatVND }}</td>
        </tr>

        <tr>
            <td colspan="3" style="text-align:right;" class="footer">Tổng cộng:</td>
            <td style="text-align:center;" class="footer">{{ total.Quantity }}</td>
            <td style="text-align:right;" class="footer">{{ total.TotalPrice | formatVND }}</td>
        </tr>
    </table>
</div>