<div style="padding:15px;">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label">Upload hình ảnh</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse <input type="file" class="fulPrimaryImage">
                        </span>
                    </span>
                    <input type="text" class="form-control browse-file-name base-bootstrap" readonly>
                </div>
            </div>
            <div class="form-group">
                <img ng-src="/s-media/thumbs-{{ curContent.PrimaryImage }}" class="primary-image" />
            </div>
        </div>
        <div class="col-sm-8">
            <div class="category-ctn" ng-show="settings.showCategory">
                <div class="form-group">
                    <label class="control-label">Danh mục</label>

                    <select class="form-control my-dropdown" ng-model="curContent.CategoryID">
                        <option value="-1">Không chọn danh mục</option>
                        <option ng-repeat="cat in lstCategory" value="{{ cat.CategoryID }}" data-class="level-{{ cat.Level }}" ng-selected="curContent.CategoryID == cat.CategoryID">{{ cat.Name }}</option>
                    </select>
                </div>
            </div>

            <div class="name-ctn">
                <div class="form-group">
                    <label class="control-label">Tên dự án</label>
                    <input type="text" class="form-control" min-length="1" data-msg="Chưa nhập tiêu đề" ng-model="curContent.Name" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">Thứ tự</label>
                        <input type="text" class="form-control" numberic data-msg="Thứ tự phải là số" ng-model="curContent.Priority" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">Năm</label>
                        <input type="text" class="form-control" ng-model="curContent.Description" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Địa điểm</label>
                        <input type="text" class="form-control" ng-model="curContent.Overview" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-12">
            <label class="control-label">Chi tiết</label>

            <div id="ckeDetails"></div>
            <div id="ckeDetailsHTML" style="display:none;">{{ curContent.Details }}</div>
        </div>
    </div>
</div>