<div style="padding:15px;">
    <div class="row">
        <div class="form-group col-sm-12">
            <label class="control-label" data-toggle="tooltip" title="This is skin in Admin">Tên danh mục</label>
            <input type="text" class="form-control" min-length="1" data-msg="Chưa nhập tên danh mục" ng-model="curCat.Name" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-4">
            <label class="control-label">Thứ tự</label>
            <input type="text" class="form-control" numberic data-msg="Thứ tự phải là số" ng-model="curCat.Priority" />
        </div>
        <div class="form-group col-sm-8">
            <label class="control-label">Danh mục cha</label>
            <select class="form-control my-dropdown" ng-model="curCat.ParentsID">
                <option value="-1">Không chọn</option>
                <option ng-repeat="cat in lstCategory" value="{{ cat.CategoryID }}" ng-if="cat.CategoryID != curCat.CategoryID && cat.ParentsID != curCat.CategoryID || curCat.CategoryID == '-1'" data-class="level-{{ cat.Level }}" ng-selected="curCat.ParentsID == cat.CategoryID">{{ cat.Name }}</option>
            </select>
        </div>
    </div>
</div>