<div style="padding:15px;">
    <div class="form-group">
        <label class="control-label">Chọn hình ảnh để upload</label>
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                    Browse <input type="file" class="fulContentDetailsImage" multiple="multiple">
                </span>
            </span>
            <input type="text" class="form-control browse-file-name base-bootstrap" readonly>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">&nbsp;</label>
        <div class="input-group">
            <div class="btn btn-primary btn-sm" style="margin:0;" ng-click="uploadContentDetailsImage()">Upload</div>
        </div>
    </div>

    <div style="clear:both;height:30px;"></div>

    <div class="list-image-ctn">
        <div class="float-img-ctn" ng-repeat="objImg in lstDetailsImage">
            <div class="btn-delete" ng-click="deleteContentDetailsImage(objImg.ContentID)">Xóa</div>
            <img ng-src="/s-media/{{ objImg.PrimaryImage }}" class="float-image" />
        </div>
        <div style="clear:both;"></div>
    </div>
</div>