<div style="padding:15px;">
    <div class="form-group">
        <label class="control-label">Chọn hình ảnh để upload</label>
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                    Browse <input type="file" class="fulContentImage" multiple="multiple">
                </span>
            </span>
            <input type="text" class="form-control browse-file-name base-bootstrap" readonly>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">&nbsp;</label>
        <div class="input-group">
            <div class="btn btn-primary btn-sm" style="margin:0;" ng-click="uploadContentDetailsImage()">Upload</div>
        </div>
    </div>

    <div style="clear:both;height:30px;"></div>

    <div class="list-image-ctn">
        <div class="float-img-ctn" ng-repeat="objImg in curLstImg">
            <div class="btn-delete" ng-click="deleteContentDetailsImage(objImg.ContentID)">{{ i18n.btnDelete }}</div>
            <div class="btn-set-primary" ng-show="curContent.ContentID != '-1'" ng-click="setPrimaryImage(objImg.ContentID, objImg.PrimaryImage)">{{ i18n.btnSetPrimary }}</div>
            <img ng-src="/s-media/{{ objImg.PrimaryImage }}" class="float-image" />
        </div>
    </div>
</div>