<div style="padding:15px;">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label">Upload hình ảnh</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse <input type="file" class="fulPrimaryImage">
                        </span>
                    </span>
                    <input type="text" class="form-control browse-file-name base-bootstrap" readonly>
                </div>
            </div>
            <div class="form-group">
                <img ng-src="/s-media/thumbs-{{ curProduct.PrimaryImage }}" class="primary-image" />
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="form-group col-sm-8">
                    <label class="control-label">Tên sản phẩm</label>
                    <input type="text" class="form-control" min-length="1" data-msg="Chưa nhập tên sản phẩm" ng-model="curProduct.Name" />
                </div>
                <div class="form-group col-sm-4">
                    <label class="control-label">Mã sản phẩm</label>
                    <input type="text" class="form-control" ng-model="curProduct.ProductCode" />
                </div>
            </div>

            <div class="row" style="margin-bottom:15px;">
                <div class="radio radio-primary col-xs-4">
                    <label>
                        <input type="radio" name="grpStatusType" ng-model="curProduct.Label" ng-checked="curProduct.Label == ''" value="">
                        Bình Thường
                    </label>
                </div>
                <div class="radio radio-primary col-xs-4" style="margin-top:10px;">
                    <label>
                        <input type="radio" name="grpStatusType" ng-model="curProduct.Label" ng-checked="curProduct.Label == 'sale'" value="sale">
                        Sell Off
                    </label>
                </div>
                <div class="radio radio-primary col-xs-4" style="margin-top:10px;">
                    <label>
                        <input type="radio" name="grpStatusType" ng-model="curProduct.Label" ng-checked="curProduct.Label == 'new'" value="new">
                        Sản phẩm mới
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4">
                    <label class="control-label">Thứ tự</label>
                    <input type="text" class="form-control" numberic data-msg="Thứ tự phải là số" ng-model="curProduct.Priority" />
                </div>

                <div class="form-group col-sm-4">
                    <label class="control-label">Giá cũ</label>
                    <input type="text" class="form-control" numberic data-msg="Giá cũ không hợp lệ" ng-model="curProduct.OldPrice" />
                </div>

                <div class="form-group col-sm-4">
                    <label class="control-label">Giá hiện tại</label>
                    <input type="text" class="form-control" numberic data-msg="Giá hiện tại không hợp lệ" ng-model="curProduct.CurrentPrice" />
                </div>

                <div class="form-group col-sm-12">
                    <label class="control-label">Danh mục</label>

                    <select class="form-control my-dropdown" ng-model="curProduct.CategoryID">
                        <option value="-1">Không chọn danh mục</option>
                        <option ng-repeat="cat in lstCategory" value="{{ cat.CategoryID }}" data-class="level-{{ cat.Level }}" ng-selected="curProduct.CategoryID == cat.CategoryID">{{ cat.Name }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-12">
            <label class="control-label">Chi tiết sản phẩm</label>

            <div id="ckeDetails"></div>
            <div id="ckeDetailsHTML" style="display:none;">{{ curProduct.Details }}</div>
        </div>
    </div>
</div>