<div style="padding:0 15px 50px;">
    <table class="gb-table">
        <tr>
            <th>Hình ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
        </tr>

        <tr ng-repeat="details in curOrderDetails">
            <td class="img-ctn"><img ng-src="/s-media/{{ details.PrimaryImage }}" /> </td>
            <td class="product-name">{{ details.ProductName }}</td>
            <td class="price">{{ details.Price | formatVND }}</td>
            <td class="quantity">{{ details.Quantity }}</td>
            <td class="subtotal">{{ (details.Price * details.Quantity) | formatVND }}</td>
        </tr>

        <tr>
            <td colspan="3" style="text-align:right;" class="footer">Tổng cộng:</td>
            <td style="text-align:center;" class="footer">{{ orderDetailsTotal.Quantity }}</td>
            <td style="text-align:right;" class="footer">{{ orderDetailsTotal.TotalPrice | formatVND }}</td>
        </tr>
    </table>
</div>