﻿@font-face {
  font-family: 'FontAwesome';
  src: url('font-awesome/fontawesome-webfont.eot?v=4.3.0');
  src: url('font-awesome/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), 
	   url('font-awesome/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), 
	   url('font-awesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* #region CSS3 Cross Browser */

.border-radius(@value) {
    border-radius:@value;
    -webkit-border-radius:@value;
    -moz-border-radius:@value;
}

.box-border-box {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.user-select-none{
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
}

.transition-ease(@second) { 
    transition:all ease @second;
    -webkit-transition:all ease @second;
    -moz-transition:all ease @second;
}
.box-shadow(@value) {
    box-shadow:@value;
    -webkit-box-shadow:@value;
    -moz-box-shadow:@value;
}
.transform(@value) { 
    transform:@value;
    -webkit-transform:@value;
    -moz-transform:@value;
}
.transform-origin(@value) { 
    transform-origin:@value;
    -webkit-transform-origin:@value;
    -moz-transform-origin:@value;
}

/* #endregion */

/* #region Media Width  */

@xsMax: 767px;

@smMin: 768px;
@smMax: 991px;

@mdMin: 992px;
@mdMax: 1199px;

@lgMin: 1200px;

/* #endregion */


/*
    font-family:'Roboto', sans-serif;
*/


/* #region Layout */

html {margin:0;padding:0;}
body {background:#fff;color:#333333;font-family:'Roboto', sans-serif;font-size:14px;margin:0;padding:0;overflow-x:hidden;}
body .gb-content-ctn{padding:60px 0 50px;}
a:link, a:visited{text-decoration:none;outline:none;border:none;color:#333333;.transition-ease(0.3s);}
a:hover{text-decoration:none;}
img{outline:none;border:none;}
h1, h2, h3, h4, h5, h6{}
ul{margin:0;padding:0}

body.admin{
    font-family:Arial;font-size:14px;
    h1, h2, h3, h4, h5, h6{font-family:Arial;}
}

.gb-page-width{
    width:95%;margin:0 auto;max-width:1170px;

    @media screen and (max-width: @xsMax){
        
    }
}

.header-ctn{
    width:100%;
    .top-ctn{
        background:#FFF;padding:10px 0;
        .logo-ctn{float:left;}
    }
    .bottom-ctn{
        background:#0178ba;
        .main-nav-ctn{
            ul{
                li.root{
                    float:left;list-style-type:none;padding:0;height:60px;line-height:60px;position:relative;z-index:1002;
                    &.sep{
                        padding:0 18px;
                        &:before{content:'';display:block;width:8px;height:8px;margin-top:27px;.border-radius(50%);background:#055f91;}
                    }
                    &:hover{
                        ul.category-ctn{display:block;}
                    }
                }
                a.item:link, a.item:visited{color:#FFF;text-transform:uppercase;font-weight:500;font-size:18px;}
                a.item:hover, a.item.current{color:#055f91}
            }

            ul.category-ctn {
                display:none;width:290px;background:#FFFFFF;padding:5px 0;position:absolute;top:100%;left:-90px;z-index:1002;border:solid 1px #dedede;
                li.category-item{
                    list-style-type:none;border-bottom:solid 1px #dedede;line-height:20px;padding:10px 20px;
                    &:last-child{border-bottom:none;}
                   
                    a.category-item{
                        display:inline-block;width:100%;color:#333333;font-weight:300;text-transform:uppercase;
                        &:hover, &.item-selected{color:#0078b9;}
                    }
                }
            }
        }
    }

    @media screen and (max-width: @xsMax){
        .top-ctn{
            position:fixed;top:0;left:0;right:0;padding:0;height:50px;z-index:1000;
            .logo-ctn{
                width:60%;text-align:center;
                .logo{max-height:40px;margin-top:5px;}
            }
        }
    }
}

.body-ctn{
    padding:30px 0 60px;

    @media screen and (max-width: @xsMax){
        padding-top:50px;
    }
}

.bottom-info-ctn{
    width:100%;max-width:1600px;height:330px;background:url(images/bottom-bg.jpg) center no-repeat;margin:0 auto;padding-top:45px;
    .title{font-weight:500;font-size:22px;color:#FFF;margin:0;padding:0 0 20px;}
    .info-item{
        font-weight:300;font-size:18px;padding:0;margin:0 0 22px;color:#FFF;
        a:link, a:visited{color:#FFF;}
        a:hover{text-decoration:underline;}
    }
    .social-column{padding-left:60px;}
    .social-icon{
        &:before{font-family:FontAwesome;font-size:24px;color:#0078b9;margin-right:15px;}
        &.facebook:before{content:'\f082';}
        &.youtube:before{content:'\f166';}
        &.google:before{content:'\f0d4';}
        &:hover{color:#0078b9 !important;text-decoration:none !important;}
    }
    .btn-subscribe{
        font-size:21px;cursor:pointer;
        &:after{font-family:FontAwesome;content:'\f101';margin-left:5px;font-size:21px;}
        &:hover{color:#0078b9;}
    }

    @media screen and (max-width: @xsMax){
        height:auto;background:#555454;
        .social-column{padding-left:15px;}
        .social-icon{
            &:before{color:#FFF;}
        }
    }
}

.footer-ctn{
    background:#F5F5F5;padding:20px 0;text-align:center;
    ul.foot-nav{
        display:inline-block;
        li{
            float:left;list-style-type:none;padding:0;height:30px;line-height:30px;
            &.sep{
                padding:0 18px;
                &:before{content:'';display:block;width:8px;height:8px;margin-top:11px;.border-radius(50%);background:#a2a2a2;}
            }
        }
        a.item:link, a.item:visited{color:#333333;text-transform:uppercase;font-weight:500;font-size:16px;}
        a.item:hover, a.item.current{color:#333333}
    }
    .copyright{display:inline-block;width:100%;font-weight:normal;text-transform:uppercase;font-size:14px;color:#666666;margin:0;padding:0;}
    .signin-ctn{
        margin:5px 0;text-align:center;
        a.item:link, a.item:visited{font-size:12px;color:#666666;}
        a.item:hover, a.item.current{color:#666666}
    }

    @media screen and (max-width: @xsMax){
        
    }
}

.back-top{
    position:fixed;bottom:20px;right:20px;cursor:pointer;z-index:1000;display:none;
    &:before{font-family:FontAwesome;color:#000;content:'\f062';font-size:33px;padding-top:2px;border-top:solid 5px #000;}
}

/* #endregion */

/* #region Global style */

.gb-title-border{
    font-size:18px;line-height:22px;font-weight:400;color:#555454;text-transform:uppercase;padding:0 0 17px 0;margin:0 0 30px;border-bottom:1px solid #f0f0f0;
}


.gb-breadcrumbs-ctn{
    text-align:center;margin-bottom:40px;
}
.gb-page-title{
    display:inline-block;font-weight:300;font-size:30px;color:#0078b9;margin:0;padding:0 0 10px;text-transform:uppercase;
}
.gb-page-title-underline{
    color:#0078b9;height:4px;background:#0078b9;margin:0 auto 8px;position:relative;
    &:before{content:'';display:inline-block;width:4px;height:4px;background:#0078b9;position:absolute;left:-7px;top:0;}
    &:after{content:'';display:inline-block;width:4px;height:4px;background:#0078b9;position:absolute;right:-7px;top:0;}
}
.gb-breadcrumbs{
    font-size:16px;font-weight:300;display:inline-block;
    &.has-link{color:#0078b9;}
    &.has-sep{
        margin-left:7px;
        &:before{font-family:FontAwesome;content:'\f105';margin-right:7px;font-size:16px;}
    }
}

.gb-title-large{
    font-size:25px;font-weight:500;padding:0;margin:0 0 30px;
}
.gb-textbox{
    display:inline-block;padding:0 15px;height:46px;line-height:46px;outline:none;width:100%;font-size:18px;font-family:'Roboto', sans-serif;color:#555555;background:#FFF;border:none;
    &.border{border:solid 1px #e7e7e7;}
    &.radius{.border-radius(10px);}
    &:focus{}
}
.gb-box{
    background:#CCC;border:1px solid #f0f0f0;padding:14px 18px 13px;
    .title{text-transform:uppercase;color:#555454;font-size:18px;padding:0 0 15px;font-weight:400;line-height:normal;margin:0 0 12px;border-bottom:1px solid #f0f0f0;}
}
.gb-button, a.gb-button{
    display:inline-block;padding:0 30px;color:#FFF;background:#0078b9;border:none;outline:none;.transition-ease(0.3s);cursor:pointer;height:46px;line-height:46px;font-size:18px;.border-radius(10px);
    &:hover{color:#FFF;background:#005584;}
}

.gb-button-small, a.gb-button-small{
    display:inline-block;padding:5px 15px;color:#333333;background:#f5f7f7;border:none;outline:none;cursor:pointer;
    &:hover{background:#eeeeee;}
}

.gb-table {
    width:100%;border:1px solid #dddddd;border-collapse:collapse;
    th {background:#f8f8f8;color:#444444;border:1px solid #dddddd;padding:15px 10px;font-size:16px;font-weight:400;}
    td {
        padding:10px;border:1px solid #dddddd;
        &.footer{background:#f8f8f8;color:#444444;font-size:16px;}
    }
}

/* #endregion */

/* #region Mobile Nav Drawer */

@media screen and (max-width: @xsMax){
    .nav-drawer-icon{
        float:left;height:50px;width:20%;line-height:6px;margin:0;position:relative;padding-top:23px;
        .line{
            display:inline-block;width:25px;height:2px;background:#0078b9;.transition-ease(0.2s);position:absolute;
            &:before, &:after{display:inline-block;width:100%;height:2px;background:#0078b9;position:absolute;content:'';.transition-ease(0.2s);}
            &:before{top:-8px;}
            &:after{bottom:-8px;}
        }

        &.selected{
            .line{
                background:transparent;
                &:before{.transform(rotate(45deg));top:0;background:#0078b9;}
                &:after{.transform(rotate(-45deg));bottom:0;background:#0078b9;}
            }
        }
    }
    
    .nav-drawer-overlay{position:fixed;top:50px;left:0;height:100%;width:100%;background:#000;z-index:970;opacity:0.7;}

    .nav-drawer-ctn{
        width:270px;background:#FFF;position:absolute;top:50px;left:-270px;height:100%;min-height:100%;overflow-y:auto;
        ul.root{
            margin:15px 0 80px;padding:0;
            li{
                width:100%;margin-bottom:1px;
                a.item{display:inline-block;width:100%;height:35px;line-height:35px;color:#0078b9;font-size:19px;padding:0 25px;font-weight:300;}
                a.item:hover, a.item.current{background:#0078b9;color:#FFF;}
            }
        }
        ul.category-ctn {
            padding:0 30px;
            li.category-item{
                list-style-type:none;border-bottom:solid 1px #dedede;line-height:20px;padding:10px 20px;
                &:last-child{border-bottom:none;}
                   
                a.category-item{
                    display:inline-block;width:100%;color:#333333;font-weight:300;
                    &:hover, &.item-selected{color:#0078b9;}
                }
            }
        }
    }
}

/* #endregion */



/* #region _ListCategory  */

.left-category-ctn{
    border:1px solid #f0f0f0;border-top:none;
    li{list-style-type:none;border-top:1px solid #f0f0f0;text-transform: uppercase;color:#FFF;}
    li.header{padding: 10px 10px 10px 23px;background:#7dbf13;font-size:15px;}
    a:link, a:visited{display:inline-block;width:100%;padding:13px 10px 10px 33px;color:#8f8f8f;font-size:13px;}
    a:hover, li.item-selected a{text-decoration:none;color:#222;}

    @media screen and (max-width: @xsMax){
        border:none;
        li{border-top:1px solid #f0f0f0;background:#000;display:none;}
        li.header{
            display:block;background:#000;color:#a7cf5d;border-top:none;
            &:after{display:inline-block;font-family:"FontAwesome";content:'\f067';font-size:22px;color:#a7cf5d;float:right;}
            &.expand{
                &:after{content:'\f068';}
            }
        }
        a:link, a:visited{color:#FFF;}
        a:hover, li.item-selected a{text-decoration:none;color:#a7cf5d;}
    }
}

/* #endregion */

/* #region _ListProduct & Details & Related */

.list-product-ctn{
    .product-item{
        width:32%;height:420px;float:left;padding:30px 15px;margin-bottom:2%;border:1px solid #f0f0f0;text-align:center;

        .img-ctn{
            width:100%;height:200px;overflow:hidden;margin-bottom:30px;text-align:center;position:relative;z-index:1;
            img{max-width:100%;max-height:100%;}
        }
        .label{
            display:block;width:100%;height:0;position:relative;z-index:5;color:#FFF;text-align:center;
            &:before{position:absolute;line-height:75px;width:75px;height:75px;.border-radius(50%);bottom:15px;right:0;text-transform:uppercase;}
            &.new{
                &:before{content:'New';background:#dc352e;}
            }
            &.sale{
                &:before{content:'Sale!';background:#ffae00;}
            }
        }

        .price-ctn{
            width:100%;height:30px;overflow:hidden;text-align:center;
            .current-price{display:inline-block;margin-right:3px;font-size:17px;color:#232323;}
            .old-price{display:inline-block;margin-left:3px;font-size:12px;text-decoration:line-through;color:#acadaa;}
        }
        .name{
            display:inline-block;width:100%;text-align:center;height:40px;line-height:20px;overflow:hidden;color:#858585;margin-bottom:20px;
            &:hover{color:#a7cf5d;}
        }
        .btn-cart{
            display:inline-block;color:#222222;background-color:#eeeeee;border-color:#cccccc;cursor:pointer;.transition-ease(0.3s);padding:9px 20px;
            &:hover{background:#7dbf13;color:#FFF;}
            &:after{font-family:FontAwesome;content:'\f07a';margin-left:10px;font-size:16px;}
            &:hover &:after{}
        }
    }

    .paging-ctn{
        margin-top:20px;text-align:center;
        .page-item{
            display:inline-block;width:33px;height:33px;margin-right:3px;text-align:center;line-height:33px;color:#000000;font-weight:bold;.border-radius(4px);
            &:hover, &.current{background:#0078b9;color:#FFF;text-decoration:none;}
        }
    }

    @media screen and (max-width: @xsMax){
        .product-item{
		    height:335px;width:49%;float:left;margin:0 0 2% 0;

		    .img-ctn{height:115px;}
		    .label{
			    &:before{width:50px;height:50px;line-height:50px;}
		    }
	    }
    }

    @media screen and (min-width: @smMin){
        .product-item{
            &:nth-child(3n+1){margin-right:2%;}
            &:nth-child(3n+3){float:right;}
        }
    }

    @media screen and (max-width: @xsMax) and (orientation: landscape){
        .product-item{
            width:32%;
            &:nth-child(3n+1){margin-right:2%;}
            &:nth-child(3n+3){float:right;}
        }
    }

    @media screen and (max-width: @xsMax) and (orientation: portrait){
        .product-item{
            &:nth-child(even){float:right;}
        }
    }
}

.details-product-ctn{
    .img-ctn{
        float:left;width:35%;
        .primary-img{
            width:100%;
            img{max-width:100%;}
        }
        .label{
            .list-product-ctn.product-item.label;
            &:before{bottom:-10px;}
        }
        .extend-img-ctn{
            width:100%;margin-top:25px;
            .item{
                position:relative;width:32%;float:left;margin-bottom:2%;
                &:before{display:block;padding-top:100%;content:'';}
                &:nth-child(3n+1){margin-right:2%;}
                &:nth-child(3n){float:right;}
                .inner{position:absolute;overflow:hidden;top:0;left:0;right:0;bottom:0;}
            }
        }
    }
    .info-ctn{
        width:62%;float:right;
        .name{padding-bottom:20px;font-size:21px;color:#000;margin:0;}
        .current-price{display:inline-block;margin-right:10px;font-size:24px;color:#232323;}
        .old-price{display:inline-block;font-size:17px;text-decoration:line-through;color:#999;}
        .quantity-label{color:#444444;margin-bottom:4px;font-weight:600;}
        .quantity-ctn{
            margin-bottom:30px;.user-select-none;
            .txt-quantity{position:relative;top:-2px;border:solid 1px #BDC2C9;outline:none;width:70px;height:27px;padding:0 10px;}
            span{
                display:inline-block;width:27px;height:27px;line-height:27px;cursor:pointer;text-align:center;border:1px solid #BDC2C9;
                &:before{font-family:FontAwesome;color:#C0C0C0;font-size:16px;.transition-ease(0.3s);}
                &:hover{
                    &:before{color:#444444;}
                } 
            }
            .btn-minus{
                &:before{content:'\f068';}
            }
            .btn-plus{
                &:before{content:'\f067';}
            }
        }
        .btn-cart{.list-product-ctn.product-item.btn-cart}
    }
    .details{
        line-height:24px;margin-top:30px;
        img{max-width:100%;display:block;margin:0 auto;}
    }

    @media screen and (max-width: @xsMax){
        .info-ctn{
		    .name{padding-bottom:15px;}
		    .current-price{margin:0 0 15px;}
	    }
    }

    @media screen and (max-width: @xsMax) and (orientation: landscape){
        .img-ctn{width:44%;}
        .info-ctn{width:53%;}
    }

    @media screen and (max-width: @xsMax) and (orientation:portrait){
        .img-ctn{width:100%;float:none;}
        .info-ctn{width:100%;float:none;margin-bottom:30px;}
    }
}

.related-product-ctn{
    .title{color:#555454;text-transform:uppercase;font-weight:normal;font-size:24px;line-height:30px;padding:0;margin:40px 0 20px;}
    .list-ctn{
        .product-item{
            width:24%;height:350px;float:left;padding:10px;margin-right:1%;

            .img-ctn{
                width:100%;height:175px;overflow:hidden;margin-bottom:15px;text-align:center;position:relative;z-index:1;
                img{max-width:100%;max-height:100%;}
            }
                
            .label{
                .list-product-ctn.product-item.label;
                    
            }
                
            .price-ctn{
                width:100%;height:30px;overflow:hidden;
                .current-price{display:inline-block;margin-right:3px;font-size:15px;color:#232323;}
                .old-price{display:inline-block;margin-left:3px;font-size:12px;text-decoration:line-through;color:#acadaa;}
            }
            .name{
                display:inline-block;width:100%;height:40px;line-height:20px;overflow:hidden;color:#858585;margin-bottom:20px;
                &:hover{color:#a7cf5d;}
            }
            .btn-cart{
                display:inline-block;color:#222222;background-color:#eeeeee;border-color:#cccccc;cursor:pointer;.transition-ease(0.3s);padding:9px 20px;
                &:hover{background:#7dbf13;color:#FFF;}
                &:after{font-family:FontAwesome;content:'\f07a';margin-left:10px;font-size:16px;}
                &:hover &:after{}
            }
        }
    }

    @media screen and (max-width: @xsMax){
        .title{color:#555454;text-transform:uppercase;font-weight:normal;font-size:24px;line-height:30px;padding:0;margin:40px 0 20px;}
	    .list-ctn{
		    .product-item{
			    width:48.5%;margin:0 0 30px 0;
			    &:nth-child(n+1){float:left;}
			    &:nth-child(n+2){float:right;}
		    }
	    }
    }

    @media screen and (min-width: @smMin){
        .title{color:#555454;text-transform:uppercase;font-weight:normal;font-size:24px;line-height:30px;padding:0;margin:40px 0 20px;}
        .list-ctn{
            .product-item{
                &:nth-child(4n){float:right;margin-right:0;}
            }
        }
    }
}

/* #endregion */



/* #region Home */

.home-banner-ctn{
    width:100%;height:450px;max-width:1600px;margin:0 auto;
}

.slick-banner-ctn{
    width:100%;height:450px;
    img{width:100%;height:450px;}
}

.home-ctn{
    .home-project-ctn{
        padding:50px 0 55px;background:url(images/pattern.jpg) repeat;border-bottom:solid 1px #e2e2e2;
        .item{
            padding:0 12px;
            .img-ctn{
                width:100%;height:200px;overflow:hidden;text-align:center;position:relative;z-index:1;
            }
            .content-padding{
                padding:20px 15px 15px;border:solid 1px #e2e2e2;background:#FFF;
            }
            .name{
                display:inline-block;height:43px;line-height:20px;overflow:hidden;color:#181818;font-weight:500;font-size:18px;
                &:hover{color:#0078b9;}
            }
            .location{font-weight:300;height:43px;overflow:hidden;margin:0;padding:0;}
            .year{font-weight:300;margin:0 0 15px;padding:0;}
            .sep{width:100%;background:#e2e2e2;height:1px;margin-bottom:15px;}
            a.details-link{
                display:inline-block;font-size:18px;font-weight:300;
                &:hover{color:#0078b9;}
            }
        }
        .slick-arrow{
            &:before{font-family:FontAwesome;display:inline-block;width:35px;height:35px;border:solid 1px #101010;.border-radius(100%);color:#101010;font-size:22px;text-align:center;line-height:35px;}
            &.slick-next{
                left:51%;bottom:-40px;top:auto;right:auto;
                &:before{content:'\f105';}
            }
            &.slick-prev{
                left:auto;bottom:-40px;top:auto;right:51%;
                &:before{content:'\f104';}
            }
        }
    }
    .home-service-ctn{
        padding:60px 0 30px;border-bottom:solid 1px #e2e2e2;margin-bottom:35px;
        .item{
            width:31%;float:left;
            .name{
                font-size:20px;line-height:24px;text-transform:uppercase;font-size:20px;font-weight:500;margin:0;padding:0;display:inline-block;overflow:hidden;height:50px;
                &:hover{color:#0078b9;}
            }
            .summary{margin:0 0 10px;padding:0;height:81px;overflow:hidden;}
        }
    }
    .home-team-ctn{
        .item{
            width:18.5%;margin-right:1.875%;float:left;text-align:center;
            &:nth-of-type(5n+4){margin-right:0;}
            &:nth-of-type(3n+5){margin-right:0;float:right;}

            .img-ctn{
                width:80%;height:100px;overflow:hidden;text-align:center;position:relative;z-index:1;.border-radius(100%);margin:0 auto 20px;background:#e3e3e3;
            }

            .position{font-weight:bold;font-size:18px;overflow:hidden;height:20px;margin:0 0 5px;padding:0;}
            .name{font-size:14px;margin:0;padding:0;overflow:hidden;height:20px;margin:0;padding:0;}
        }
    }

    @media screen and (max-width: @xsMax){
        .home-project-ctn{
            .slick-arrow{
                &.slick-next{left:53%;}
                &.slick-prev{right:53%;}
            }
        }
        .home-service-ctn{
            .item{
                width:100%;float:none;margin-bottom:30px;
                .name{
                    height:auto;
                }
                .summary{height:auto;}
            }
        }
        .home-team-ctn{
            .item{
                width:100%;float:none;margin:0 0 30px;
                .img-ctn{
                    width:75%;
                }
            }
        }
    }

    @media screen and (min-width: @smMin){
        .home-project-ctn{
            /*
            .item{
                &:nth-of-type(4n+1){margin-right:2%;}
                &:nth-of-type(4n+2){margin-right:2%;}
                &:nth-of-type(4n+4){float:right;}
            }
            */
        }

        .home-service-ctn{
            .item{
                &:nth-of-type(3n+1){margin-right:3.5%;}
                &:nth-of-type(3n+3){float:right;}
            }
        }
        .home-team-ctn{
            .item{
                &:nth-of-type(5n+4){margin-right:0;}
                &:nth-of-type(3n+5){margin-right:0;float:right;}
            }
        }
    }

    @media screen and (max-width: @xsMax) and (orientation: landscape){
        
    }

    @media screen and (max-width: @xsMax) and (orientation: portrait){
        
    }
}

/* #endregion */

/* #region About */

.about-ctn{
    font-size:16px;font-weight:300;
    .left{width:48%;float:left;}
    .right{width:48%;float:right;text-align:right;}
    .main-img{max-width:100%;}

    @media screen and (max-width:@xsMax){
        .left{width:100%;margin-bottom:30px;}
        .right{width:100%;text-align:center;}
    }
}

/* #endregion */

/* #region Service */

.service-ctn{
    .list-service-ctn{
        .item{
            width:32%;height:370px;float:left;margin-bottom:2%;text-align:center;

            .img-ctn{
                width:100%;height:300px;overflow:hidden;margin-bottom:15px;text-align:center;position:relative;z-index:1;
            }

            .name{
                display:inline-block;padding:0 60px;text-align:center;height:40px;line-height:20px;overflow:hidden;color:#333;font-weight:300;text-transform:uppercase;
                &:hover{color:#0078b9;}
            }
        }
        .paging-ctn{
            .list-product-ctn.paging-ctn;
        }
    }
    .service-details-ctn{
        .avatar{max-width:50%;float:right;margin:0 0 10px 35px;}
        .details-ctn{
            line-height:20px;font-size:14px;text-align:justify;
        }
    }
    .service-related-ctn{
        margin-top:40px;
        .title{padding:0;color:#0078b9;margin:0 0 20px 0;font-size:18px;line-height:24px;text-transform:uppercase;font-weight:300;}
        .name{
            display:inline-block;padding-left:15px;margin-left:20px;font-size:12px;line-height:27px;color:#333;font-family:'Open Sans', sans-serif;font-weight:600;text-transform:uppercase;
            &:hover{color:#0078b9;}
        }
    }

    @media screen and (max-width: @xsMax){
        .list-service-ctn{
            .item{
                height:320px;width:100%;float:none;margin:0 0 30px 0;

		        .img-ctn{height:250px;}
		        .name{padding:0 20px;}
            }
        }
        .service-details-ctn{
            .title{padding:0;color:#0078b9;margin:0 0 20px 0;font-size:18px;line-height:24px;text-transform:uppercase;font-weight:300;}
            .avatar{width:100%;max-width:100%;float:none;margin:0 0 20px 0;}
        }
    }

    @media screen and (min-width: @smMin){
        .list-service-ctn{
            .item{
                &:nth-of-type(3n+1){margin-right:2%;}
                &:nth-of-type(3n+3){float:right;}
            }
        }
    }

    @media screen and (max-width: @xsMax) and (orientation: landscape){
        .list-service-ctn{
            .item{
                width:49%;
                &:nth-of-type(3n+2){float:right;}
            }
        }
    }

    @media screen and (max-width: @xsMax) and (orientation: portrait){
        .list-service-ctn{
            .item{
                &:nth-child(even){float:right;}
            }
        }
    }
}

/* #endregion */

/* #region Project */

.project-ctn{
    .list-project-ctn{
        .item{
            width:23.5%;height:405px;float:left;margin-bottom:2%;

            .img-ctn{
                width:100%;height:200px;overflow:hidden;text-align:center;position:relative;z-index:1;
            }
            .content-padding{
                padding:20px 15px 15px;border:solid 1px #e2e2e2;
            }
            .name{
                display:inline-block;height:43px;line-height:20px;overflow:hidden;color:#181818;font-weight:500;font-size:18px;
                &:hover{color:#0078b9;}
            }
            .location{font-weight:300;height:43px;overflow:hidden;margin:0;padding:0;}
            .year{font-weight:300;margin:0 0 15px;padding:0;}
            .sep{width:100%;background:#e2e2e2;height:1px;margin-bottom:15px;}
            a.details-link{
                display:inline-block;font-size:18px;font-weight:300;
                &:hover{color:#0078b9;}
            }
        }
        .paging-ctn{
            .list-product-ctn.paging-ctn;
        }
    }
    .project-details-ctn{
        .img-ctn{
            width:49%;float:left;
            img{max-width:100%;}
        }
        .info-ctn{
            width:49%;float:right;
            .title{display:inline-block;color:#58595b;font-weight:500;font-size:19px;text-transform:uppercase;margin:0 0 15px;padding:10px 0;border-top:solid 1px #b7b7b7;border-bottom:solid 1px #b7b7b7;}
            .info-table{
                td{padding:0 8px 12px 0;}
                strong{text-transform:uppercase;}
            }
        }
        .details-ctn{
            line-height:20px;font-size:14px;text-align:justify;margin-top:20px;
        }
    }
    .project-related-ctn{
        margin-top:40px;
        .title{padding:0;color:#0078b9;margin:0 0 20px 0;font-size:18px;line-height:24px;text-transform:uppercase;font-weight:300;}
        .name{
            display:inline-block;padding-left:15px;margin-left:20px;font-size:12px;line-height:27px;color:#333;font-family:'Open Sans', sans-serif;font-weight:600;text-transform:uppercase;
            &:hover{color:#0078b9;}
        }
    }

    @media screen and (max-width: @xsMax){
        .list-project-ctn{
            .item{
                height:320px;width:100%;float:none;margin:0 0 30px 0;

		        .img-ctn{height:250px;}
		        .name{padding:0 20px;}
            }
        }
        .project-details-ctn{
            .img-ctn{width:100%;float:none;margin-bottom:20px;}
            .info-ctn{
                width:100%;
                .title{display:inline-block;color:#58595b;font-weight:500;font-size:19px;text-transform:uppercase;margin:0 0 15px;padding:10px 0;border-top:solid 1px #b7b7b7;border-bottom:solid 1px #b7b7b7;}
                .info-table{
                    td{padding:0 8px 12px 0;}
                    strong{text-transform:uppercase;}
                }
            }
        }
    }

    @media screen and (min-width: @smMin){
        .list-project-ctn{
            .item{
                &:nth-of-type(4n+1){margin-right:2%;}
                &:nth-of-type(4n+2){margin-right:2%;}
                &:nth-of-type(4n+4){float:right;}
            }
        }
    }

    @media screen and (max-width: @xsMax) and (orientation: landscape){
        .list-project-ctn{
            .item{
                width:49%;
                &:nth-of-type(3n+2){float:right;}
            }
        }
    }

    @media screen and (max-width: @xsMax) and (orientation: portrait){
        .list-project-ctn{
            .item{
                &:nth-child(even){float:right;}
            }
        }
    }
}

/* #endregion */

/* #region News */

.news-ctn{
    .list-news-ctn{
        .item{
            width:100%;margin-bottom:40px;
            .name{
                display:inline-block;width:100%;color:#fd798b;font-family:'Open Sans', sans-serif;font-size:19px;line-height:24px;margin:0 0 15px;
                &:hover{color:#ff7f02;}
            }
            .img-ctn{
                width:35%;float:left;text-align:left;
                img{max-width:100%;}
            }
            .info-ctn{
                width:61%;float:right;
                .summary{line-height:20px;padding:0;margin:0 0 18px;font-size:14px;}
                .gb-button{}
            }
            &:after{display:block;content:'';clear:both;}
        }
        .paging-ctn{
            .list-product-ctn.paging-ctn;
        }
    }
    .news-details-ctn{
        .title{padding:0;color:#b6a285;margin:0 0 20px 0;font-size:20px;line-height:30px;text-transform:uppercase;font-weight:normal;}
        .details-ctn{
            line-height:20px;font-size:14px;
            img{max-width:100%;display:block;margin:0 auto;}
        }
    }
    .news-related-ctn{
        margin-top:40px;
        .title{padding:0;color:#b6a285;margin:0 0 20px 0;font-size:18px;line-height:30px;text-transform:uppercase;font-weight:normal;}
        .name{
            display:inline-block;padding-left:15px;margin-left:20px;font-size:12px;line-height:27px;color:#fd798b;font-family:'Open Sans', sans-serif;font-weight:600;text-transform:uppercase;
            &:hover{color:#8c775b;}
        }
    }

    @media screen and (max-width: @xsMax) and (orientation: portrait){
        .list-news-ctn{
            .item{
                width:100%;margin-bottom:40px;
                .name{
                    display:inline-block;width:100%;color:#fd798b;font-family:'Open Sans', sans-serif;font-size:19px;line-height:24px;margin:0 0 15px;
                    &:hover{color:#ff7f02;}
                }
                .img-ctn{width:100%;float:none;text-align:center;margin-bottom:10px;}
                .info-ctn{width:100%;float:none;}
            }
        }
    }
}

/* #endregion */

/* #region Login & Register */

.login-ctn{
    width:500px;margin:0 auto;
    .login-form{
        ul{
            padding-top:10px;
            li{list-style-type:none;text-align:center;color:#de4a4a;}
        }
    }

    @media screen and (max-width: @xsMax){
        .login-form{width:100%;}
    }
}

/* #endregion */

/* #region Profile */

.user-profile-ctn{
    .profile-form{
        .validate-msg{
            display:inline-block;width:100%;text-align:center;height:25px;margin:10px 0;color:#de4a4a;
            &.loading{background:url(images/loading.gif) center no-repeat;}
        }
    }
}

/* #endregion */

/* #region Change Password */

.change-password-ctn{
    .cp-form{
        ul{
            padding-top:10px;
            li{list-style-type:none;text-align:center;color:#de4a4a;}
        }
    }
}

/* #endregion */

/* #region Contact */

.contact-ctn{
    .map-ctn{
        width:100%;height:500px;position:relative;margin-bottom:45px;
        .mask{position:absolute;top:0;bottom:0;left:0;right:0;z-index:3;}
        iframe{position:absolute;top:0;bottom:0;left:0;right:0;z-index:1;}
    }
    .info-table{
        td{
            padding:0 8px 15px 0;font-size:16px;
            strong{font-weight:500;text-transform:uppercase;}
            a:link, a:visited{color:#333333;}
            a:hover{text-decoration:underline;}
        }
    }
    .form-ctn{
        .button-send{
            
        }
        .validate-msg{
            display:inline-block;width:100%;text-align:center;height:25px;margin:5px 0;color:#de4a4a;
            &.loading{background:url(images/loading.gif) center no-repeat;}
        }
    }
}

/* #endregion */

/* #region Check Out */

.check-out-ctn {
    .gb-table {
        td {
            &.img-ctn {
                width:20%;text-align:center; 
                img{max-width:100%;max-height:120px;}
            }
            &.product-name {width:30%;text-align:left; }
            &.price {width:15%;text-align:right; }
            &.quantity {width:10%;text-align:center;}
            &.subtotal {width:15%;text-align:right; }
            &.action {text-align:center; }
        }
        .btn-delete{
            color:#444444;.transition-ease(0.3s);
            &:hover{color:#C0C0C0;}
            &:before{font-family:FontAwesome;content:'\f014';font-size:25px;cursor:pointer;}
        }
    }
    .checkout-form{
        margin-top:30px;
        .left{width:30%;float:left;}
        .right{width:67%;float:right;}
        .label{color:#444444;margin:0 0 6px 0;font-weight:700;}
        .control-ctn{margin-bottom:8px;}
        
        .validate-msg{
            display:inline-block;width:100%;text-align:center;height:25px;margin:5px 0;color:#de4a4a;
            &.loading{background:url(images/loading.gif) center no-repeat;}
        }
    }

    @media screen and (max-width: @xsMax){
        .gb-table {
		    td {
			    &.img-ctn {
				    width:30%;
			    }
			    &.product-name {width:70%;}
		    }
	    }

	    .checkout-form{
		    .left{width:100%;float:none;}
		    .right{width:100%;float:none;}
	    }
    }
}

/* #endregion */

/* #region User Order */

.list-user-order{
    .gb-table {
        .btn-details{
            color:#444444;.transition-ease(0.3s);
            &:hover{color:#C0C0C0;}
            &:before{font-family:FontAwesome;content:'\f08e';font-size:25px;cursor:pointer;}
        }
    }
}

.form-user-order-details{
    .gb-table {
        td {
            &.img-ctn {
                width:20%;text-align:center; 
                img{max-width:100%;max-height:100px;}
            }
            &.product-name {width:30%;text-align:left; }
            &.price {width:15%;text-align:right; }
            &.quantity {width:10%;text-align:center;}
            &.subtotal {width:15%;text-align:right; }
            &.action {text-align:center; }
        }
        .btn-delete{
            color:#444444;.transition-ease(0.3s);
            &:hover{color:#C0C0C0;}
            &:before{font-family:FontAwesome;content:'\f014';font-size:25px;cursor:pointer;}
        }
    }
}

/* #endregion */

/* #region Account */

.gb-account-ctn { 
    width:500px;margin:0 auto;

    .form-group { margin: 0 0 15px; }
    .left-col { float: left; width: 20%; }
    .right-col { float: right; width: 78%; }
    .validation-summary-errors { color: #f44336; }

    &.change-password {
        .left-col { float: left; width: 25%; }
        .right-col { float: right; width: 73%; }
    }

    &.add-user { 
        .left-col{float:left;width:25%;}
        .right-col{float:right;width:73%;}
    }
}

.manage-user-ctn{
    .role-item{float:left;margin-right:30px;}
}

/* #endregion */





/* #region Overwrite bootstrap & Misc  */

.well{margin-bottom:20px;}
.btn-file{position:relative;overflow:hidden;height:34px;padding:6px 12px;border-radius:0 !important;}
.btn-file input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:100px;text-align:right;outline:none;display:block;opacity:0;}

.dropdownjs:after{content:'\f0d7';color:#000;font-size:20px;top:0;font-family:FontAwesome;position:absolute;right:10px;line-height:34px;}
.dropdownjs .form-control{background:#FFF;}
.dropdownjs ul { max-height: 330px !important; overflow: auto !important; width: 100%;
    li { padding: 10px 20px 10px 10px; }
    li.level-1 { padding: 10px 20px 10px 10px; background: #dff0d8; }
    li.level-2 { padding: 10px 20px 10px 25px; background: #d9edf7; }
    li.level-3 { padding: 10px 20px 10px 40px; background: #fcf8e3; }
    li.level-4 { padding: 10px 20px 10px 55px; background: #f2dede; }
}

.panel-title{font-size:19px;}
.btn.btn-fab{line-height:56px;padding:0;}
.pagination li a{cursor:pointer;}
.pad-medium{padding-bottom:7px;}
.list-group{
    .list-group-separator{margin:20px 0 0 0;padding-bottom:20px;}
    .list-group-separator:before{border-bottom:1px solid rgba(0,0,0,.5);}
    .list-group-item.gray{background:#eeeeee;}
}
.panel {
    &.panel-left, .column-left {width:49%;float:left;}
    &.panel-right, .column-right{width:49%;float:right;}
}

/* #endregion */

/* #region Popup notification */

.ndt-gb-alert{
    position:fixed;z-index:99900;padding:10px 35px 10px 10px;right:20px;top:20px;
    &.alert-shop{
        background-color: #7dbf13;color:#FFF;
        .close{
            position:relative;top:-4px;right:-28px;float:right;font-size:17px;font-weight:300;line-height:1;background:none;border:0;color:#FFF;outline:none;
            &:hover{color:#000;text-decoration:none;cursor:pointer;}
        }
    }
}

/* #endregion */

/* #region Lightbox & overlay */

.my-fix{overflow-y:hidden;}
.ndt-gb-overlay{position:fixed;top:0px;left:0px;height:100%;width:100%;background:#000;z-index:11000;}
.ndt-gb-overlay-loading{position:fixed;top:0px;left:0px;height:100%;width:100%;background:#000 url(images/website-loader.gif) center no-repeat;z-index:14000;opacity:0.7;}

.ndt-lb-ctn{
    position:fixed;z-index:12000;background:#FFF;font-family:Arial, Helvetica, sans-serif;overflow:hidden;
    .ndt-lb-header{
        .settings-icon{
            .dropdown-toggle{
                &:before{font-family:FontAwesome;color:#FFF;content:'\f103';font-size:25px;}
            }
            .dropdown-menu{left:auto;right:0;}
        }
    }
}
.ndt-lb-ctn.responsive-width{width:80%;left:10%;}
.ndt-lb-ctn.responsive-height{height:90%;top:5%;}
.ndt-lb-ctn.full-screen{width:100% !important;height:100% !important;top:0 !important;left:0 !important;z-index:12100;}
.ndt-lb-ctn .ndt-lb-header{width:100%;height:48px;.box-shadow(0px 2px 4px #737373);position:absolute;top:0;left:0;z-index:2;padding:0px 10px;color:#FFF;}
.ndt-lb-ctn.indigo .ndt-lb-header{background:#3f51b5;}
.ndt-lb-ctn.teal .ndt-lb-header{background:#009688;}
.ndt-lb-ctn.purple .ndt-lb-header{background:#673AB7;}
.ndt-lb-ctn.orange .ndt-lb-header{background:#FF5722;}
.ndt-lb-ctn.grey .ndt-lb-header{background:#9E9E9E;color:#000;}
.ndt-lb-ctn.red .ndt-lb-header{background:#F44336;}
.ndt-lb-ctn.pink .ndt-lb-header{background:#E91E63;}

.ndt-lb-ctn .ndt-lb-header div, .ndt-lb-ctn .ndt-lb-header span{height:48px;line-height:48px;}
.ndt-lb-ctn .ndt-lb-header .btn{margin:0 !important;padding:0 10px;color:#FFF;}
.ndt-lb-ctn .ndt-lb-header .btn.btn-save:before{font-family:FontAwesome;content:'\f0c7';margin-right:6px;font-size:20px;position:relative;bottom:-1px;}
.ndt-lb-ctn .ndt-lb-header .gb-icon{display:inline-block;height:48px;width:30px;cursor:pointer;}
.ndt-lb-ctn .ndt-lb-close{float:left;background:url(images/large/ic_arrow_back_white_24dp.png) center no-repeat;background-size:30px 30px;margin-right:15px;}
.ndt-lb-ctn .ndt-lb-title{float:left;color:#FFF;font-size:17px;}
.ndt-lb-ctn .ndt-lb-other-ctn{float:right;text-align:right;}
.ndt-lb-ctn {
    .btn-fullscreen{
        float:right;margin-left:20px;
        &:before{font-family:FontAwesome;content:'\f065';color:#FFF;cursor:pointer;font-size:23px;}
        &.is-full:before{content:'\f066';}
    }
}

.ndt-lb-ctn .ndt-lb-ct{position:absolute;top:48px;left:0;right:0;bottom:0;z-index:1;overflow-y:auto;}
.ndt-lb-ctn.with-tab .ndt-lb-ct { overflow-y:hidden; }
.ndt-lb-ctn .ndt-lb-ct.loading{background:url(images/preloader.gif) center no-repeat;}

.ndt-lb-ctn .ndt-lb-tabs{position:absolute;top:0;left:0;right:0;bottom:0;}
.ndt-lb-ctn .ui-tabs-nav{position:absolute;top:0;left:0;right:0;}
.ndt-lb-ctn .lb-tabs-ct{position:absolute;top:@tabHeaderHeight;left:0;right:0;bottom:0;z-index:1;}

/* #endregion */

/* #region Overwrite Jquery UI Tabs */

@tabHeaderHeight:48px;

.ndt-ov-tabs .ndt-lb-tabs{}
.ndt-ov-tabs .lb-tabs-ct{padding:0px;overflow-y:auto;}
.ndt-ov-tabs .ui-corner-all{.border-radius(0)}
.ndt-ov-tabs .ui-widget-header{border:none;background:none;}
.ndt-ov-tabs .ui-widget-content{border:none;background:none;padding:0;}
.ndt-ov-tabs .ui-tabs .ui-tabs-nav{padding:0px;border-bottom:solid 1px #E0E0E0;background:#eaeaea;}
.ndt-ov-tabs .ui-tabs .ui-tabs-nav li{background:none;border:none;margin:0 0 -1px 0;text-align:center;padding:0px;outline:none;.box-border-box;height:@tabHeaderHeight;}
.ndt-ov-tabs .ui-tabs .ui-tabs-nav li a{display:inline-block;color:#757575;font-size:16px;float:none;outline:none;padding:0 20px;line-height:@tabHeaderHeight;}
.ndt-ov-tabs .ui-tabs .ui-tabs-nav li.ui-state-active{border-bottom:solid 3px #3F51B5;}
.ndt-ov-tabs .ui-tabs .ui-tabs-panel{padding:0;}

/* #endregion */

/* #region Admin Nav */

.admin-header-ctn{
    position:fixed;top:0px;left:0px;width:100%;height:48px;padding:0px 10px 0px 10px;.box-border-box;background:#3f51b5;z-index:1000;.box-shadow(0px 2px 8px #523e26);
    
    .admin-nav{width:95%;margin:0 auto;}

    ul li{list-style-type:none;}

    .nav-drawer-icon{
        float:left;height:50px;width:10%;line-height:6px;margin:0;position:relative;padding-top:23px;
        .line{display:inline-block;width:25px;height:2px;background:#fff;.transition-ease(0.2s);position:absolute;}
        .line:before, .line:after{display:inline-block;width:100%;height:2px;background:#fff;position:absolute;content:'';.transition-ease(0.2s);}
        .line:before{top:-8px;}
        .line:after{bottom:-8px;}
        &.selected{
            .line{background:transparent;}
            .line:before{.transform(rotate(45deg));top:0;background:#FFF;}
            .line:after{.transform(rotate(-45deg));bottom:0;background:#FFF;}
        }
    }

    ul.header-info{
        width:80%;float:right;
        li{height:48px;line-height:48px;}
        li.page-title{width:70%;float:left;color:#FFF;text-align:center;font-size:16px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
        li.dropdown{
            width:30%;float:right;text-align:right;
            .dropdown-toggle{
                &:before{display:inline-block;width:30px;height:30px;line-height:30px;text-align:center;color:#FFF;font-family:FontAwesome;content:'\f007';font-size:24px;position:relative;top:3px;}
            }
            a.dropdown-toggle{color:#FFF;display:inline-block;text-decoration:none;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;}
            a.dropdown-toggle:hover{text-decoration:none;}
            .mdi-action-account-circle{
                &:before{line-height:48px;margin-right:7px;font-size:30px;}
            }
            .dropdown-menu{
                left:auto;right:0;
                li{height:auto;line-height:normal;}
            }
        }
    }

    .nav-drawer-ctn{
        width:270px;background:#FFF;position:absolute;top:48px;left:-270px;height:100%;min-height:100%;overflow-y:auto;
        ul{
            margin:15px 0 80px;padding:0;
            li{
                width:100%;margin-bottom:1px;
                &.sep{height:1px;background:#BDBDBD;margin:10px 0;}
                a.item{display:inline-block;width:100%;height:35px;line-height:35px;color:#000;font-size:17px;padding:0 25px;font-weight:300;}
                a.item:hover, a.item.current{background:#BDBDBD;}
            }
        }
    }
}

body.admin{
    .nav-drawer-overlay{position:fixed;top:48px;left:0;height:100%;width:100%;background:#000;z-index:970;opacity:0.7;}
}

/* #endregion */

/* #region SiteSettings */

.site-settings-ctn{
    max-width:800px;margin:0 auto;
    textarea{height:100px;}
}

/* #endregion */

/* #region ManageCategory */

.manage-category-ctn{
    .list-group-item{
        .name{}
        &.level-1 .name{}
        &.level-2 .name{padding-left:5%;}
        &.level-3 .name{padding-left:10%;}
        &.level-4 .name{padding-left:15%;}
        .btn{margin:0;}
    }
}

.form-manage-category {
    
}

/* #endregion */

/* #region ManageProduct */

.manage-product-ctn {
    .primary-image{max-width:100%;margin:0 0 10px;}
}

.form-manage-product {
    .toggle-content-image{
        margin-right:20px;
        &:before{font-family: FontAwesome;content: '\f1c5';margin-right:6px;font-size:20px;position:relative;bottom:-1px;}
    }

    &.has-image-details{
        width:79%;left:0;
        .content-info{width:80%;float:left;}
        .content-image{width:18%;position:absolute;top:0;right:0;bottom:0;}
    }

    &.has-image-extends{
        width:79%;left:21%;
        &.has-image-details{width:58%;left:21%;}
    }
}

.form-details-image{
    .form-content-details-image;
}

.form-extends-images{
    .form-content-image;
}

/* #endregion */

/* #region ManageContent */

.manage-content-ctn {
    .primary-image{max-width:100%;margin:0 0 10px;}
}

.form-manage-content {
    .toggle-content-image{
        margin-right:20px;
        &:before{font-family: FontAwesome;content: '\f1c5';margin-right:6px;font-size:20px;position:relative;bottom:-1px;}
    }

    &.has-image-details{
        width:79%;left:0;
        .content-info{width:80%;float:left;}
        .content-image{width:18%;position:absolute;top:0;right:0;bottom:0;}
    }

    &.has-image-extends{
        width:79%;left:21%;
        &.has-image-details{width:58%;left:21%;}
    }

    .left-col { float: left; width: 30%; }
    .right-col { float: right; width: 67%; }
    .primary-image { max-width: 100%;max-height:250px; }
}

.form-content-image{
    width:20% !important;left:0 !important;right:auto !important;display:none;
    .ndt-lb-close{display:none !important;}
    .float-img-ctn { width:100%; margin: 0 0 6px; position: relative; }
    .float-image { width:100%;.transition-ease(0.3s); }
    .btn-delete { position: absolute; z-index: 2; .transition-ease(0.2s); .transform(scale(0)); .transform-origin(top left); background: #f44336; padding: 8px 20px; text-align: center; cursor: pointer; color: #FFF; }
    .btn-set-primary{position: absolute; z-index: 2; .transition-ease(0.2s); .transform(scale(0)); .transform-origin(top right); background: #f44336; padding: 8px 20px; text-align: center; cursor: pointer; color: #FFF;top:0;right:0;}
    .float-img-ctn:hover .float-image { opacity:0.5; }
    .float-img-ctn:hover .btn-delete { .transform(scale(1)); }
    .float-img-ctn:hover .btn-set-primary { .transform(scale(1)); }

    &.full-screen{
        .float-img-ctn { height: 200px; width:auto; float: left; margin: 0 6px 6px 0; position: relative; }
        .float-image { height: 100%;width:auto; .transition-ease(0.3s); }
    }
}

.form-content-details-image{
    width:20% !important;right:0 !important;left:auto !important;display:none;
    .ndt-lb-close{display:none !important;}
    .float-img-ctn { width:100%; margin: 0 0 6px; position: relative; }
    .float-image { width:100%;.transition-ease(0.3s); }
    .btn-delete { position: absolute; z-index: 2; .transition-ease(0.2s); .transform(scale(0)); .transform-origin(top left); background: #f44336; padding: 8px 20px; text-align: center; cursor: pointer; color: #FFF; }
    .btn-set-primary{position: absolute; z-index: 2; .transition-ease(0.2s); .transform(scale(0)); .transform-origin(top right); background: #f44336; padding: 8px 20px; text-align: center; cursor: pointer; color: #FFF;top:0;right:0;}
    .float-img-ctn:hover .float-image { opacity:0.5; }
    .float-img-ctn:hover .btn-delete { .transform(scale(1)); }
    .float-img-ctn:hover .btn-set-primary { .transform(scale(1)); }

    &.full-screen{
        .float-img-ctn { height: 200px; width:auto; float: left; margin: 0 6px 6px 0; position: relative; }
        .float-image { height: 100%;width:auto; .transition-ease(0.3s); }
    }
}

/* #endregion */

/* #region Manage Banner */

.manage-banner-ctn {
    .primary-image{max-width:100%;margin:0 0 10px;}
}

/* #endregion */

/* #region Manage Order */

.manage-order-ctn{
    
}

@media screen and (min-width: 768px) {  
    .manage-order-ctn{
        .search-ctn{
            .ddl-ctn{padding-right:0;}
            .txt-ctn{padding-left:0;margin-left:-1px;}
        }
    }
}

.form-admin-order-details{
    .table {
        td {
            &.img-ctn {
                width:20%;text-align:center; 
                img{max-width:100%;max-height:100px;}
            }
            &.product-name {width:30%;text-align:left; }
            &.price {width:15%;text-align:right; }
            &.quantity {width:10%;text-align:center;}
            &.subtotal {width:15%;text-align:right; }
            &.action {text-align:center; }
        }
    }
}

/* #endregion */

/* #region Manage Users */

@media screen and (min-width: 768px) {  
    .manage-user-ctn{
        .search-ctn{
            .ddl-ctn{padding-right:0;}
            .txt-ctn{padding-left:0;margin-left:-1px;}
        }
    }
}

/* #endregion */

/* #region Single Content */

.single-content-ctn{
    .extends-image{
        .float-img-ctn { height: 200px; float: left; margin: 0 6px 6px 0; position: relative; }
        .float-image { height: 100%;.transition-ease(0.3s);max-width:100%; }
        .btn-delete { position: absolute; z-index: 2; .transition-ease(0.2s); .transform(scale(0)); .transform-origin(top left); background: #f44336; padding: 8px 20px; text-align: center; cursor: pointer; color: #FFF; }
        .float-img-ctn:hover .float-image { opacity:0.5; }
        .float-img-ctn:hover .btn-delete { .transform(scale(1)); }
    }
}

.form-single-content-details-image{
    .float-img-ctn { width:100%; margin: 0 0 6px; position: relative; }
    .float-image { width:100%;.transition-ease(0.3s); }
    .btn-delete { position: absolute; z-index: 2; .transition-ease(0.2s); .transform(scale(0)); .transform-origin(top left); background: #f44336; padding: 8px 20px; text-align: center; cursor: pointer; color: #FFF; }
    .float-img-ctn:hover .float-image { opacity:0.5; }
    .float-img-ctn:hover .btn-delete { .transform(scale(1)); }

    &.full-screen{
        .float-img-ctn { height: 200px; width:auto; float: left; margin: 0 6px 6px 0; position: relative; }
        .float-image { height: 100%;width:auto; .transition-ease(0.3s); }
    }
}

/* #endregion */



/* #region Mobile */

.mobile-block{display:none;}
.desktop-block{}

@media screen and (max-width: @xsMax){
    .mobile-block{display:block;}
    .desktop-block{display:none;}

    /* Prevent zoom when focus into input */
	input[type="text"], input[type="password"], input[type="date"],
	input[type="datetime"], input[type="datetime-local"], input[type="month"],
	input[type="week"], input[type="email"], input[type="number"],
	input[type="search"], input[type="tel"], input[type="time"],
	input[type="url"], textarea, .jqte_editor{ font-size: 16px !important;}

    /* #region Lightbox & overlay */

    .my-fix{overflow-y:hidden;}
    .ndt-gb-overlay{position:fixed;top:0;left:0;height:100%;width:100%;background:#000;z-index:11000;}
    .ndt-gb-overlay-loading{position:fixed;top:0;left:0;height:100%;width:100%;background:#000 url(images/website-loader.gif) center no-repeat;z-index:14000;opacity:0.7;}
    .ndt-lb-ctn{
        width:100% !important;height:100% !important;left:0 !important;top:0 !important;
        .btn-fullscreen{display:none;}
    }

    /* #endregion */
}

/* #endregion */