﻿@font-face {
  font-family: 'FontAwesome';
  src: url('font-awesome/fontawesome-webfont.eot?v=4.3.0');
  src: url('font-awesome/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('font-awesome/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('font-awesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* #region CSS3 Cross Browser */
.box-border-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.user-select-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* #endregion */
/* #region Media Width  */
/* #endregion */
/*
    font-family:'Roboto', sans-serif;
*/
/* #region Layout */
html {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body .gb-content-ctn {
  padding: 60px 0 50px;
}
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
  color: #333333;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
a:hover {
  text-decoration: none;
}
img {
  outline: none;
  border: none;
}
ul {
  margin: 0;
  padding: 0;
}
body.admin {
  font-family: Arial;
  font-size: 14px;
}
body.admin h1,
body.admin h2,
body.admin h3,
body.admin h4,
body.admin h5,
body.admin h6 {
  font-family: Arial;
}
.gb-page-width {
  width: 95%;
  margin: 0 auto;
  max-width: 1170px;
}
.header-ctn {
  width: 100%;
}
.header-ctn .top-ctn {
  background: #FFF;
  padding: 10px 0;
}
.header-ctn .top-ctn .logo-ctn {
  float: left;
}
.header-ctn .bottom-ctn {
  background: #0178ba;
}
.header-ctn .bottom-ctn .main-nav-ctn ul li.root {
  float: left;
  list-style-type: none;
  padding: 0;
  height: 60px;
  line-height: 60px;
  position: relative;
  z-index: 1002;
}
.header-ctn .bottom-ctn .main-nav-ctn ul li.root.sep {
  padding: 0 18px;
}
.header-ctn .bottom-ctn .main-nav-ctn ul li.root.sep:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  margin-top: 27px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: #055f91;
}
.header-ctn .bottom-ctn .main-nav-ctn ul li.root:hover ul.category-ctn {
  display: block;
}
.header-ctn .bottom-ctn .main-nav-ctn ul a.item:link,
.header-ctn .bottom-ctn .main-nav-ctn ul a.item:visited {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}
.header-ctn .bottom-ctn .main-nav-ctn ul a.item:hover,
.header-ctn .bottom-ctn .main-nav-ctn ul a.item.current {
  color: #055f91;
}
.header-ctn .bottom-ctn .main-nav-ctn ul.category-ctn {
  display: none;
  width: 290px;
  background: #FFFFFF;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  left: -90px;
  z-index: 1002;
  border: solid 1px #dedede;
}
.header-ctn .bottom-ctn .main-nav-ctn ul.category-ctn li.category-item {
  list-style-type: none;
  border-bottom: solid 1px #dedede;
  line-height: 20px;
  padding: 10px 20px;
}
.header-ctn .bottom-ctn .main-nav-ctn ul.category-ctn li.category-item:last-child {
  border-bottom: none;
}
.header-ctn .bottom-ctn .main-nav-ctn ul.category-ctn li.category-item a.category-item {
  display: inline-block;
  width: 100%;
  color: #333333;
  font-weight: 300;
  text-transform: uppercase;
}
.header-ctn .bottom-ctn .main-nav-ctn ul.category-ctn li.category-item a.category-item:hover,
.header-ctn .bottom-ctn .main-nav-ctn ul.category-ctn li.category-item a.category-item.item-selected {
  color: #0078b9;
}
@media screen and (max-width: 767px) {
  .header-ctn .top-ctn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    height: 50px;
    z-index: 1000;
  }
  .header-ctn .top-ctn .logo-ctn {
    width: 60%;
    text-align: center;
  }
  .header-ctn .top-ctn .logo-ctn .logo {
    max-height: 40px;
    margin-top: 5px;
  }
}
.body-ctn {
  padding: 30px 0 60px;
}
@media screen and (max-width: 767px) {
  .body-ctn {
    padding-top: 50px;
  }
}
.bottom-info-ctn {
  width: 100%;
  max-width: 1600px;
  height: 330px;
  background: url(images/bottom-bg.jpg) center no-repeat;
  margin: 0 auto;
  padding-top: 45px;
}
.bottom-info-ctn .title {
  font-weight: 500;
  font-size: 22px;
  color: #FFF;
  margin: 0;
  padding: 0 0 20px;
}
.bottom-info-ctn .info-item {
  font-weight: 300;
  font-size: 18px;
  padding: 0;
  margin: 0 0 22px;
  color: #FFF;
}
.bottom-info-ctn .info-item a:link,
.bottom-info-ctn .info-item a:visited {
  color: #FFF;
}
.bottom-info-ctn .info-item a:hover {
  text-decoration: underline;
}
.bottom-info-ctn .social-column {
  padding-left: 60px;
}
.bottom-info-ctn .social-icon:before {
  font-family: FontAwesome;
  font-size: 24px;
  color: #0078b9;
  margin-right: 15px;
}
.bottom-info-ctn .social-icon.facebook:before {
  content: '\f082';
}
.bottom-info-ctn .social-icon.youtube:before {
  content: '\f166';
}
.bottom-info-ctn .social-icon.google:before {
  content: '\f0d4';
}
.bottom-info-ctn .social-icon:hover {
  color: #0078b9 !important;
  text-decoration: none !important;
}
.bottom-info-ctn .btn-subscribe {
  font-size: 21px;
  cursor: pointer;
}
.bottom-info-ctn .btn-subscribe:after {
  font-family: FontAwesome;
  content: '\f101';
  margin-left: 5px;
  font-size: 21px;
}
.bottom-info-ctn .btn-subscribe:hover {
  color: #0078b9;
}
@media screen and (max-width: 767px) {
  .bottom-info-ctn {
    height: auto;
    background: #555454;
  }
  .bottom-info-ctn .social-column {
    padding-left: 15px;
  }
  .bottom-info-ctn .social-icon:before {
    color: #FFF;
  }
}
.footer-ctn {
  background: #F5F5F5;
  padding: 20px 0;
  text-align: center;
}
.footer-ctn ul.foot-nav {
  display: inline-block;
}
.footer-ctn ul.foot-nav li {
  float: left;
  list-style-type: none;
  padding: 0;
  height: 30px;
  line-height: 30px;
}
.footer-ctn ul.foot-nav li.sep {
  padding: 0 18px;
}
.footer-ctn ul.foot-nav li.sep:before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  margin-top: 11px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: #a2a2a2;
}
.footer-ctn ul.foot-nav a.item:link,
.footer-ctn ul.foot-nav a.item:visited {
  color: #333333;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}
.footer-ctn ul.foot-nav a.item:hover,
.footer-ctn ul.foot-nav a.item.current {
  color: #333333;
}
.footer-ctn .copyright {
  display: inline-block;
  width: 100%;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  color: #666666;
  margin: 0;
  padding: 0;
}
.footer-ctn .signin-ctn {
  margin: 5px 0;
  text-align: center;
}
.footer-ctn .signin-ctn a.item:link,
.footer-ctn .signin-ctn a.item:visited {
  font-size: 12px;
  color: #666666;
}
.footer-ctn .signin-ctn a.item:hover,
.footer-ctn .signin-ctn a.item.current {
  color: #666666;
}
.back-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  display: none;
}
.back-top:before {
  font-family: FontAwesome;
  color: #000;
  content: '\f062';
  font-size: 33px;
  padding-top: 2px;
  border-top: solid 5px #000;
}
/* #endregion */
/* #region Global style */
.gb-title-border {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #555454;
  text-transform: uppercase;
  padding: 0 0 17px 0;
  margin: 0 0 30px;
  border-bottom: 1px solid #f0f0f0;
}
.gb-breadcrumbs-ctn {
  text-align: center;
  margin-bottom: 40px;
}
.gb-page-title {
  display: inline-block;
  font-weight: 300;
  font-size: 30px;
  color: #0078b9;
  margin: 0;
  padding: 0 0 10px;
  text-transform: uppercase;
}
.gb-page-title-underline {
  color: #0078b9;
  height: 4px;
  background: #0078b9;
  margin: 0 auto 8px;
  position: relative;
}
.gb-page-title-underline:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #0078b9;
  position: absolute;
  left: -7px;
  top: 0;
}
.gb-page-title-underline:after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #0078b9;
  position: absolute;
  right: -7px;
  top: 0;
}
.gb-breadcrumbs {
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
}
.gb-breadcrumbs.has-link {
  color: #0078b9;
}
.gb-breadcrumbs.has-sep {
  margin-left: 7px;
}
.gb-breadcrumbs.has-sep:before {
  font-family: FontAwesome;
  content: '\f105';
  margin-right: 7px;
  font-size: 16px;
}
.gb-title-large {
  font-size: 25px;
  font-weight: 500;
  padding: 0;
  margin: 0 0 30px;
}
.gb-textbox {
  display: inline-block;
  padding: 0 15px;
  height: 46px;
  line-height: 46px;
  outline: none;
  width: 100%;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #555555;
  background: #FFF;
  border: none;
}
.gb-textbox.border {
  border: solid 1px #e7e7e7;
}
.gb-textbox.radius {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.gb-box {
  background: #CCC;
  border: 1px solid #f0f0f0;
  padding: 14px 18px 13px;
}
.gb-box .title {
  text-transform: uppercase;
  color: #555454;
  font-size: 18px;
  padding: 0 0 15px;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 12px;
  border-bottom: 1px solid #f0f0f0;
}
.gb-button,
a.gb-button {
  display: inline-block;
  padding: 0 30px;
  color: #FFF;
  background: #0078b9;
  border: none;
  outline: none;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.gb-button:hover,
a.gb-button:hover {
  color: #FFF;
  background: #005584;
}
.gb-button-small,
a.gb-button-small {
  display: inline-block;
  padding: 5px 15px;
  color: #333333;
  background: #f5f7f7;
  border: none;
  outline: none;
  cursor: pointer;
}
.gb-button-small:hover,
a.gb-button-small:hover {
  background: #eeeeee;
}
.gb-table {
  width: 100%;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
.gb-table th {
  background: #f8f8f8;
  color: #444444;
  border: 1px solid #dddddd;
  padding: 15px 10px;
  font-size: 16px;
  font-weight: 400;
}
.gb-table td {
  padding: 10px;
  border: 1px solid #dddddd;
}
.gb-table td.footer {
  background: #f8f8f8;
  color: #444444;
  font-size: 16px;
}
/* #endregion */
/* #region Mobile Nav Drawer */
@media screen and (max-width: 767px) {
  .nav-drawer-icon {
    float: left;
    height: 50px;
    width: 20%;
    line-height: 6px;
    margin: 0;
    position: relative;
    padding-top: 23px;
  }
  .nav-drawer-icon .line {
    display: inline-block;
    width: 25px;
    height: 2px;
    background: #0078b9;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    position: absolute;
  }
  .nav-drawer-icon .line:before,
  .nav-drawer-icon .line:after {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #0078b9;
    position: absolute;
    content: '';
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
  }
  .nav-drawer-icon .line:before {
    top: -8px;
  }
  .nav-drawer-icon .line:after {
    bottom: -8px;
  }
  .nav-drawer-icon.selected .line {
    background: transparent;
  }
  .nav-drawer-icon.selected .line:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    top: 0;
    background: #0078b9;
  }
  .nav-drawer-icon.selected .line:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    bottom: 0;
    background: #0078b9;
  }
  .nav-drawer-overlay {
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 970;
    opacity: 0.7;
  }
  .nav-drawer-ctn {
    width: 270px;
    background: #FFF;
    position: absolute;
    top: 50px;
    left: -270px;
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
  }
  .nav-drawer-ctn ul.root {
    margin: 15px 0 80px;
    padding: 0;
  }
  .nav-drawer-ctn ul.root li {
    width: 100%;
    margin-bottom: 1px;
  }
  .nav-drawer-ctn ul.root li a.item {
    display: inline-block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #0078b9;
    font-size: 19px;
    padding: 0 25px;
    font-weight: 300;
  }
  .nav-drawer-ctn ul.root li a.item:hover,
  .nav-drawer-ctn ul.root li a.item.current {
    background: #0078b9;
    color: #FFF;
  }
  .nav-drawer-ctn ul.category-ctn {
    padding: 0 30px;
  }
  .nav-drawer-ctn ul.category-ctn li.category-item {
    list-style-type: none;
    border-bottom: solid 1px #dedede;
    line-height: 20px;
    padding: 10px 20px;
  }
  .nav-drawer-ctn ul.category-ctn li.category-item:last-child {
    border-bottom: none;
  }
  .nav-drawer-ctn ul.category-ctn li.category-item a.category-item {
    display: inline-block;
    width: 100%;
    color: #333333;
    font-weight: 300;
  }
  .nav-drawer-ctn ul.category-ctn li.category-item a.category-item:hover,
  .nav-drawer-ctn ul.category-ctn li.category-item a.category-item.item-selected {
    color: #0078b9;
  }
}
/* #endregion */
/* #region _ListCategory  */
.left-category-ctn {
  border: 1px solid #f0f0f0;
  border-top: none;
}
.left-category-ctn li {
  list-style-type: none;
  border-top: 1px solid #f0f0f0;
  text-transform: uppercase;
  color: #FFF;
}
.left-category-ctn li.header {
  padding: 10px 10px 10px 23px;
  background: #7dbf13;
  font-size: 15px;
}
.left-category-ctn a:link,
.left-category-ctn a:visited {
  display: inline-block;
  width: 100%;
  padding: 13px 10px 10px 33px;
  color: #8f8f8f;
  font-size: 13px;
}
.left-category-ctn a:hover,
.left-category-ctn li.item-selected a {
  text-decoration: none;
  color: #222;
}
@media screen and (max-width: 767px) {
  .left-category-ctn {
    border: none;
  }
  .left-category-ctn li {
    border-top: 1px solid #f0f0f0;
    background: #000;
    display: none;
  }
  .left-category-ctn li.header {
    display: block;
    background: #000;
    color: #a7cf5d;
    border-top: none;
  }
  .left-category-ctn li.header:after {
    display: inline-block;
    font-family: "FontAwesome";
    content: '\f067';
    font-size: 22px;
    color: #a7cf5d;
    float: right;
  }
  .left-category-ctn li.header.expand:after {
    content: '\f068';
  }
  .left-category-ctn a:link,
  .left-category-ctn a:visited {
    color: #FFF;
  }
  .left-category-ctn a:hover,
  .left-category-ctn li.item-selected a {
    text-decoration: none;
    color: #a7cf5d;
  }
}
/* #endregion */
/* #region _ListProduct & Details & Related */
.list-product-ctn .product-item {
  width: 32%;
  height: 420px;
  float: left;
  padding: 30px 15px;
  margin-bottom: 2%;
  border: 1px solid #f0f0f0;
  text-align: center;
}
.list-product-ctn .product-item .img-ctn {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.list-product-ctn .product-item .img-ctn img {
  max-width: 100%;
  max-height: 100%;
}
.list-product-ctn .product-item .label {
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  z-index: 5;
  color: #FFF;
  text-align: center;
}
.list-product-ctn .product-item .label:before {
  position: absolute;
  line-height: 75px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  bottom: 15px;
  right: 0;
  text-transform: uppercase;
}
.list-product-ctn .product-item .label.new:before {
  content: 'New';
  background: #dc352e;
}
.list-product-ctn .product-item .label.sale:before {
  content: 'Sale!';
  background: #ffae00;
}
.list-product-ctn .product-item .price-ctn {
  width: 100%;
  height: 30px;
  overflow: hidden;
  text-align: center;
}
.list-product-ctn .product-item .price-ctn .current-price {
  display: inline-block;
  margin-right: 3px;
  font-size: 17px;
  color: #232323;
}
.list-product-ctn .product-item .price-ctn .old-price {
  display: inline-block;
  margin-left: 3px;
  font-size: 12px;
  text-decoration: line-through;
  color: #acadaa;
}
.list-product-ctn .product-item .name {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  color: #858585;
  margin-bottom: 20px;
}
.list-product-ctn .product-item .name:hover {
  color: #a7cf5d;
}
.list-product-ctn .product-item .btn-cart {
  display: inline-block;
  color: #222222;
  background-color: #eeeeee;
  border-color: #cccccc;
  cursor: pointer;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  padding: 9px 20px;
}
.list-product-ctn .product-item .btn-cart:hover {
  background: #7dbf13;
  color: #FFF;
}
.list-product-ctn .product-item .btn-cart:after {
  font-family: FontAwesome;
  content: '\f07a';
  margin-left: 10px;
  font-size: 16px;
}
.list-product-ctn .paging-ctn {
  margin-top: 20px;
  text-align: center;
}
.list-product-ctn .paging-ctn .page-item {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin-right: 3px;
  text-align: center;
  line-height: 33px;
  color: #000000;
  font-weight: bold;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.list-product-ctn .paging-ctn .page-item:hover,
.list-product-ctn .paging-ctn .page-item.current {
  background: #0078b9;
  color: #FFF;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .list-product-ctn .product-item {
    height: 335px;
    width: 49%;
    float: left;
    margin: 0 0 2% 0;
  }
  .list-product-ctn .product-item .img-ctn {
    height: 115px;
  }
  .list-product-ctn .product-item .label:before {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .list-product-ctn .product-item:nth-child(3n+1) {
    margin-right: 2%;
  }
  .list-product-ctn .product-item:nth-child(3n+3) {
    float: right;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .list-product-ctn .product-item {
    width: 32%;
  }
  .list-product-ctn .product-item:nth-child(3n+1) {
    margin-right: 2%;
  }
  .list-product-ctn .product-item:nth-child(3n+3) {
    float: right;
  }
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .list-product-ctn .product-item:nth-child(even) {
    float: right;
  }
}
.details-product-ctn .img-ctn {
  float: left;
  width: 35%;
}
.details-product-ctn .img-ctn .primary-img {
  width: 100%;
}
.details-product-ctn .img-ctn .primary-img img {
  max-width: 100%;
}
.details-product-ctn .img-ctn .label {
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  z-index: 5;
  color: #FFF;
  text-align: center;
}
.details-product-ctn .img-ctn .label:before {
  position: absolute;
  line-height: 75px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  bottom: 15px;
  right: 0;
  text-transform: uppercase;
}
.details-product-ctn .img-ctn .label.new:before {
  content: 'New';
  background: #dc352e;
}
.details-product-ctn .img-ctn .label.sale:before {
  content: 'Sale!';
  background: #ffae00;
}
.details-product-ctn .img-ctn .label:before {
  bottom: -10px;
}
.details-product-ctn .img-ctn .extend-img-ctn {
  width: 100%;
  margin-top: 25px;
}
.details-product-ctn .img-ctn .extend-img-ctn .item {
  position: relative;
  width: 32%;
  float: left;
  margin-bottom: 2%;
}
.details-product-ctn .img-ctn .extend-img-ctn .item:before {
  display: block;
  padding-top: 100%;
  content: '';
}
.details-product-ctn .img-ctn .extend-img-ctn .item:nth-child(3n+1) {
  margin-right: 2%;
}
.details-product-ctn .img-ctn .extend-img-ctn .item:nth-child(3n) {
  float: right;
}
.details-product-ctn .img-ctn .extend-img-ctn .item .inner {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.details-product-ctn .info-ctn {
  width: 62%;
  float: right;
}
.details-product-ctn .info-ctn .name {
  padding-bottom: 20px;
  font-size: 21px;
  color: #000;
  margin: 0;
}
.details-product-ctn .info-ctn .current-price {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  color: #232323;
}
.details-product-ctn .info-ctn .old-price {
  display: inline-block;
  font-size: 17px;
  text-decoration: line-through;
  color: #999;
}
.details-product-ctn .info-ctn .quantity-label {
  color: #444444;
  margin-bottom: 4px;
  font-weight: 600;
}
.details-product-ctn .info-ctn .quantity-ctn {
  margin-bottom: 30px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.details-product-ctn .info-ctn .quantity-ctn .txt-quantity {
  position: relative;
  top: -2px;
  border: solid 1px #BDC2C9;
  outline: none;
  width: 70px;
  height: 27px;
  padding: 0 10px;
}
.details-product-ctn .info-ctn .quantity-ctn span {
  display: inline-block;
  width: 27px;
  height: 27px;
  line-height: 27px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #BDC2C9;
}
.details-product-ctn .info-ctn .quantity-ctn span:before {
  font-family: FontAwesome;
  color: #C0C0C0;
  font-size: 16px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
.details-product-ctn .info-ctn .quantity-ctn span:hover:before {
  color: #444444;
}
.details-product-ctn .info-ctn .quantity-ctn .btn-minus:before {
  content: '\f068';
}
.details-product-ctn .info-ctn .quantity-ctn .btn-plus:before {
  content: '\f067';
}
.details-product-ctn .info-ctn .btn-cart {
  display: inline-block;
  color: #222222;
  background-color: #eeeeee;
  border-color: #cccccc;
  cursor: pointer;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  padding: 9px 20px;
}
.details-product-ctn .info-ctn .btn-cart:hover {
  background: #7dbf13;
  color: #FFF;
}
.details-product-ctn .info-ctn .btn-cart:after {
  font-family: FontAwesome;
  content: '\f07a';
  margin-left: 10px;
  font-size: 16px;
}
.details-product-ctn .details {
  line-height: 24px;
  margin-top: 30px;
}
.details-product-ctn .details img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .details-product-ctn .info-ctn .name {
    padding-bottom: 15px;
  }
  .details-product-ctn .info-ctn .current-price {
    margin: 0 0 15px;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .details-product-ctn .img-ctn {
    width: 44%;
  }
  .details-product-ctn .info-ctn {
    width: 53%;
  }
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .details-product-ctn .img-ctn {
    width: 100%;
    float: none;
  }
  .details-product-ctn .info-ctn {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
}
.related-product-ctn .title {
  color: #555454;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 40px 0 20px;
}
.related-product-ctn .list-ctn .product-item {
  width: 24%;
  height: 350px;
  float: left;
  padding: 10px;
  margin-right: 1%;
}
.related-product-ctn .list-ctn .product-item .img-ctn {
  width: 100%;
  height: 175px;
  overflow: hidden;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.related-product-ctn .list-ctn .product-item .img-ctn img {
  max-width: 100%;
  max-height: 100%;
}
.related-product-ctn .list-ctn .product-item .label {
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  z-index: 5;
  color: #FFF;
  text-align: center;
}
.related-product-ctn .list-ctn .product-item .label:before {
  position: absolute;
  line-height: 75px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  bottom: 15px;
  right: 0;
  text-transform: uppercase;
}
.related-product-ctn .list-ctn .product-item .label.new:before {
  content: 'New';
  background: #dc352e;
}
.related-product-ctn .list-ctn .product-item .label.sale:before {
  content: 'Sale!';
  background: #ffae00;
}
.related-product-ctn .list-ctn .product-item .price-ctn {
  width: 100%;
  height: 30px;
  overflow: hidden;
}
.related-product-ctn .list-ctn .product-item .price-ctn .current-price {
  display: inline-block;
  margin-right: 3px;
  font-size: 15px;
  color: #232323;
}
.related-product-ctn .list-ctn .product-item .price-ctn .old-price {
  display: inline-block;
  margin-left: 3px;
  font-size: 12px;
  text-decoration: line-through;
  color: #acadaa;
}
.related-product-ctn .list-ctn .product-item .name {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  color: #858585;
  margin-bottom: 20px;
}
.related-product-ctn .list-ctn .product-item .name:hover {
  color: #a7cf5d;
}
.related-product-ctn .list-ctn .product-item .btn-cart {
  display: inline-block;
  color: #222222;
  background-color: #eeeeee;
  border-color: #cccccc;
  cursor: pointer;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  padding: 9px 20px;
}
.related-product-ctn .list-ctn .product-item .btn-cart:hover {
  background: #7dbf13;
  color: #FFF;
}
.related-product-ctn .list-ctn .product-item .btn-cart:after {
  font-family: FontAwesome;
  content: '\f07a';
  margin-left: 10px;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .related-product-ctn .title {
    color: #555454;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    padding: 0;
    margin: 40px 0 20px;
  }
  .related-product-ctn .list-ctn .product-item {
    width: 48.5%;
    margin: 0 0 30px 0;
  }
  .related-product-ctn .list-ctn .product-item:nth-child(n+1) {
    float: left;
  }
  .related-product-ctn .list-ctn .product-item:nth-child(n+2) {
    float: right;
  }
}
@media screen and (min-width: 768px) {
  .related-product-ctn .title {
    color: #555454;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    padding: 0;
    margin: 40px 0 20px;
  }
  .related-product-ctn .list-ctn .product-item:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
}
/* #endregion */
/* #region Home */
.home-banner-ctn {
  width: 100%;
  height: 450px;
  max-width: 1600px;
  margin: 0 auto;
}
.slick-banner-ctn {
  width: 100%;
  height: 450px;
}
.slick-banner-ctn img {
  width: 100%;
  height: 450px;
}
.home-ctn .home-project-ctn {
  padding: 50px 0 55px;
  background: url(images/pattern.jpg) repeat;
  border-bottom: solid 1px #e2e2e2;
}
.home-ctn .home-project-ctn .item {
  padding: 0 12px;
}
.home-ctn .home-project-ctn .item .img-ctn {
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 1;
}
.home-ctn .home-project-ctn .item .content-padding {
  padding: 20px 15px 15px;
  border: solid 1px #e2e2e2;
  background: #FFF;
}
.home-ctn .home-project-ctn .item .name {
  display: inline-block;
  height: 43px;
  line-height: 20px;
  overflow: hidden;
  color: #181818;
  font-weight: 500;
  font-size: 18px;
}
.home-ctn .home-project-ctn .item .name:hover {
  color: #0078b9;
}
.home-ctn .home-project-ctn .item .location {
  font-weight: 300;
  height: 43px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.home-ctn .home-project-ctn .item .year {
  font-weight: 300;
  margin: 0 0 15px;
  padding: 0;
}
.home-ctn .home-project-ctn .item .sep {
  width: 100%;
  background: #e2e2e2;
  height: 1px;
  margin-bottom: 15px;
}
.home-ctn .home-project-ctn .item a.details-link {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
}
.home-ctn .home-project-ctn .item a.details-link:hover {
  color: #0078b9;
}
.home-ctn .home-project-ctn .slick-arrow:before {
  font-family: FontAwesome;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: solid 1px #101010;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  color: #101010;
  font-size: 22px;
  text-align: center;
  line-height: 35px;
}
.home-ctn .home-project-ctn .slick-arrow.slick-next {
  left: 51%;
  bottom: -40px;
  top: auto;
  right: auto;
}
.home-ctn .home-project-ctn .slick-arrow.slick-next:before {
  content: '\f105';
}
.home-ctn .home-project-ctn .slick-arrow.slick-prev {
  left: auto;
  bottom: -40px;
  top: auto;
  right: 51%;
}
.home-ctn .home-project-ctn .slick-arrow.slick-prev:before {
  content: '\f104';
}
.home-ctn .home-service-ctn {
  padding: 60px 0 30px;
  border-bottom: solid 1px #e2e2e2;
  margin-bottom: 35px;
}
.home-ctn .home-service-ctn .item {
  width: 31%;
  float: left;
}
.home-ctn .home-service-ctn .item .name {
  line-height: 24px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  height: 50px;
}
.home-ctn .home-service-ctn .item .name:hover {
  color: #0078b9;
}
.home-ctn .home-service-ctn .item .summary {
  margin: 0 0 10px;
  padding: 0;
  height: 81px;
  overflow: hidden;
}
.home-ctn .home-team-ctn .item {
  width: 18.5%;
  margin-right: 1.875%;
  float: left;
  text-align: center;
}
.home-ctn .home-team-ctn .item:nth-of-type(5n+4) {
  margin-right: 0;
}
.home-ctn .home-team-ctn .item:nth-of-type(3n+5) {
  margin-right: 0;
  float: right;
}
.home-ctn .home-team-ctn .item .img-ctn {
  width: 80%;
  height: 100px;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 1;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  margin: 0 auto 20px;
  background: #e3e3e3;
}
.home-ctn .home-team-ctn .item .position {
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
  height: 20px;
  margin: 0 0 5px;
  padding: 0;
}
.home-ctn .home-team-ctn .item .name {
  font-size: 14px;
  overflow: hidden;
  height: 20px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .home-ctn .home-project-ctn .slick-arrow.slick-next {
    left: 53%;
  }
  .home-ctn .home-project-ctn .slick-arrow.slick-prev {
    right: 53%;
  }
  .home-ctn .home-service-ctn .item {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  .home-ctn .home-service-ctn .item .name {
    height: auto;
  }
  .home-ctn .home-service-ctn .item .summary {
    height: auto;
  }
  .home-ctn .home-team-ctn .item {
    width: 100%;
    float: none;
    margin: 0 0 30px;
  }
  .home-ctn .home-team-ctn .item .img-ctn {
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .home-ctn .home-project-ctn {
    /*
            .item{
                &:nth-of-type(4n+1){margin-right:2%;}
                &:nth-of-type(4n+2){margin-right:2%;}
                &:nth-of-type(4n+4){float:right;}
            }
            */
  }
  .home-ctn .home-service-ctn .item:nth-of-type(3n+1) {
    margin-right: 3.5%;
  }
  .home-ctn .home-service-ctn .item:nth-of-type(3n+3) {
    float: right;
  }
  .home-ctn .home-team-ctn .item:nth-of-type(5n+4) {
    margin-right: 0;
  }
  .home-ctn .home-team-ctn .item:nth-of-type(3n+5) {
    margin-right: 0;
    float: right;
  }
}
/* #endregion */
/* #region About */
.about-ctn {
  font-size: 16px;
  font-weight: 300;
}
.about-ctn .left {
  width: 48%;
  float: left;
}
.about-ctn .right {
  width: 48%;
  float: right;
  text-align: right;
}
.about-ctn .main-img {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .about-ctn .left {
    width: 100%;
    margin-bottom: 30px;
  }
  .about-ctn .right {
    width: 100%;
    text-align: center;
  }
}
/* #endregion */
/* #region Service */
.service-ctn .list-service-ctn .item {
  width: 32%;
  height: 370px;
  float: left;
  margin-bottom: 2%;
  text-align: center;
}
.service-ctn .list-service-ctn .item .img-ctn {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.service-ctn .list-service-ctn .item .name {
  display: inline-block;
  padding: 0 60px;
  text-align: center;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  color: #333;
  font-weight: 300;
  text-transform: uppercase;
}
.service-ctn .list-service-ctn .item .name:hover {
  color: #0078b9;
}
.service-ctn .list-service-ctn .paging-ctn {
  margin-top: 20px;
  text-align: center;
}
.service-ctn .list-service-ctn .paging-ctn .page-item {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin-right: 3px;
  text-align: center;
  line-height: 33px;
  color: #000000;
  font-weight: bold;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.service-ctn .list-service-ctn .paging-ctn .page-item:hover,
.service-ctn .list-service-ctn .paging-ctn .page-item.current {
  background: #0078b9;
  color: #FFF;
  text-decoration: none;
}
.service-ctn .service-details-ctn .avatar {
  max-width: 50%;
  float: right;
  margin: 0 0 10px 35px;
}
.service-ctn .service-details-ctn .details-ctn {
  line-height: 20px;
  font-size: 14px;
  text-align: justify;
}
.service-ctn .service-related-ctn {
  margin-top: 40px;
}
.service-ctn .service-related-ctn .title {
  padding: 0;
  color: #0078b9;
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 300;
}
.service-ctn .service-related-ctn .name {
  display: inline-block;
  padding-left: 15px;
  margin-left: 20px;
  font-size: 12px;
  line-height: 27px;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.service-ctn .service-related-ctn .name:hover {
  color: #0078b9;
}
@media screen and (max-width: 767px) {
  .service-ctn .list-service-ctn .item {
    height: 320px;
    width: 100%;
    float: none;
    margin: 0 0 30px 0;
  }
  .service-ctn .list-service-ctn .item .img-ctn {
    height: 250px;
  }
  .service-ctn .list-service-ctn .item .name {
    padding: 0 20px;
  }
  .service-ctn .service-details-ctn .title {
    padding: 0;
    color: #0078b9;
    margin: 0 0 20px 0;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 300;
  }
  .service-ctn .service-details-ctn .avatar {
    width: 100%;
    max-width: 100%;
    float: none;
    margin: 0 0 20px 0;
  }
}
@media screen and (min-width: 768px) {
  .service-ctn .list-service-ctn .item:nth-of-type(3n+1) {
    margin-right: 2%;
  }
  .service-ctn .list-service-ctn .item:nth-of-type(3n+3) {
    float: right;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .service-ctn .list-service-ctn .item {
    width: 49%;
  }
  .service-ctn .list-service-ctn .item:nth-of-type(3n+2) {
    float: right;
  }
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .service-ctn .list-service-ctn .item:nth-child(even) {
    float: right;
  }
}
/* #endregion */
/* #region Project */
.project-ctn .list-project-ctn .item {
  width: 23.5%;
  height: 405px;
  float: left;
  margin-bottom: 2%;
}
.project-ctn .list-project-ctn .item .img-ctn {
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 1;
}
.project-ctn .list-project-ctn .item .content-padding {
  padding: 20px 15px 15px;
  border: solid 1px #e2e2e2;
}
.project-ctn .list-project-ctn .item .name {
  display: inline-block;
  height: 43px;
  line-height: 20px;
  overflow: hidden;
  color: #181818;
  font-weight: 500;
  font-size: 18px;
}
.project-ctn .list-project-ctn .item .name:hover {
  color: #0078b9;
}
.project-ctn .list-project-ctn .item .location {
  font-weight: 300;
  height: 43px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.project-ctn .list-project-ctn .item .year {
  font-weight: 300;
  margin: 0 0 15px;
  padding: 0;
}
.project-ctn .list-project-ctn .item .sep {
  width: 100%;
  background: #e2e2e2;
  height: 1px;
  margin-bottom: 15px;
}
.project-ctn .list-project-ctn .item a.details-link {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
}
.project-ctn .list-project-ctn .item a.details-link:hover {
  color: #0078b9;
}
.project-ctn .list-project-ctn .paging-ctn {
  margin-top: 20px;
  text-align: center;
}
.project-ctn .list-project-ctn .paging-ctn .page-item {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin-right: 3px;
  text-align: center;
  line-height: 33px;
  color: #000000;
  font-weight: bold;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.project-ctn .list-project-ctn .paging-ctn .page-item:hover,
.project-ctn .list-project-ctn .paging-ctn .page-item.current {
  background: #0078b9;
  color: #FFF;
  text-decoration: none;
}
.project-ctn .project-details-ctn .img-ctn {
  width: 49%;
  float: left;
}
.project-ctn .project-details-ctn .img-ctn img {
  max-width: 100%;
}
.project-ctn .project-details-ctn .info-ctn {
  width: 49%;
  float: right;
}
.project-ctn .project-details-ctn .info-ctn .title {
  display: inline-block;
  color: #58595b;
  font-weight: 500;
  font-size: 19px;
  text-transform: uppercase;
  margin: 0 0 15px;
  padding: 10px 0;
  border-top: solid 1px #b7b7b7;
  border-bottom: solid 1px #b7b7b7;
}
.project-ctn .project-details-ctn .info-ctn .info-table td {
  padding: 0 8px 12px 0;
}
.project-ctn .project-details-ctn .info-ctn .info-table strong {
  text-transform: uppercase;
}
.project-ctn .project-details-ctn .details-ctn {
  line-height: 20px;
  font-size: 14px;
  text-align: justify;
  margin-top: 20px;
}
.project-ctn .project-related-ctn {
  margin-top: 40px;
}
.project-ctn .project-related-ctn .title {
  padding: 0;
  color: #0078b9;
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 300;
}
.project-ctn .project-related-ctn .name {
  display: inline-block;
  padding-left: 15px;
  margin-left: 20px;
  font-size: 12px;
  line-height: 27px;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.project-ctn .project-related-ctn .name:hover {
  color: #0078b9;
}
@media screen and (max-width: 767px) {
  .project-ctn .list-project-ctn .item {
    height: 320px;
    width: 100%;
    float: none;
    margin: 0 0 30px 0;
  }
  .project-ctn .list-project-ctn .item .img-ctn {
    height: 250px;
  }
  .project-ctn .list-project-ctn .item .name {
    padding: 0 20px;
  }
  .project-ctn .project-details-ctn .img-ctn {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
  .project-ctn .project-details-ctn .info-ctn {
    width: 100%;
  }
  .project-ctn .project-details-ctn .info-ctn .title {
    display: inline-block;
    color: #58595b;
    font-weight: 500;
    font-size: 19px;
    text-transform: uppercase;
    margin: 0 0 15px;
    padding: 10px 0;
    border-top: solid 1px #b7b7b7;
    border-bottom: solid 1px #b7b7b7;
  }
  .project-ctn .project-details-ctn .info-ctn .info-table td {
    padding: 0 8px 12px 0;
  }
  .project-ctn .project-details-ctn .info-ctn .info-table strong {
    text-transform: uppercase;
  }
}
@media screen and (min-width: 768px) {
  .project-ctn .list-project-ctn .item:nth-of-type(4n+1) {
    margin-right: 2%;
  }
  .project-ctn .list-project-ctn .item:nth-of-type(4n+2) {
    margin-right: 2%;
  }
  .project-ctn .list-project-ctn .item:nth-of-type(4n+4) {
    float: right;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .project-ctn .list-project-ctn .item {
    width: 49%;
  }
  .project-ctn .list-project-ctn .item:nth-of-type(3n+2) {
    float: right;
  }
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .project-ctn .list-project-ctn .item:nth-child(even) {
    float: right;
  }
}
/* #endregion */
/* #region News */
.news-ctn .list-news-ctn .item {
  width: 100%;
  margin-bottom: 40px;
}
.news-ctn .list-news-ctn .item .name {
  display: inline-block;
  width: 100%;
  color: #fd798b;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 15px;
}
.news-ctn .list-news-ctn .item .name:hover {
  color: #ff7f02;
}
.news-ctn .list-news-ctn .item .img-ctn {
  width: 35%;
  float: left;
  text-align: left;
}
.news-ctn .list-news-ctn .item .img-ctn img {
  max-width: 100%;
}
.news-ctn .list-news-ctn .item .info-ctn {
  width: 61%;
  float: right;
}
.news-ctn .list-news-ctn .item .info-ctn .summary {
  line-height: 20px;
  padding: 0;
  margin: 0 0 18px;
  font-size: 14px;
}
.news-ctn .list-news-ctn .item:after {
  display: block;
  content: '';
  clear: both;
}
.news-ctn .list-news-ctn .paging-ctn {
  margin-top: 20px;
  text-align: center;
}
.news-ctn .list-news-ctn .paging-ctn .page-item {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin-right: 3px;
  text-align: center;
  line-height: 33px;
  color: #000000;
  font-weight: bold;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.news-ctn .list-news-ctn .paging-ctn .page-item:hover,
.news-ctn .list-news-ctn .paging-ctn .page-item.current {
  background: #0078b9;
  color: #FFF;
  text-decoration: none;
}
.news-ctn .news-details-ctn .title {
  padding: 0;
  color: #b6a285;
  margin: 0 0 20px 0;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.news-ctn .news-details-ctn .details-ctn {
  line-height: 20px;
  font-size: 14px;
}
.news-ctn .news-details-ctn .details-ctn img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.news-ctn .news-related-ctn {
  margin-top: 40px;
}
.news-ctn .news-related-ctn .title {
  padding: 0;
  color: #b6a285;
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.news-ctn .news-related-ctn .name {
  display: inline-block;
  padding-left: 15px;
  margin-left: 20px;
  font-size: 12px;
  line-height: 27px;
  color: #fd798b;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.news-ctn .news-related-ctn .name:hover {
  color: #8c775b;
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  .news-ctn .list-news-ctn .item {
    width: 100%;
    margin-bottom: 40px;
  }
  .news-ctn .list-news-ctn .item .name {
    display: inline-block;
    width: 100%;
    color: #fd798b;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 24px;
    margin: 0 0 15px;
  }
  .news-ctn .list-news-ctn .item .name:hover {
    color: #ff7f02;
  }
  .news-ctn .list-news-ctn .item .img-ctn {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }
  .news-ctn .list-news-ctn .item .info-ctn {
    width: 100%;
    float: none;
  }
}
/* #endregion */
/* #region Login & Register */
.login-ctn {
  width: 500px;
  margin: 0 auto;
}
.login-ctn .login-form ul {
  padding-top: 10px;
}
.login-ctn .login-form ul li {
  list-style-type: none;
  text-align: center;
  color: #de4a4a;
}
@media screen and (max-width: 767px) {
  .login-ctn .login-form {
    width: 100%;
  }
}
/* #endregion */
/* #region Profile */
.user-profile-ctn .profile-form .validate-msg {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 25px;
  margin: 10px 0;
  color: #de4a4a;
}
.user-profile-ctn .profile-form .validate-msg.loading {
  background: url(images/loading.gif) center no-repeat;
}
/* #endregion */
/* #region Change Password */
.change-password-ctn .cp-form ul {
  padding-top: 10px;
}
.change-password-ctn .cp-form ul li {
  list-style-type: none;
  text-align: center;
  color: #de4a4a;
}
/* #endregion */
/* #region Contact */
.contact-ctn .map-ctn {
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 45px;
}
.contact-ctn .map-ctn .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.contact-ctn .map-ctn iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.contact-ctn .info-table td {
  padding: 0 8px 15px 0;
  font-size: 16px;
}
.contact-ctn .info-table td strong {
  font-weight: 500;
  text-transform: uppercase;
}
.contact-ctn .info-table td a:link,
.contact-ctn .info-table td a:visited {
  color: #333333;
}
.contact-ctn .info-table td a:hover {
  text-decoration: underline;
}
.contact-ctn .form-ctn .validate-msg {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 25px;
  margin: 5px 0;
  color: #de4a4a;
}
.contact-ctn .form-ctn .validate-msg.loading {
  background: url(images/loading.gif) center no-repeat;
}
/* #endregion */
/* #region Check Out */
.check-out-ctn .gb-table td.img-ctn {
  width: 20%;
  text-align: center;
}
.check-out-ctn .gb-table td.img-ctn img {
  max-width: 100%;
  max-height: 120px;
}
.check-out-ctn .gb-table td.product-name {
  width: 30%;
  text-align: left;
}
.check-out-ctn .gb-table td.price {
  width: 15%;
  text-align: right;
}
.check-out-ctn .gb-table td.quantity {
  width: 10%;
  text-align: center;
}
.check-out-ctn .gb-table td.subtotal {
  width: 15%;
  text-align: right;
}
.check-out-ctn .gb-table td.action {
  text-align: center;
}
.check-out-ctn .gb-table .btn-delete {
  color: #444444;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
.check-out-ctn .gb-table .btn-delete:hover {
  color: #C0C0C0;
}
.check-out-ctn .gb-table .btn-delete:before {
  font-family: FontAwesome;
  content: '\f014';
  font-size: 25px;
  cursor: pointer;
}
.check-out-ctn .checkout-form {
  margin-top: 30px;
}
.check-out-ctn .checkout-form .left {
  width: 30%;
  float: left;
}
.check-out-ctn .checkout-form .right {
  width: 67%;
  float: right;
}
.check-out-ctn .checkout-form .label {
  color: #444444;
  margin: 0 0 6px 0;
  font-weight: 700;
}
.check-out-ctn .checkout-form .control-ctn {
  margin-bottom: 8px;
}
.check-out-ctn .checkout-form .validate-msg {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 25px;
  margin: 5px 0;
  color: #de4a4a;
}
.check-out-ctn .checkout-form .validate-msg.loading {
  background: url(images/loading.gif) center no-repeat;
}
@media screen and (max-width: 767px) {
  .check-out-ctn .gb-table td.img-ctn {
    width: 30%;
  }
  .check-out-ctn .gb-table td.product-name {
    width: 70%;
  }
  .check-out-ctn .checkout-form .left {
    width: 100%;
    float: none;
  }
  .check-out-ctn .checkout-form .right {
    width: 100%;
    float: none;
  }
}
/* #endregion */
/* #region User Order */
.list-user-order .gb-table .btn-details {
  color: #444444;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
.list-user-order .gb-table .btn-details:hover {
  color: #C0C0C0;
}
.list-user-order .gb-table .btn-details:before {
  font-family: FontAwesome;
  content: '\f08e';
  font-size: 25px;
  cursor: pointer;
}
.form-user-order-details .gb-table td.img-ctn {
  width: 20%;
  text-align: center;
}
.form-user-order-details .gb-table td.img-ctn img {
  max-width: 100%;
  max-height: 100px;
}
.form-user-order-details .gb-table td.product-name {
  width: 30%;
  text-align: left;
}
.form-user-order-details .gb-table td.price {
  width: 15%;
  text-align: right;
}
.form-user-order-details .gb-table td.quantity {
  width: 10%;
  text-align: center;
}
.form-user-order-details .gb-table td.subtotal {
  width: 15%;
  text-align: right;
}
.form-user-order-details .gb-table td.action {
  text-align: center;
}
.form-user-order-details .gb-table .btn-delete {
  color: #444444;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
.form-user-order-details .gb-table .btn-delete:hover {
  color: #C0C0C0;
}
.form-user-order-details .gb-table .btn-delete:before {
  font-family: FontAwesome;
  content: '\f014';
  font-size: 25px;
  cursor: pointer;
}
/* #endregion */
/* #region Account */
.gb-account-ctn {
  width: 500px;
  margin: 0 auto;
}
.gb-account-ctn .form-group {
  margin: 0 0 15px;
}
.gb-account-ctn .left-col {
  float: left;
  width: 20%;
}
.gb-account-ctn .right-col {
  float: right;
  width: 78%;
}
.gb-account-ctn .validation-summary-errors {
  color: #f44336;
}
.gb-account-ctn.change-password .left-col {
  float: left;
  width: 25%;
}
.gb-account-ctn.change-password .right-col {
  float: right;
  width: 73%;
}
.gb-account-ctn.add-user .left-col {
  float: left;
  width: 25%;
}
.gb-account-ctn.add-user .right-col {
  float: right;
  width: 73%;
}
.manage-user-ctn .role-item {
  float: left;
  margin-right: 30px;
}
/* #endregion */
/* #region Overwrite bootstrap & Misc  */
.well {
  margin-bottom: 20px;
}
.btn-file {
  position: relative;
  overflow: hidden;
  height: 34px;
  padding: 6px 12px;
  border-radius: 0 !important;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  outline: none;
  display: block;
  opacity: 0;
}
.dropdownjs:after {
  content: '\f0d7';
  color: #000;
  font-size: 20px;
  top: 0;
  font-family: FontAwesome;
  position: absolute;
  right: 10px;
  line-height: 34px;
}
.dropdownjs .form-control {
  background: #FFF;
}
.dropdownjs ul {
  max-height: 330px !important;
  overflow: auto !important;
  width: 100%;
}
.dropdownjs ul li {
  padding: 10px 20px 10px 10px;
}
.dropdownjs ul li.level-1 {
  padding: 10px 20px 10px 10px;
  background: #dff0d8;
}
.dropdownjs ul li.level-2 {
  padding: 10px 20px 10px 25px;
  background: #d9edf7;
}
.dropdownjs ul li.level-3 {
  padding: 10px 20px 10px 40px;
  background: #fcf8e3;
}
.dropdownjs ul li.level-4 {
  padding: 10px 20px 10px 55px;
  background: #f2dede;
}
.panel-title {
  font-size: 19px;
}
.btn.btn-fab {
  line-height: 56px;
  padding: 0;
}
.pagination li a {
  cursor: pointer;
}
.pad-medium {
  padding-bottom: 7px;
}
.list-group .list-group-separator {
  margin: 20px 0 0 0;
  padding-bottom: 20px;
}
.list-group .list-group-separator:before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.list-group .list-group-item.gray {
  background: #eeeeee;
}
.panel.panel-left,
.panel .column-left {
  width: 49%;
  float: left;
}
.panel.panel-right,
.panel .column-right {
  width: 49%;
  float: right;
}
/* #endregion */
/* #region Popup notification */
.ndt-gb-alert {
  position: fixed;
  z-index: 99900;
  padding: 10px 35px 10px 10px;
  right: 20px;
  top: 20px;
}
.ndt-gb-alert.alert-shop {
  background-color: #7dbf13;
  color: #FFF;
}
.ndt-gb-alert.alert-shop .close {
  position: relative;
  top: -4px;
  right: -28px;
  float: right;
  font-size: 17px;
  font-weight: 300;
  line-height: 1;
  background: none;
  border: 0;
  color: #FFF;
  outline: none;
}
.ndt-gb-alert.alert-shop .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* #endregion */
/* #region Lightbox & overlay */
.my-fix {
  overflow-y: hidden;
}
.ndt-gb-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 11000;
}
.ndt-gb-overlay-loading {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000 url(images/website-loader.gif) center no-repeat;
  z-index: 14000;
  opacity: 0.7;
}
.ndt-lb-ctn {
  position: fixed;
  z-index: 12000;
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.ndt-lb-ctn .ndt-lb-header .settings-icon .dropdown-toggle:before {
  font-family: FontAwesome;
  color: #FFF;
  content: '\f103';
  font-size: 25px;
}
.ndt-lb-ctn .ndt-lb-header .settings-icon .dropdown-menu {
  left: auto;
  right: 0;
}
.ndt-lb-ctn.responsive-width {
  width: 80%;
  left: 10%;
}
.ndt-lb-ctn.responsive-height {
  height: 90%;
  top: 5%;
}
.ndt-lb-ctn.full-screen {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 12100;
}
.ndt-lb-ctn .ndt-lb-header {
  width: 100%;
  height: 48px;
  box-shadow: 0px 2px 4px #737373;
  -webkit-box-shadow: 0px 2px 4px #737373;
  -moz-box-shadow: 0px 2px 4px #737373;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0px 10px;
  color: #FFF;
}
.ndt-lb-ctn.indigo .ndt-lb-header {
  background: #3f51b5;
}
.ndt-lb-ctn.teal .ndt-lb-header {
  background: #009688;
}
.ndt-lb-ctn.purple .ndt-lb-header {
  background: #673AB7;
}
.ndt-lb-ctn.orange .ndt-lb-header {
  background: #FF5722;
}
.ndt-lb-ctn.grey .ndt-lb-header {
  background: #9E9E9E;
  color: #000;
}
.ndt-lb-ctn.red .ndt-lb-header {
  background: #F44336;
}
.ndt-lb-ctn.pink .ndt-lb-header {
  background: #E91E63;
}
.ndt-lb-ctn .ndt-lb-header div,
.ndt-lb-ctn .ndt-lb-header span {
  height: 48px;
  line-height: 48px;
}
.ndt-lb-ctn .ndt-lb-header .btn {
  margin: 0 !important;
  padding: 0 10px;
  color: #FFF;
}
.ndt-lb-ctn .ndt-lb-header .btn.btn-save:before {
  font-family: FontAwesome;
  content: '\f0c7';
  margin-right: 6px;
  font-size: 20px;
  position: relative;
  bottom: -1px;
}
.ndt-lb-ctn .ndt-lb-header .gb-icon {
  display: inline-block;
  height: 48px;
  width: 30px;
  cursor: pointer;
}
.ndt-lb-ctn .ndt-lb-close {
  float: left;
  background: url(images/large/ic_arrow_back_white_24dp.png) center no-repeat;
  background-size: 30px 30px;
  margin-right: 15px;
}
.ndt-lb-ctn .ndt-lb-title {
  float: left;
  color: #FFF;
  font-size: 17px;
}
.ndt-lb-ctn .ndt-lb-other-ctn {
  float: right;
  text-align: right;
}
.ndt-lb-ctn .btn-fullscreen {
  float: right;
  margin-left: 20px;
}
.ndt-lb-ctn .btn-fullscreen:before {
  font-family: FontAwesome;
  content: '\f065';
  color: #FFF;
  cursor: pointer;
  font-size: 23px;
}
.ndt-lb-ctn .btn-fullscreen.is-full:before {
  content: '\f066';
}
.ndt-lb-ctn .ndt-lb-ct {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-y: auto;
}
.ndt-lb-ctn.with-tab .ndt-lb-ct {
  overflow-y: hidden;
}
.ndt-lb-ctn .ndt-lb-ct.loading {
  background: url(images/preloader.gif) center no-repeat;
}
.ndt-lb-ctn .ndt-lb-tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ndt-lb-ctn .ui-tabs-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.ndt-lb-ctn .lb-tabs-ct {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* #endregion */
/* #region Overwrite Jquery UI Tabs */
.ndt-ov-tabs .lb-tabs-ct {
  padding: 0px;
  overflow-y: auto;
}
.ndt-ov-tabs .ui-corner-all {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.ndt-ov-tabs .ui-widget-header {
  border: none;
  background: none;
}
.ndt-ov-tabs .ui-widget-content {
  border: none;
  background: none;
  padding: 0;
}
.ndt-ov-tabs .ui-tabs .ui-tabs-nav {
  padding: 0px;
  border-bottom: solid 1px #E0E0E0;
  background: #eaeaea;
}
.ndt-ov-tabs .ui-tabs .ui-tabs-nav li {
  background: none;
  border: none;
  margin: 0 0 -1px 0;
  text-align: center;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 48px;
}
.ndt-ov-tabs .ui-tabs .ui-tabs-nav li a {
  display: inline-block;
  color: #757575;
  font-size: 16px;
  float: none;
  outline: none;
  padding: 0 20px;
  line-height: 48px;
}
.ndt-ov-tabs .ui-tabs .ui-tabs-nav li.ui-state-active {
  border-bottom: solid 3px #3F51B5;
}
.ndt-ov-tabs .ui-tabs .ui-tabs-panel {
  padding: 0;
}
/* #endregion */
/* #region Admin Nav */
.admin-header-ctn {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 48px;
  padding: 0px 10px 0px 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #3f51b5;
  z-index: 1000;
  box-shadow: 0px 2px 8px #523e26;
  -webkit-box-shadow: 0px 2px 8px #523e26;
  -moz-box-shadow: 0px 2px 8px #523e26;
}
.admin-header-ctn .admin-nav {
  width: 95%;
  margin: 0 auto;
}
.admin-header-ctn ul li {
  list-style-type: none;
}
.admin-header-ctn .nav-drawer-icon {
  float: left;
  height: 50px;
  width: 10%;
  line-height: 6px;
  margin: 0;
  position: relative;
  padding-top: 23px;
}
.admin-header-ctn .nav-drawer-icon .line {
  display: inline-block;
  width: 25px;
  height: 2px;
  background: #fff;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  position: absolute;
}
.admin-header-ctn .nav-drawer-icon .line:before,
.admin-header-ctn .nav-drawer-icon .line:after {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  content: '';
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
}
.admin-header-ctn .nav-drawer-icon .line:before {
  top: -8px;
}
.admin-header-ctn .nav-drawer-icon .line:after {
  bottom: -8px;
}
.admin-header-ctn .nav-drawer-icon.selected .line {
  background: transparent;
}
.admin-header-ctn .nav-drawer-icon.selected .line:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  top: 0;
  background: #FFF;
}
.admin-header-ctn .nav-drawer-icon.selected .line:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  bottom: 0;
  background: #FFF;
}
.admin-header-ctn ul.header-info {
  width: 80%;
  float: right;
}
.admin-header-ctn ul.header-info li {
  height: 48px;
  line-height: 48px;
}
.admin-header-ctn ul.header-info li.page-title {
  width: 70%;
  float: left;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.admin-header-ctn ul.header-info li.dropdown {
  width: 30%;
  float: right;
  text-align: right;
}
.admin-header-ctn ul.header-info li.dropdown .dropdown-toggle:before {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #FFF;
  font-family: FontAwesome;
  content: '\f007';
  font-size: 24px;
  position: relative;
  top: 3px;
}
.admin-header-ctn ul.header-info li.dropdown a.dropdown-toggle {
  color: #FFF;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.admin-header-ctn ul.header-info li.dropdown a.dropdown-toggle:hover {
  text-decoration: none;
}
.admin-header-ctn ul.header-info li.dropdown .mdi-action-account-circle:before {
  line-height: 48px;
  margin-right: 7px;
  font-size: 30px;
}
.admin-header-ctn ul.header-info li.dropdown .dropdown-menu {
  left: auto;
  right: 0;
}
.admin-header-ctn ul.header-info li.dropdown .dropdown-menu li {
  height: auto;
  line-height: normal;
}
.admin-header-ctn .nav-drawer-ctn {
  width: 270px;
  background: #FFF;
  position: absolute;
  top: 48px;
  left: -270px;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
}
.admin-header-ctn .nav-drawer-ctn ul {
  margin: 15px 0 80px;
  padding: 0;
}
.admin-header-ctn .nav-drawer-ctn ul li {
  width: 100%;
  margin-bottom: 1px;
}
.admin-header-ctn .nav-drawer-ctn ul li.sep {
  height: 1px;
  background: #BDBDBD;
  margin: 10px 0;
}
.admin-header-ctn .nav-drawer-ctn ul li a.item {
  display: inline-block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: #000;
  font-size: 17px;
  padding: 0 25px;
  font-weight: 300;
}
.admin-header-ctn .nav-drawer-ctn ul li a.item:hover,
.admin-header-ctn .nav-drawer-ctn ul li a.item.current {
  background: #BDBDBD;
}
body.admin .nav-drawer-overlay {
  position: fixed;
  top: 48px;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 970;
  opacity: 0.7;
}
/* #endregion */
/* #region SiteSettings */
.site-settings-ctn {
  max-width: 800px;
  margin: 0 auto;
}
.site-settings-ctn textarea {
  height: 100px;
}
/* #endregion */
/* #region ManageCategory */
.manage-category-ctn .list-group-item.level-2 .name {
  padding-left: 5%;
}
.manage-category-ctn .list-group-item.level-3 .name {
  padding-left: 10%;
}
.manage-category-ctn .list-group-item.level-4 .name {
  padding-left: 15%;
}
.manage-category-ctn .list-group-item .btn {
  margin: 0;
}
/* #endregion */
/* #region ManageProduct */
.manage-product-ctn .primary-image {
  max-width: 100%;
  margin: 0 0 10px;
}
.form-manage-product .toggle-content-image {
  margin-right: 20px;
}
.form-manage-product .toggle-content-image:before {
  font-family: FontAwesome;
  content: '\f1c5';
  margin-right: 6px;
  font-size: 20px;
  position: relative;
  bottom: -1px;
}
.form-manage-product.has-image-details {
  width: 79%;
  left: 0;
}
.form-manage-product.has-image-details .content-info {
  width: 80%;
  float: left;
}
.form-manage-product.has-image-details .content-image {
  width: 18%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.form-manage-product.has-image-extends {
  width: 79%;
  left: 21%;
}
.form-manage-product.has-image-extends.has-image-details {
  width: 58%;
  left: 21%;
}
.form-details-image {
  width: 20% !important;
  right: 0 !important;
  left: auto !important;
  display: none;
}
.form-details-image .ndt-lb-close {
  display: none !important;
}
.form-details-image .float-img-ctn {
  width: 100%;
  margin: 0 0 6px;
  position: relative;
}
.form-details-image .float-image {
  width: 100%;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
.form-details-image .btn-delete {
  position: absolute;
  z-index: 2;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  background: #f44336;
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
  color: #FFF;
}
.form-details-image .btn-set-primary {
  position: absolute;
  z-index: 2;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform-origin: top right;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  background: #f44336;
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
  color: #FFF;
  top: 0;
  right: 0;
}
.form-details-image .float-img-ctn:hover .float-image {
  opacity: 0.5;
}
.form-details-image .float-img-ctn:hover .btn-delete {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}
.form-details-image .float-img-ctn:hover .btn-set-primary {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}
.form-details-image.full-screen .float-img-ctn {
  height: 200px;
  width: auto;
  float: left;
  margin: 0 6px 6px 0;
  position: relative;
}
.form-details-image.full-screen .float-image {
  height: 100%;
  width: auto;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
.form-extends-images {
  width: 20% !important;
  left: 0 !important;
  right: auto !important;
  display: none;
}
.form-extends-images .ndt-lb-close {
  display: none !important;
}
.form-extends-images .float-img-ctn {
  width: 100%;
  margin: 0 0 6px;
  position: relative;
}
.form-extends-images .float-image {
  width: 100%;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
.form-extends-images .btn-delete {
  position: absolute;
  z-index: 2;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  background: #f44336;
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
  color: #FFF;
}
.form-extends-images .btn-set-primary {
  position: absolute;
  z-index: 2;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform-origin: top right;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  background: #f44336;
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
  color: #FFF;
  top: 0;
  right: 0;
}
.form-extends-images .float-img-ctn:hover .float-image {
  opacity: 0.5;
}
.form-extends-images .float-img-ctn:hover .btn-delete {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}
.form-extends-images .float-img-ctn:hover .btn-set-primary {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}
.form-extends-images.full-screen .float-img-ctn {
  height: 200px;
  width: auto;
  float: left;
  margin: 0 6px 6px 0;
  position: relative;
}
.form-extends-images.full-screen .float-image {
  height: 100%;
  width: auto;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
/* #endregion */
/* #region ManageContent */
.manage-content-ctn .primary-image {
  max-width: 100%;
  margin: 0 0 10px;
}
.form-manage-content .toggle-content-image {
  margin-right: 20px;
}
.form-manage-content .toggle-content-image:before {
  font-family: FontAwesome;
  content: '\f1c5';
  margin-right: 6px;
  font-size: 20px;
  position: relative;
  bottom: -1px;
}
.form-manage-content.has-image-details {
  width: 79%;
  left: 0;
}
.form-manage-content.has-image-details .content-info {
  width: 80%;
  float: left;
}
.form-manage-content.has-image-details .content-image {
  width: 18%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.form-manage-content.has-image-extends {
  width: 79%;
  left: 21%;
}
.form-manage-content.has-image-extends.has-image-details {
  width: 58%;
  left: 21%;
}
.form-manage-content .left-col {
  float: left;
  width: 30%;
}
.form-manage-content .right-col {
  float: right;
  width: 67%;
}
.form-manage-content .primary-image {
  max-width: 100%;
  max-height: 250px;
}
.form-content-image {
  width: 20% !important;
  left: 0 !important;
  right: auto !important;
  display: none;
}
.form-content-image .ndt-lb-close {
  display: none !important;
}
.form-content-image .float-img-ctn {
  width: 100%;
  margin: 0 0 6px;
  position: relative;
}
.form-content-image .float-image {
  width: 100%;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
.form-content-image .btn-delete {
  position: absolute;
  z-index: 2;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  background: #f44336;
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
  color: #FFF;
}
.form-content-image .btn-set-primary {
  position: absolute;
  z-index: 2;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform-origin: top right;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  background: #f44336;
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
  color: #FFF;
  top: 0;
  right: 0;
}
.form-content-image .float-img-ctn:hover .float-image {
  opacity: 0.5;
}
.form-content-image .float-img-ctn:hover .btn-delete {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}
.form-content-image .float-img-ctn:hover .btn-set-primary {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}
.form-content-image.full-screen .float-img-ctn {
  height: 200px;
  width: auto;
  float: left;
  margin: 0 6px 6px 0;
  position: relative;
}
.form-content-image.full-screen .float-image {
  height: 100%;
  width: auto;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
.form-content-details-image {
  width: 20% !important;
  right: 0 !important;
  left: auto !important;
  display: none;
}
.form-content-details-image .ndt-lb-close {
  display: none !important;
}
.form-content-details-image .float-img-ctn {
  width: 100%;
  margin: 0 0 6px;
  position: relative;
}
.form-content-details-image .float-image {
  width: 100%;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
.form-content-details-image .btn-delete {
  position: absolute;
  z-index: 2;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  background: #f44336;
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
  color: #FFF;
}
.form-content-details-image .btn-set-primary {
  position: absolute;
  z-index: 2;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform-origin: top right;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  background: #f44336;
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
  color: #FFF;
  top: 0;
  right: 0;
}
.form-content-details-image .float-img-ctn:hover .float-image {
  opacity: 0.5;
}
.form-content-details-image .float-img-ctn:hover .btn-delete {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}
.form-content-details-image .float-img-ctn:hover .btn-set-primary {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}
.form-content-details-image.full-screen .float-img-ctn {
  height: 200px;
  width: auto;
  float: left;
  margin: 0 6px 6px 0;
  position: relative;
}
.form-content-details-image.full-screen .float-image {
  height: 100%;
  width: auto;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
/* #endregion */
/* #region Manage Banner */
.manage-banner-ctn .primary-image {
  max-width: 100%;
  margin: 0 0 10px;
}
/* #endregion */
/* #region Manage Order */
@media screen and (min-width: 768px) {
  .manage-order-ctn .search-ctn .ddl-ctn {
    padding-right: 0;
  }
  .manage-order-ctn .search-ctn .txt-ctn {
    padding-left: 0;
    margin-left: -1px;
  }
}
.form-admin-order-details .table td.img-ctn {
  width: 20%;
  text-align: center;
}
.form-admin-order-details .table td.img-ctn img {
  max-width: 100%;
  max-height: 100px;
}
.form-admin-order-details .table td.product-name {
  width: 30%;
  text-align: left;
}
.form-admin-order-details .table td.price {
  width: 15%;
  text-align: right;
}
.form-admin-order-details .table td.quantity {
  width: 10%;
  text-align: center;
}
.form-admin-order-details .table td.subtotal {
  width: 15%;
  text-align: right;
}
.form-admin-order-details .table td.action {
  text-align: center;
}
/* #endregion */
/* #region Manage Users */
@media screen and (min-width: 768px) {
  .manage-user-ctn .search-ctn .ddl-ctn {
    padding-right: 0;
  }
  .manage-user-ctn .search-ctn .txt-ctn {
    padding-left: 0;
    margin-left: -1px;
  }
}
/* #endregion */
/* #region Single Content */
.single-content-ctn .extends-image .float-img-ctn {
  height: 200px;
  float: left;
  margin: 0 6px 6px 0;
  position: relative;
}
.single-content-ctn .extends-image .float-image {
  height: 100%;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  max-width: 100%;
}
.single-content-ctn .extends-image .btn-delete {
  position: absolute;
  z-index: 2;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  background: #f44336;
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
  color: #FFF;
}
.single-content-ctn .extends-image .float-img-ctn:hover .float-image {
  opacity: 0.5;
}
.single-content-ctn .extends-image .float-img-ctn:hover .btn-delete {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}
.form-single-content-details-image .float-img-ctn {
  width: 100%;
  margin: 0 0 6px;
  position: relative;
}
.form-single-content-details-image .float-image {
  width: 100%;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
.form-single-content-details-image .btn-delete {
  position: absolute;
  z-index: 2;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  background: #f44336;
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
  color: #FFF;
}
.form-single-content-details-image .float-img-ctn:hover .float-image {
  opacity: 0.5;
}
.form-single-content-details-image .float-img-ctn:hover .btn-delete {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}
.form-single-content-details-image.full-screen .float-img-ctn {
  height: 200px;
  width: auto;
  float: left;
  margin: 0 6px 6px 0;
  position: relative;
}
.form-single-content-details-image.full-screen .float-image {
  height: 100%;
  width: auto;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
/* #endregion */
/* #region Mobile */
.mobile-block {
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-block {
    display: block;
  }
  .desktop-block {
    display: none;
  }
  /* Prevent zoom when focus into input */
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  .jqte_editor {
    font-size: 16px !important;
  }
  /* #region Lightbox & overlay */
  .my-fix {
    overflow-y: hidden;
  }
  .ndt-gb-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 11000;
  }
  .ndt-gb-overlay-loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000 url(images/website-loader.gif) center no-repeat;
    z-index: 14000;
    opacity: 0.7;
  }
  .ndt-lb-ctn {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
  }
  .ndt-lb-ctn .btn-fullscreen {
    display: none;
  }
  /* #endregion */
}
/* #endregion */