﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Scripts.Render("~/Scripts/advancedSettings.min.js")

<div class="advanced-settings-ctn" ng-controller="asCtrl">
    <ul class="list-group order-status-ctn">
        <li class="list-group-item active"><h4 class="list-group-item-heading">Order Status</h4></li>

        <li class="list-group-item list-group-item-info" data-id="-1">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Status name</label>
                    <input type="text" class="form-control" min-length="1" data-msg="Enter status name" ng-model="newOrderStatus.Name" />
                </div>

                <div class="form-group col-sm-3">
                    <label class="control-label">Priority</label>
                    <input type="text" class="form-control" numberic="true" data-msg="Priority must be number" ng-model="newOrderStatus.Priority" />
                </div>

                <div class="col-sm-3">
                    <div class="btn btn-primary btn-sm" ng-click="updateOrderStatus(newOrderStatus)">Create Status</div>
                </div>
            </div>
        </li>


        <li class="list-group-item {{ $index % 2 == 0 ? '' : 'gray' }}" ng-repeat="objStatus in lstOrderStatus" data-id="{{ objStatus.StatusID }}">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Status name</label>
                    <input type="text" class="form-control" min-length="1" data-msg="Enter status name" ng-model="objStatus.Name" />
                </div>

                <div class="form-group col-sm-3">
                    <label class="control-label">Priority</label>
                    <input type="text" class="form-control" numberic="true" data-msg="Priority must be number" ng-model="objStatus.Priority" />
                </div>

                <div class="col-sm-3">
                    <div class="btn btn-primary btn-sm" ng-click="updateOrderStatus(objStatus)">Update</div>
                    <div class="btn btn-danger btn-sm" ng-click="deleteOrderStatus(objStatus.StatusID)">Delete</div>
                </div>
            </div>
        </li>

    </ul>
</div>