﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Scripts.Render("~/Scripts/ManageCategory")

<div class="manage-category-ctn" ng-controller="mcCtrl">
    
    <a class="btn btn-primary" ng-click="loadFormCategory(-1)">{{ i18n.btnCreate }}</a>

    <div style="height:20px;"></div>

    <ul class="list-group">
        <li class="list-group-item active hidden-xs">
            <div class="row">
                <div class="col-xs-8">{{ i18n.headerName }}</div>
                <div class="col-xs-1">#</div>
                <div class="col-xs-3">&nbsp;</div>
            </div>
        </li>

        <li ng-repeat="cat in lstCategory" class="list-group-item {{ getLevelClass(cat.Level) }}">
            <div class="row">
                <div class="col-sm-8"><div class="name">{{ cat.Name }}</div></div>
                <div class="col-sm-1">{{ cat.Priority }}</div>
                <div class="col-sm-3" style="text-align:right;">
                    <div class="btn btn-primary btn-sm" ng-click="loadFormCategory(cat.CategoryID)">{{ i18n.btnEdit }}</div>
                    <div class="btn btn-danger btn-sm" ng-click="deleteCategory(cat.CategoryID)">{{ i18n.btnDelete }}</div>
                </div>
            </div>
        </li>
    </ul>
</div>


