﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Manage Log";
    @Styles.Render("~/Scripts/datetime-picker/DateTimePicker.css")
    @Scripts.Render("~/Scripts/manageLog");
}

<div class="manage-log-ctn" ng-controller="logCtrl">

    <!-- #region Search -->

    <div class="row">
        <div class="col-sm-3" style="margin-bottom:15px;">
            <div class="input-group">
                <span class="input-group-addon">From Date</span>
                <input type="text" class="form-control" ng-model="fromDate" style="background:#FFF;" data-field="date" readonly />
            </div>
        </div>
        <div class="col-sm-3" style="margin-bottom:15px;">
            <div class="input-group">
                <span class="input-group-addon">To Date</span>
                <input type="text" class="form-control" ng-model="toDate" style="background:#FFF;" data-field="date" readonly />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <span class="input-group-addon">Log type</span>
                <select ng-model="logType" ng-options="item.id as item.name for item in lstLogType" class="form-control">
                    
                </select>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="btn btn-sm btn-danger" ng-click="getList()">Get List</div>
        </div>
    </div>

    <div class="row" style="margin-top:15px;">
        
    </div>

    <div style="height:30px;"></div>
    
    <!-- #endregion -->

    <!-- #region List -->

    <h3 style="text-align:center;" ng-if="lstLog.length == 0">No Log Found</h3>

    <ul class="list-group">
        <li class="list-group-item" ng-if="lstLog.length > 0">
            <div style="text-align:right;font-weight:bold;" class="text-warning">
                Total: {{ totalRow }} record(s), page: {{ pageIndex }} / {{ totalPage }}
            </div>
        </li>

        <li class="list-group-item active desktop-block">
            <div class="row">
                <div class="col-sm-1"><h4 class="list-group-item-heading" style="text-align:center;">#</h4></div>
                <div class="col-sm-8"></div>
                <div class="col-sm-3"></div>
            </div>
        </li>

        <li class="list-group-item" ng-repeat="item in lstLog">
            <div class="row">
                <div class="col-xs-1" style="text-align:center;"><strong>{{ $index + 1 + (pageSize * (pageIndex - 1)) }}</strong></div>
                <div class="col-sm-3">
                    <strong class="text-danger">{{ item.CreateDate | formatDateFromJson | date : 'dd/MM/yyyy' }}</strong>
                </div>
                <div class="col-sm-3">User: {{ item.DisplayName }}</div>
                <div class="col-sm-3">LogType: {{ getLogTypeName(item.LogType) }}</div>

                <div class="col-sm-2" style="text-align:right;">
                    <div class="btn btn-sm btn-primary" ng-click="loadLogDetails(item)">Details</div>
                </div>
            </div>
        </li>
    </ul>

    <!-- #endregion -->

    <ul class="pagination" ng-if="totalPage > 1">
        <li ng-repeat="i in getPageArray() track by $index" class="{{ $index == (pageIndex - 1) ? 'active' : '' }}"><a ng-click="getList(null, $index + 1)" >{{ $index + 1 }}</a></li>
    </ul>
</div>


<div id="dtBox"></div>
<script>
    $(document).ready(function () {
        $('#dtBox').DateTimePicker(appHelpers.dtPickerOps);
    });
</script>