﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Styles.Render("~/Scripts/datetime-picker/DateTimePicker.css")
@Scripts.Render("~/Scripts/ManageOrders")


<div class="manage-order-ctn" ng-controller="odCtrl">

    <!-- #region Get By Date -->

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon addon-primary">{{ i18n.fromDate }}</span>
                    <input type="text" class="form-control txt-filter-startdate" ng-model="objFilter.startDate" data-field="date" readonly />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon addon-primary">{{ i18n.toDate }}</span>
                    <input type="text" class="form-control txt-filter-enddate" ng-model="objFilter.endDate" data-field="date" readonly />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group button-ctn">
                <div class="kgd-gb-btn primary wide btn btn-primary btn-date-range" style="margin:0;" ng-click="getOrder('date-range', 1)">{{ i18n.btnGetByDate }}</div>
            </div>
        </div>
    </div>

    <!-- #endregion -->

    <!-- #region Search -->

    <div style="clear:both;height:15px;"></div>

    <div class="row search-ctn">
        <div class="col-sm-4 ddl-ctn">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon addon-primary" style="font-weight:bold;">{{ i18n.searchBy }}</span>
                    <select class="form-control" style="border-top-right-radius:0;border-bottom-right-radius:0;" ng-model="objFilter.colName">
                        <option value="Email">Email</option>
                        <option value="Name">{{ i18n.name }}</option>
                        <option value="Phone">{{ i18n.phone }}</option>
                        <option value="OrderID">{{ i18n.orderid }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-4 txt-ctn">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control txt-keyword" ng-keypress="checkKeywordEnter($event)" style="border-top-left-radius:0;border-bottom-left-radius:0;" ng-model="objFilter.keyword" placeholder="{{ i18n.keywordPlaceHolder }}" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="getOrder('search', 1)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- #endregion -->

    <!-- #region Result -->

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-6">
                    <div style="text-align:left;font-weight:bold;" class="text-primary">
                        <span ng-if="objFilter.type == 'date-range'">{{ i18n.fromDate }}: {{ objFilter.startDate }} --> {{ objFilter.endDate }} </span>
                        <span ng-if="objFilter.type == 'search'">{{ i18n.searchBy }} {{ objFilter.colName }}. {{ i18n.keyword }}: {{ objFilter.keyword }}</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div ng-if="lstOrder.length > 0" style="text-align:right;font-weight:bold;" class="text-warning">
                        Total: {{ totalRow }}, page: {{ objFilter.pageIndex }} / {{ totalPage }}
                    </div>
                </div>
            </div>
        </li>

        <li class="list-group-item active desktop-block">
            <div class="row">
                <div class="col-sm-1"><h4 class="list-group-item-heading" style="text-align:center;">#</h4></div>
                <div class="col-sm-7"><h4 class="list-group-item-heading">{{ i18n.ordersInfo }}</h4></div>
                <div class="col-sm-4">&nbsp;</div>
            </div>
        </li>

        <li class="list-group-item {{ $index % 2 == 0 ? '' : 'gray' }}" ng-repeat="order in lstOrder track by $index">
            <div class="row">
                <div class="col-xs-1" style="text-align:center;"><strong>{{ $index + 1 + (objFilter.pageSize * (objFilter.pageIndex - 1)) }}</strong></div>
                <div class="col-sm-7">
                    <div class="pad-medium">{{ i18n.name }}: {{ order.Name }}</div>
                    <div class="pad-medium">Email: {{ order.Email }}</div>
                    <div class="pad-medium">{{ i18n.phone }}: {{ order.Phone }}</div>
                    <div class="pad-medium">{{ i18n.notes }}: {{ order.Overview }}</div>
                    <div class="pad-medium text-danger" style="font-weight:bold;">{{ i18n.totalPrice }}: {{ order.TotalPrice | formatVND }}</div>
                    <div class="pad-medium">{{ i18n.createDate }}: {{ order.CreateDate | formatDateFromJson | date : 'dd-MM-yyyy' }}</div>

                    <div class="pad-medium" ng-if="order.StatusName != ''"><span class="label label-primary">{{ order.StatusName }}</span></div>
                </div>
                <div class="col-sm-4">
                    <div class="btn btn-primary btn-sm" ng-click="viewOrderDetail(order.OrderID)">{{ i18n.btnViewDetails }}</div>
                    <div class="btn-group" style="margin:0;">
                        <button type="button" class="btn btn-success dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Status <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="objStatus in lstStatus"><a href="#" ng-click="updateStatus(order.OrderID, objStatus.StatusID)">{{ objStatus.Name }}</a></li>
                        </ul>
                    </div>
                    <div class="btn btn-danger btn-sm" ng-click="deleteOrder(order.OrderID)">Delete</div>
                </div>
            </div>
        </li>
    </ul>

    <!-- #endregion -->

    <ul class="pagination" ng-if="totalPage > 1">
        <li ng-repeat="i in getPageArray() track by $index" class="{{ $index == (objFilter.pageIndex - 1) ? 'active' : '' }}"><a ng-click="getOrder(null, $index + 1)">{{ $index + 1 }}</a></li>
    </ul>
</div>

<div id="dtBox"></div>

<script>
    $(document).ready(function () {
        $('#dtBox').DateTimePicker(appHelpers.dtPickerOps);
    });
</script>