﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Scripts.Render("~/Scripts/ManageBanner")


<div class="manage-banner-ctn" ng-controller="mbCtrl">
    <ul class="list-group">
        <li class="list-group-item list-group-item-info" data-id="-1">
            <div class="row">
                <div class="col-sm-4">&nbsp;</div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">{{ i18n.imageSize }}</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse <input type="file" class="fulPrimaryImage" multiple="multiple">
                                </span>
                            </span>
                            <input type="text" class="form-control browse-file-name base-bootstrap" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ i18n.priority }}</label>
                        <input type="text" class="form-control txt-priority" value="0" />
                    </div>
                </div>
                <div class="col-sm-2" style="text-align:right;">
                    <div class="btn btn-primary btn-sm" ng-click="updateBanner('-1')">Upload</div>
                </div>
            </div>
        </li>

        <li class="list-group-item" ng-repeat="banner in lstBanner | orderBy : 'Priority' : true" data-id="{{ banner.ContentID }}">
            <div class="row">
                <div class="col-sm-4">
                    <img ng-src="/s-media/{{ banner.PrimaryImage }}" class="primary-image" />
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">{{ i18n.selectImage }}</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse <input type="file" class="fulPrimaryImage">
                                </span>
                            </span>
                            <input type="text" class="form-control browse-file-name base-bootstrap" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ i18n.priority }}</label>
                        <input type="text" class="form-control txt-priority" value="{{ banner.Priority }}" />
                    </div>
                </div>
                <div class="col-sm-2" style="text-align:right;">
                    <div class="btn btn-primary btn-sm" ng-click="updateBanner(banner.ContentID)">{{ i18n.btnUpdate }}</div>
                    <div class="btn btn-danger btn-sm" ng-click="deleteBanner(banner.ContentID)">{{ i18n.btnDelete }}</div>
                </div>
            </div>
        </li>
    </ul>
</div>
