﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
@Scripts.Render("~/Scripts/ManageProduct")

<div class="manage-product-ctn" ng-controller="mpCtrl">
    @if (User.IsInRole("Host"))
    {
        <div style="text-align:right;">
            <a class="btn btn-danger" style="margin:0;" ng-click="recreateThumbs()">Re-create thumbs</a>
        </div>

        <div style="clear:both;height:20px;"></div>
    }

    <div class="row">
        <div class="col-md-5" ng-show="settings.showCategory">
            <div class="form-group">
                <select class="form-control my-dropdown" ng-model="objFilter.categoryID" ng-show="settings.showCategory" ng-change="loadProductByCategory('bycategory', 1, null)">
                    <option value="all">{{ i18n.allProducts }}</option>
                    <option value="-1">{{ i18n.noCategory }}</option>
                    <option ng-repeat="cat in lstCategory" value="{{ cat.CategoryID }}" data-class="level-{{ cat.Level }}" ng-selected="cat.CategoryID == objFilter.categoryID">{{ cat.Name }}</option>
                </select>
            </div>
        </div>
        <div class="col-md-7" ng-show="settings.showSearch">
            <div class="input-group">
                <span class="input-group-addon addon-primary" style="font-weight:bold;">{{ i18n.searchBy }}</span>
                <input type="text" class="form-control txt-keyword" ng-keypress="checkKeywordEnter($event)" placeholder="{{ i18n.keywordPlaceHolder }}" ng-model="objFilter.keyword" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="loadProductByCategory('search', 1, null)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </div>
    </div>

    <div style="clear:both;height:20px;"></div>

    <ul class="list-group">
        <li class="list-group-item">
            <div style="float:left;">
                <a class="btn btn-success" style="margin:0;" ng-click="loadFormProduct(-1)">{{ i18n.btnCreate }}</a>
            </div>

            <div style="float:right;text-align:right;font-weight:bold;margin-top:8px;" class="text-warning">
                Total: {{ totalRow }} record(s), page: {{ objFilter.pageIndex }} / {{ totalPage }}
            </div>

            <div style="clear:both;"></div>
        </li>

        <li class="list-group-item active desktop-block">
            <div class="row">
                <div class="col-sm-2"><h4 class="list-group-item-heading">{{ i18n.headerImage }}</h4></div>
                <div class="col-sm-8"><h4 class="list-group-item-heading">{{ i18n.headerInfo }}</h4></div>
                <div class="col-sm-2"></div>
            </div>
        </li>

        <li class="list-group-item {{ $index % 2 == 0 ? '' : 'gray' }}" ng-repeat="product in lstProduct | orderBy : objFilter.orderColumn : objFilter.orderDirection == 'desc' ? true : false">
            <div class="row">
                <div class="col-sm-2">
                    <img ng-src="/s-media/thumbs-{{ product.PrimaryImage }}" class="primary-image" />
                </div>
                <div class="col-sm-8">
                    <h4 class="text-primary">{{ product.Name }}</h4>
                    <div class="pad-medium" ng-if="product.OldPrice > 0">
                        {{ i18n.oldPrice }}: {{ product.OldPrice | formatVND }}
                    </div>
                    <div class="pad-medium" ng-if="product.CurrentPrice > 0">
                        {{ i18n.currentPrice }}: {{ product.CurrentPrice | formatVND }}
                    </div>
                    <div class="pad-medium">
                        {{ i18n.priority }}: {{ product.Priority }}
                    </div>
                    <div class="pad-medium" ng-if="product.Label != ''">
                        <span class="label label-warning">{{ product.Label | getProductLabel }}</span>
                    </div>
                </div>
                <div class="col-sm-2" style="text-align:right;">
                    <div class="btn btn-primary btn-sm" ng-click="loadFormProduct(product.ProductID)">{{ i18n.btnEdit }}</div>
                    <div class="btn btn-danger btn-sm" ng-click="deleteProduct(product.ProductID)">{{ i18n.btnDelete }}</div>
                </div>
            </div>
        </li>
    </ul>

    <ul class="pagination" ng-if="totalPage > 1">
        <li ng-repeat="i in getPageArray() track by $index" class="{{ $index == (objFilter.pageIndex - 1) ? 'active' : '' }}"><a ng-click="loadProductByCategory(null, $index + 1, null)">{{ $index + 1 }}</a></li>
    </ul>
</div>

