﻿
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string ContentType = "";
    if (Request.QueryString["type"] != null) { ContentType = Request.QueryString["type"].ToString(); }
}

@Scripts.Render("~/Scripts/MultiContentSimple")


<div class="multi-content-simple-ctn" ng-controller="mcsCtrl">
    @if (User.IsInRole("Host"))
    {
        <div style="text-align:right;">
            <a class="btn btn-danger" style="margin:0;" ng-click="recreateThumbs()">Re-create thumbs</a>
        </div>

        <div style="clear:both;height:20px;"></div>
    }


    @if (ContentType == "youtube")
    {
        <!-- #region Youtube Link -->

        <ul class="list-group">
            <li class="list-group-item list-group-item-info" data-id="-1">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="form-group col-sm-9">
                                <label class="control-label">Tên video</label>
                                <input type="text" class="form-control txt-name" min-length="1" data-msg="Chưa nhập tên" ng-model="curContent.Name" />
                            </div>

                            <div class="form-group col-sm-3">
                                <label class="control-label">Thứ tự</label>
                                <input type="text" class="form-control txt-priority" ng-model="curContent.Priority" numberic="true" data-msg="Thứ tự phải là số" value="0" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label">Link youtube</label>
                                <input type="text" value="0" class="form-control txt-link" min-length="1" data-msg="Chưa nhập link youtube" ng-model="curContent.Link" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label" style="width:100%;">&nbsp;</label>
                            <div class="btn btn-primary btn-sm" ng-click="updateContent('-1')">Lưu</div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-group-item {{ $index % 2 == 0 ? '' : 'gray' }}" ng-repeat="content in lstContent" data-id="{{ content.ContentID }}">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="form-group col-sm-9">
                                <label class="control-label">Tên video</label>
                                <input type="text" class="form-control txt-name" ng-model="content.Name" min-length="1" data-msg="Chưa nhập tên" />
                            </div>

                            <div class="form-group col-sm-3">
                                <label class="control-label">Thứ tự</label>
                                <input type="text" class="form-control txt-priority" numberic="true" data-msg="Thứ tự phải là số" ng-model="content.Priority" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label">Link youtube</label>
                                <input type="text" class="form-control txt-tag" ng-model="content.Link" min-length="1" data-msg="Chưa nhập link youtube" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label" style="width:100%;">&nbsp;</label>
                            <div class="btn btn-primary btn-sm" ng-click="updateContent(content.ContentID)">Cập nhật</div>
                            <div class="btn btn-danger btn-sm" ng-click="deleteContent(content.ContentID)">Xóa</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <!-- #endregion -->
    }
    else if (ContentType == "ext-link")
    {
        <!-- #region External Link -->

        <ul class="list-group">
            <li class="list-group-item list-group-item-info" data-id="-1">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-2">&nbsp;</div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label">Hình ảnh</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-primary btn-file">
                                                    Browse <input type="file" class="fulPrimaryImage" min-length="1" data-msg="Bạn chưa chọn hình ảnh">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control browse-file-name base-bootstrap" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-9">
                                        <label class="control-label">Tên</label>
                                        <input type="text" class="form-control txt-priority" min-length="1" data-msg="Bạn chưa nhập tên" ng-model="curContent.Name" />
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label class="control-label">Thứ tự</label>
                                        <input type="text" class="form-control txt-priority" numberic="true" data-msg="Thứ tự phải là số" ng-model="curContent.Priority" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label">Link</label>
                                        <input type="text" class="form-control txt-priority" min-length="1" data-msg="Bạn chưa nhập link" ng-model="curContent.Link" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label" style="width:100%;">&nbsp;</label>
                            <div class="btn btn-primary btn-sm" ng-click="updateContent('-1')">Lưu</div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-group-item {{ $index % 2 == 0 ? '' : 'gray' }}" ng-repeat="content in lstContent" data-id="{{ content.ContentID }}">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-2">
                                <img ng-src="/s-media/{{ content.PrimaryImage }}" style="max-width:100%;max-height:200px;" />
                            </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label">Chọn hình ảnh</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-primary btn-file">
                                                    Browse <input type="file" class="fulPrimaryImage">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control browse-file-name base-bootstrap" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-9">
                                        <label class="control-label">Tên</label>
                                        <input type="text" class="form-control txt-priority" min-length="1" data-msg="Bạn chưa nhập tên" ng-model="content.Name" />
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label class="control-label">Thứ tự</label>
                                        <input type="text" class="form-control txt-priority" numberic="true" data-msg="Thứ tự phải là số" ng-model="content.Priority" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label">Link</label>
                                        <input type="text" class="form-control txt-priority" min-length="1" data-msg="Bạn chưa nhập link" ng-model="content.Link" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label" style="width:100%;">&nbsp;</label>
                            <div class="btn btn-primary btn-sm" ng-click="updateContent(content.ContentID)">Cập nhật</div>
                            <div class="btn btn-danger btn-sm" ng-click="deleteContent(content.ContentID)">Xóa</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <!-- #endregion -->
    }
    else if (ContentType == "team")
    {
        <!-- #region Team Banner -->

        <ul class="list-group">
            <li class="list-group-item list-group-item-info" data-id="-1">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-2">&nbsp;</div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label">Hình ảnh</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-primary btn-file">
                                                    Browse <input type="file" class="fulPrimaryImage" min-length="1" data-msg="Bạn chưa chọn hình ảnh">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control browse-file-name base-bootstrap" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-9">
                                        <label class="control-label">Tên</label>
                                        <input type="text" class="form-control txt-priority" min-length="1" data-msg="Bạn chưa nhập tên" ng-model="curContent.Name" />
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label class="control-label">Thứ tự</label>
                                        <input type="text" class="form-control txt-priority" numberic="true" data-msg="Thứ tự phải là số" ng-model="curContent.Priority" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label">Chức vụ</label>
                                        <input type="text" class="form-control txt-priority" ng-model="curContent.Link" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label" style="width:100%;">&nbsp;</label>
                            <div class="btn btn-primary btn-sm" ng-click="updateContent('-1')">Lưu</div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-group-item {{ $index % 2 == 0 ? '' : 'gray' }}" ng-repeat="content in lstContent" data-id="{{ content.ContentID }}">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-2">
                                <img ng-src="/s-media/{{ content.PrimaryImage }}" style="max-width:100%;max-height:200px;" />
                            </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label">Chọn hình ảnh</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-primary btn-file">
                                                    Browse <input type="file" class="fulPrimaryImage">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control browse-file-name base-bootstrap" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-9">
                                        <label class="control-label">Tên</label>
                                        <input type="text" class="form-control txt-priority" min-length="1" data-msg="Bạn chưa nhập tên" ng-model="content.Name" />
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label class="control-label">Thứ tự</label>
                                        <input type="text" class="form-control txt-priority" numberic="true" data-msg="Thứ tự phải là số" ng-model="content.Priority" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label">Chức vụ</label>
                                        <input type="text" class="form-control txt-priority" ng-model="content.Link" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label" style="width:100%;">&nbsp;</label>
                            <div class="btn btn-primary btn-sm" ng-click="updateContent(content.ContentID)">Cập nhật</div>
                            <div class="btn btn-danger btn-sm" ng-click="deleteContent(content.ContentID)">Xóa</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <!-- #endregion -->
    }

    <ul class="pagination" ng-if="totalPage > 1">
        <li ng-repeat="i in getPageArray() track by $index" class="{{ $index == (pageIndex - 1) ? 'active' : '' }}"><a ng-click="getListContent($index + 1)">{{ $index + 1 }}</a></li>
    </ul>
</div>