﻿
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    string ContentType = "";
    if (Request.QueryString["type"] != null) { ContentType = Request.QueryString["type"].ToString(); }
}

@Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
@Scripts.Render("~/Scripts/SingleContent")

<div class="single-content-ctn" ng-controller="scCtrl">

    <div class="btn btn-warning" ng-click="loadFormDetailsImage()" ng-if="settings.detailsImage">{{ i18n.btnDetailsImage }}</div>

    @if (ContentType == "about-us")
    {
        <!-- #region About Us -->

        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Upload hình ảnh</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Browse <input type="file" class="fulPrimaryImage">
                                    </span>
                                </span>
                                <input type="text" class="form-control browse-file-name base-bootstrap" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <img ng-src="/s-media/{{ curContent.PrimaryImage }}" class="primary-image" style="max-width:100%;margin:0 0 10px;" />
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label">Tiêu đề</label>
                            <input type="text" class="form-control" min-length="1" data-msg="Chưa nhập tiêu đề" ng-model="curContent.Name" />
                        </div>

                        @*<div class="form-group">
                            <label class="control-label">Tóm tắt</label>
                            <textarea class="form-control" ng-model="curContent.Summary" style="height:150px;"></textarea>
                        </div>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Nội dung giới thiệu</label>

                            <div id="ckeDetails"></div>
                            <div id="ckeDetailsHTML" style="display:none;">{{ curContent.Details }}</div>
                        </div>
                    </div>
                </div>
                <div style="clear:both;height:20px;"></div>

                <div class="btn btn-primary btn-sm" ng-click="saveContent()">Save</div>
            </li>
        </ul>

        <!-- #endregion -->
    }
    else if (ContentType == "test-single")
    {
        <!-- #region Test Single -->

        <div class="well">
            <div style="width:30%;float:left;">
                <div class="form-group">
                    <label class="control-label">Upload hình ảnh</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Browse <input type="file" class="fulPrimaryImage">
                            </span>
                        </span>
                        <input type="text" class="form-control browse-file-name base-bootstrap" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <img ng-src="/s-media/{{ curContent.PrimaryImage }}" class="primary-image" style="max-width:100%;" />
                </div>
            </div>

            <div style="width:67%;float:right;">
                <div class="form-group">
                    <label class="control-label">Tiêu đề</label>
                    <input type="text" class="form-control" min-length="1" data-msg="Chưa nhập tiêu đề" ng-model="curContent.Name" />
                </div>

                <div class="form-group">
                    <label class="control-label">Tag words</label>
                    <input type="text" class="form-control" min-length="1" data-msg="Chưa nhập tag" ng-model="curContent.Tag" />
                </div>


                <div class="form-group">
                    <label class="control-label">Tóm tắt</label>
                    <textarea class="form-control" ng-model="curContent.Summary" style="height:150px;"></textarea>
                </div>

                <div style="clear:both;"></div>
            </div>

            <div style="clear:both;height:20px;"></div>

            <div class="btn btn-primary btn-sm" ng-click="saveContent()">Save</div>
        </div>

        <!-- #endregion -->
    }

    <!-- #region Extends Images -->

    <ul class="list-group extends-image" ng-if="settings.extendsImage">
        <li class="list-group-item active"><h4 class="list-group-item-heading">Hình ảnh phụ</h4></li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Select images</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse <input type="file" class="fulExtendsImages" multiple="multiple">
                                </span>
                            </span>
                            <input type="text" class="form-control browse-file-name base-bootstrap" readonly>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">&nbsp;</label>
                        <div class="input-group">
                            <div class="btn btn-primary" style="margin:0;" ng-click="uploadExtendsImages()">Upload</div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="clear:both;height:30px;"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="float-img-ctn" ng-repeat="objImg in lstExtendsImage">
                        <div class="btn-delete" ng-click="deleteExtendsImages(objImg.ContentID)">Delete</div>
                        <img ng-src="/s-media/{{ objImg.PrimaryImage }}" class="float-image" />
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <!-- #endregion -->
</div>

