﻿
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Scripts.Render("~/Scripts/SiteSettings")


<div class="site-settings-ctn" ng-controller="ssCtrl">
    <ul class="list-group">
        <li class="list-group-item list-group-item active"><h4 class="list-group-item-heading">{{ i18n.headerTitle }}</h4></li>

        <li class="list-group-item">
            <div class="row">
                <div class="form-group col-sm-5">
                    <img ng-src="/s-media/{{ siteSettings.Logo }}" style="max-width:100%;" />
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="form-group col-sm-8">
                            <label class="control-label">{{ i18n.selectLogo }}</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Browse <input type="file" class="fulLogo" multiple="multiple">
                                    </span>
                                </span>
                                <input type="text" class="form-control browse-file-name base-bootstrap" readonly>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label hidden-xs" style="width:100%;">&nbsp;</label>
                            <div class="btn btn-primary" ng-click="uploadLogo()">{{ i18n.btnUploadLogo }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">{{ i18n.companyName }}</label>
                    <input type="text" class="form-control" ng-model="siteSettings.CompanyName" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Slogan</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Slogan" />
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">{{ i18n.title }}</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Title" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Copyright</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Copyright" />
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Description</label>
                    <textarea class="form-control" ng-model="siteSettings.Description"></textarea>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Keywords</label>
                    <textarea class="form-control" ng-model="siteSettings.Keywords"></textarea>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Email</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Email" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">{{ i18n.address }}</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Address" />
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">{{ i18n.phone }}</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Phone" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Skype</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Skype" />
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Yahoo</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Yahoo" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Facebook</label>
                    <input type="text" class="form-control" ng-model="siteSettings.FaceBook" />
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">{{ i18n.cellPhone }}</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Cellphone" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Facebook</label>
                    <input type="text" class="form-control" ng-model="siteSettings.FaceBook" />
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Twitter</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Twitter" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Google+</label>
                    <input type="text" class="form-control" ng-model="siteSettings.GooglePlus" />
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">LinkedIn</label>
                    <input type="text" class="form-control" ng-model="siteSettings.LinkedIn" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Pinterest</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Pinterest" />
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Youtube</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Youtube" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Vimeo</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Vimeo" />
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Instagram</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Instagram" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Tumblr</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Tumblr" />
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Flickr</label>
                    <input type="text" class="form-control" ng-model="siteSettings.Flickr" />
                </div>
                <div class="form-group col-sm-6">

                </div>
            </div>
        </li>



        <li class="list-group-item list-group-item active" ng-show="isHost"><h4 class="list-group-item-heading">SMTP</h4></li>

        <li class="list-group-item" ng-show="isHost">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">SMTP Host</label>
                    <input type="text" class="form-control" ng-model="siteSettings.SMTPHost" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">SMTP Port</label>
                    <input type="text" class="form-control" ng-model="siteSettings.SMTPPort" />
                </div>
            </div>
        </li>

        <li class="list-group-item" ng-show="isHost">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" ng-model="siteSettings.SMTPUsername" />
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Password</label>
                    <input type="text" class="form-control" ng-model="siteSettings.SMTPPassword" />
                </div>
            </div>
        </li>

        <li class="list-group-item" ng-show="isHost">
            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="check-box">
                        <label>
                            <input type="checkbox" ng-model="siteSettings.SMTPEnableSSL" />
                            &nbsp;Enable SSL
                        </label>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="btn btn-primary btn-sm" ng-click="testSMTP()">Test SMTP</div>
                </div>
            </div>
        </li>



        <li class="list-group-item list-group-item active" ng-show="isHost"><h4 class="list-group-item-heading">Google services</h4></li>

        <li class="list-group-item" ng-show="isHost">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Map</label>
                    <textarea type="text" style="height:150px;" class="form-control" ng-model="siteSettings.GooleMap"></textarea>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Analytics</label>
                    <textarea class="form-control" style="height:150px;" ng-model="siteSettings.GoogleAnalytics"></textarea>
                </div>
            </div>
        </li>


        <li class="list-group-item list-group-item active" ng-show="isHost"><h4 class="list-group-item-heading">System</h4></li>

        <li class="list-group-item" ng-show="isHost">
            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="check-box">
                        <label>
                            <input type="checkbox" ng-model="siteSettings.EnableLog" />
                            &nbsp;Enable Logs
                        </label>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    
                </div>
            </div>
        </li>


        <li class="list-group-item">
            <div class="row">
                <div class="form-group col-sm-6">
                    <div class="btn btn-primary btn-sm" ng-click="saveSiteSettings()">{{ i18n.btnSave }}</div>
                </div>
                <div class="form-group col-sm-6">

                </div>
            </div>
        </li>
    </ul>

</div>