﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Scripts.Render("~/Scripts/SqlScript");

<div class="sql-script-ctn" ng-controller="sqlCtrl">
    <div class="well">
        <div class="form-group">
            <label class="control-label">Script text</label>
            <textarea class="form-control" style="height:300px;" ng-model="objQuery.sqlCommand"></textarea>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="objQuery.runAsScript" />
                &nbsp; Run as script
            </label>
        </div>

        <div class="btn btn-primary" ng-click="submitSql()">Submit</div>
    </div>

    <div style="width:100%;height:700px;overflow:auto">
        <table class="table" ng-if="lstResult.length > 0">
            <tr>
                <th>#</th>
                <th ng-repeat="(key, value) in lstResult[0]">{{ key }}</th>
            </tr>

            <tr ng-repeat="item in lstResult">
                <td>{{ $index + 1 }}</td>
                <td ng-repeat="(key, value) in item">{{ value }}</td>
            </tr>
        </table>
    </div>
</div>